{% extends 'report/_epc/_pageBase.html.twig' %}

{% block page %}
    {% set sumRow1 = monthsTable|length - 2 %}
    {% set sumRow2 = monthsTable|length-1 %}
    {% set sumRow2 = monthsTable|length %}
    {% set guaranteedExpected = (1 - (anlage.transformerTee + anlage.guaranteeTee) / 100 ) * anlage.contractualPower %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Basic Values</h3>
    <table class="basetable">
        <thead>
            <tr>
                <th style="min-width: 60px;">Start&nbsp;FAC</th>
                <th style="min-width: 60px;">End&nbsp;FAC</th>
                <!--<th>PR&nbsp;Design [%]</th>
                <th>PR&nbsp;Guaranteed [%]</th>-->
                <th>Expected Energy [kWh]</th>
                <th>Guaranteed Expected<br>Energy [kWh]</th>
                <th>Transformer reduction [%]</th>
                <th>Guarantee reduction [%]</th>
                <th>Plant Size as build [kWp]</th>
                <th>Plant Size as planed [kWp]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ anlage.facDateStart|date('d.m.Y') }}</td>
                <td>{{ anlage.facDate|date('d.m.Y') }}</td>
                <!--<td>{{ anlage.designPR|number_format(2, ',', '.') }}</td>
                <td>{{ anlage.contractualPR|number_format(2, ',', '.') }}</td>-->
                <td>{{ anlage.contractualPower|number_format(2, ',', '.') }}</td>
                <td>{{ guaranteedExpected|number_format(2, ',', '.') }}</td>
                <td>{{ anlage.transformerTee|number_format(2, ',', '.') }}</td>
                <td>{{ anlage.guaranteeTee|number_format(2, ',', '.') }}</td>
                <td>{{ anlage.kwPeak|number_format(2, ',', '.') }}</td>
                <td>{{ anlage.kwPeakPvSyst|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-50 float-left" >
        <div class="cell" style="margin-right: 10px;">
            <h3>Result {{ forcast.forcast }}</h3>
            <table class="basetable pldtable">
                <thead>
                <tr>
                    <th style="width: 140px">Parameter</th>
                    <th style="width: 100px">Value</th>
                    <th>Explanation</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Expected Enery [kWh]</td>
                        <td class="text-right">{{ forcast.expected_energy_forecast|number_format(2, ',', '.') }}</td>
                        <td>monatlich aktualisierter PVSYST-Ertrag über FAC Periode</td>
                    </tr>
                    <tr>
                        <td>Guaranteed Expected Energy [kWh]</td>
                        <td class="text-right">{{ forcast.guaranteed_energy_forecast|number_format(2, ',', '.') }}</td>
                        <td>Expected Energy - {{ anlage.transformerTee|number_format(2, ',', '.') }}% Trafoverlust - {{ anlage.guaranteeTee|number_format(2, ',', '.') }}% Sicherheitsabschlag</td>
                    </tr>
                    <tr>
                        <td>Measured Energy [kWh]</td>
                        <td class="text-right">{{ forcast.measured_energy_forecast|number_format(2, ',', '.') }}</td>
                        <td>Einspeisung am Grid meter, inklusive Forecast mit Risikoauf-/abschlägen</td>
                    </tr>
                    <tr>
                        <td>Difference Calculation [kWh]</td>
                        <td class="text-right">{{ forcast.difference_calc_forecast|number_format(2, ',', '.') }}</td>
                        <td>Measured Energy - guaranteed Expected Energy</td>
                    </tr>
                    <tr>
                        <td>Availability [%]</td>
                        <td class="text-right">{{ forcast.pa_forecast|number_format(2, ',', '.') }}</td>
                        <td>Verfügbarkeit nach Annex 5.2 incl. downtime-Korrektur </td>
                    </tr>
                    <tr class="strong">
                        <td>PLD [€]</td>
                        <td class="text-right">{{ forcast.pld_forecast|number_format(2, ',', '.') }}</td>
                        <td>{% if forcast.pld_forecast > 0 %}PLD Zahlung{% else %}Keine PLD Zahlung{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Percent Difference Calculation [%]</td>
                        <td class="text-right">{{ forcast.percent_diff_calc_forecast|number_format(2, ',', '.') }}</td>
                        <td>(Measured Energy - guar. Expected Energy) x 100 / guar. Expected Energy</td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td class="text-right">{{ forcast.ratio_forecast|number_format(2, ',', '.') }}</td>
                        <td>Measured Energy x 100 / guar. Expected Energy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-50 float-left">
        <div class="cell" style="margin-left: 10px;">
            <h3>Result {{ forcast.real }}</h3>
            <table class="basetable pldtable">
                <thead>
                <tr>
                    <th style="width: 140px">Parameter</th>
                    <th style="width: 100px">Value</th>
                    <th>Explanation</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Expected Energy [kWh]</td>
                        <td class="text-right">{{ forcast.expected_energy_real|number_format(2, ',', '.') }}</td>
                        <td>monatlich aktualisierter PVSYST-Ertrag über FAC Periode</td>
                    </tr>
                    <tr>
                        <td>Guaranteed Expected Energy [kWh]</td>
                        <td class="text-right">{{ forcast.guaranteed_energy_real|number_format(2, ',', '.') }}</td>
                        <td>Expected Energy - {{ anlage.transformerTee|number_format(2, ',', '.') }}% Trafoverlust - {{ anlage.guaranteeTee|number_format(2, ',', '.') }}% Sicherheitsabschlag</td>
                    </tr>
                    <tr>
                        <td>Measured Energy [kWh]</td>
                        <td class="text-right">{{ forcast.measured_energy_real|number_format(2, ',', '.') }}</td>
                        <td>Einspeisung am Grid meter, inklusive Forecast mit Risikoauf-/abschlägen</td>
                    </tr>
                    <tr>
                        <td>Difference Calculation [kWh]</td>
                        <td class="text-right">{{ forcast.difference_calc_real|number_format(2, ',', '.') }}</td>
                        <td>Measured Energy - guaranteed Expected Energy</td>
                    </tr>
                    <tr>
                        <td>Availability [%]</td>
                        <td class="text-right">{{ forcast.pa_real|number_format(2, ',', '.') }}</td>
                        <td>Verfügbarkeit nach Annex 5.2 incl. downtime-Korrektur </td>
                    </tr>
                    <tr class="strong">
                        <td>PLD [€]</td>
                        <td class="text-right">{{ forcast.pld_real|number_format(2, ',', '.') }}</td>
                        <td>{% if forcast.pld_real > 0 %}PLD Zahlung{% else %}Keine PLD Zahlung{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Percent Difference Calculation [%]</td>
                        <td class="text-right">{{ forcast.percent_diff_calc_real|number_format(2, ',', '.') }}</td>
                        <td>(Measured Energy - guar. Expected Energy) x 100 / guar. Expected Energy</td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td class="text-right">{{ forcast.ratio_real|number_format(2, ',', '.') }}</td>
                        <td>Measured Energy x 100 / guar. Expected Energy</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span class="clearfix"></span>
    <div style="height: 50px"></div>
    <div class="" style="text-align: center;">
        <svg width="500" height="41" viewBox="0 0 9929.0 952.0" xmlns="http://www.w3.org/2000/svg">
            <style>
                .ts3{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 100.0px;fill:rgb(255,200,200);pointer-events: none;}
                .ts2{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
                .ts1{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
            </style>
            <rect x="0" y="0" width="9930" height="952" style="fill:rgb(255,255,255);stroke-width:0;"/>
            <text x="45.0" y="720.0" class="ts1">PLD </text>
            <text x="608.0" y="720.0" class="ts2">=</text>
            <text x="778.0" y="720.0" class="ts1"> </text>
            <text x="924.0" y="402.0" class="ts1">Guarantied Expected Energy </text>
            <text x="4098.0" y="402.0" class="ts2">&#8722;</text>
            <text x="4268.0" y="402.0" class="ts1"> </text>
            <text x="4508.0" y="217.0" class="ts1">Measured Energy</text>
            <text x="4581.0" y="535.0" class="ts1">Plant Availability</text>
            <rect x="4489" y="313" width="1927" height="5" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M4465.0 55.0L4465.0 45.0C4403.39990234375 108.13470458984375 4365.0 185.6599884033203 4365.0 315.5C4365.0 445.34002685546875 4403.39990234375 522.8652954101562 4465.0 586.0L4465.0 576.0C4414.48779296875 515.1992797851562 4383.0 440.5400085449219 4383.0 315.5C4383.0 190.45999145507812 4414.48779296875 115.80070495605469 4465.0 55.0L4465.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M6440.0 55.0L6440.0 45.0C6501.60009765625 108.13470458984375 6540.0 185.6599884033203 6540.0 315.5C6540.0 445.34002685546875 6501.60009765625 522.8652954101562 6440.0 586.0L6440.0 576.0C6490.51220703125 515.1992797851562 6522.0 440.5400085449219 6522.0 315.5C6522.0 190.45999145507812 6490.51220703125 115.80070495605469 6440.0 55.0L6440.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <text x="2193.0" y="856.0" class="ts1">{% if anlage.pldDivisor == 'expected' %}Expected Energy{% else %}Guarantied Expected Energy{% endif %}</text>
            <rect x="905" y="630" width="5654" height="8" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <text x="6619.0" y="720.0" class="ts1"> x 100{% if anlage.isUsePnomForPld %} x Installed Power {% endif %} x {{ anlage.pldYield|number_format(2, ',', '.') }} €</text>
        </svg>
    </div>

    <span class="clearfix"></span>
    <div style="height: 50px"></div>
    <div class="col-50 float-left ">
        <div class="cell box" style="margin-right: 10px;">
            <svg width="500" height="41" viewBox="0 0 9929.0 952.0" xmlns="http://www.w3.org/2000/svg">
            <style>
                .ts3{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 100.0px;fill:rgb(255,200,200);pointer-events: none;}
                .ts2{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
                .ts1{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
            </style>
            <rect x="0" y="0" width="9930" height="952" style="fill:rgb(255,255,255);stroke-width:0;"/>
            <text x="0" y="720.0" class="ts1">{{ forcast.pld_forecast|number_format(2, ',', '.') }} €</text>
            <text x="1408.0" y="720.0" class="ts2">=</text>
            <text x="1578.0" y="720.0" class="ts1"> </text>
            <text x="1900.0" y="402.0" class="ts1">{{ forcast.guaranteed_energy_forecast|number_format(2, ',', '.') }}</text>
            <text x="4098.0" y="402.0" class="ts2">&#8722;</text>
            <text x="4268.0" y="402.0" class="ts1"> </text>
            <text x="4700.0" y="217.0" class="ts1">{{ forcast.measured_energy_forecast|number_format(2, ',', '.') }}</text>
            <text x="5100.0" y="535.0" class="ts1">{{ (forcast.pa_forecast / 100)|number_format(4, ',', '.') }}</text>
            <rect x="4489" y="313" width="1927" height="5" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M4465.0 55.0L4465.0 45.0C4403.39990234375 108.13470458984375 4365.0 185.6599884033203 4365.0 315.5C4365.0 445.34002685546875 4403.39990234375 522.8652954101562 4465.0 586.0L4465.0 576.0C4414.48779296875 515.1992797851562 4383.0 440.5400085449219 4383.0 315.5C4383.0 190.45999145507812 4414.48779296875 115.80070495605469 4465.0 55.0L4465.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M6440.0 55.0L6440.0 45.0C6501.60009765625 108.13470458984375 6540.0 185.6599884033203 6540.0 315.5C6540.0 445.34002685546875 6501.60009765625 522.8652954101562 6440.0 586.0L6440.0 576.0C6490.51220703125 515.1992797851562 6522.0 440.5400085449219 6522.0 315.5C6522.0 190.45999145507812 6490.51220703125 115.80070495605469 6440.0 55.0L6440.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
                <text x="2593.0" y="876.0" class="ts1">{% if anlage.pldDivisor == 'expected' %}{{ forcast.expected_energy_forecast|number_format(2, ',', '.') }}{% else %}{{ forcast.guaranteed_energy_forecast|number_format(2, ',', '.') }}{% endif %}</text>
            <rect x="1805" y="630" width="4750" height="8" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <text x="6700.0" y="720.0" class="ts1"> x 100{% if anlage.isUsePnomForPld %} x {{ anlage.kwPeak|number_format(2, ',', '.') }} {% endif %}x {{ anlage.pldYield|number_format(2, ',', '.') }} €</text>
        </svg>
        </div>
    </div>
    <div class="col-50 float-left">
        <div class="cell box" style="margin-left: 10px;">
            <svg width="500" height="41" viewBox="0 0 9929.0 952.0" xmlns="http://www.w3.org/2000/svg">
            <style>
                .ts3{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 100.0px;fill:rgb(255,200,200);pointer-events: none;}
                .ts2{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
                .ts1{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 240.0px;fill:rgb(0,0,0);pointer-events: none;}
            </style>
            <rect x="0" y="0" width="9930" height="952" style="fill:rgb(255,255,255);stroke-width:0;"/>
            <text x="0" y="720.0" class="ts1">{{ forcast.pld_real|number_format(2, ',', '.') }} €</text>
            <text x="1408.0" y="720.0" class="ts2">=</text>
            <text x="1578.0" y="720.0" class="ts1"> </text>
            <text x="1900.0" y="402.0" class="ts1">{{ forcast.guaranteed_energy_real|number_format(2, ',', '.') }}</text>
            <text x="4098.0" y="402.0" class="ts2">&#8722; </text>
            <text x="4268.0" y="402.0" class="ts1"> </text>
            <text x="4700.0" y="217.0" class="ts1">{{ forcast.measured_energy_real|number_format(2, ',', '.') }}</text>
            <text x="5100.0" y="535.0" class="ts1">{{ (forcast.pa_real / 100)|number_format(4, ',', '.') }}</text>
            <rect x="4489" y="313" width="1927" height="5" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M4465.0 55.0L4465.0 45.0C4403.39990234375 108.13470458984375 4365.0 185.6599884033203 4365.0 315.5C4365.0 445.34002685546875 4403.39990234375 522.8652954101562 4465.0 586.0L4465.0 576.0C4414.48779296875 515.1992797851562 4383.0 440.5400085449219 4383.0 315.5C4383.0 190.45999145507812 4414.48779296875 115.80070495605469 4465.0 55.0L4465.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <path d="M6440.0 55.0L6440.0 45.0C6501.60009765625 108.13470458984375 6540.0 185.6599884033203 6540.0 315.5C6540.0 445.34002685546875 6501.60009765625 522.8652954101562 6440.0 586.0L6440.0 576.0C6490.51220703125 515.1992797851562 6522.0 440.5400085449219 6522.0 315.5C6522.0 190.45999145507812 6490.51220703125 115.80070495605469 6440.0 55.0L6440.0 55.0" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <text x="2593.0" y="876.0" class="ts1">{% if anlage.pldDivisor == 'expected' %}{{ forcast.expected_energy_real|number_format(2, ',', '.') }}{% else %}{{ forcast.guaranteed_energy_real|number_format(2, ',', '.') }}{% endif %}</text>
            <rect x="1805" y="630" width="4750" height="8" style="fill:rgb(0,0,0);stroke-width:0;"/>
            <text x="6700.0" y="720.0" class="ts1"> x 100 {% if anlage.isUsePnomForPld %}x {{ anlage.kwPeak|number_format(2, ',', '.') }} {% endif %}x {{ anlage.pldYield|number_format(2, ',', '.') }} €</text>
        </svg>
        </div>
    </div>
{% endblock %}