{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
    <div id="owner" class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3 xlarge-up-4">
        {% for owner in content %}
            <div class="cell box shadow">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-6 ">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>{{ owner.firma }} {% if is_granted('ROLE_OPERATIONS_G4N') %}<span class="small"> ({{ owner.eignerId }})</span>{% endif %}</p>
                        <h6>{{ owner.vorname }} {{ owner.nachname }}</h6>
                    </div>
                    <div class="cell small-6 ">
                        <div class="grid-x align-right">
                            <div class="cell small-4">
                                <button class="button button-icon round-corner" onclick="location.href='{{ path('app_dashboard_plant', { eignerId: owner.eignerId, anlageId: '0' }) }}'"><i class="far fa-chart-bar"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                {% for plant in owner.activeAnlage(is_granted('ROLE_OPERATIONS_G4N')) %}
                    {% if plant.anlId in app.user.grantedList or is_granted('ROLE_OPERATIONS_G4N') %} {# nur anzeigen wenn Anlage für diesen aktuellen User freigegebn oder admin #}
                        {% set status = stati[plant.anlId] %}
                        <div class="grid-x grid-margin-x">
                            <div class="cell">
                                <h6><b>{{ plant.anlName }} </b>
                                    {% if is_granted('ROLE_OPERATIONS_G4N') %}
                                        <small><b>
                                            [{{ plant.configType }} | {{ plant.anlId }} / {{ plant.anlIntNr }} /  {% if plant.weatherStation is defined and plant.weatherStation.databaseIdent is defined %}{{ plant.weatherStation.databaseIdent }} {% endif %} / {{ plant.customPlantId }}]
                                        </b></small>
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                        <div class="grid-x grid-margin-x">
                            <div class="cell">
                                <ul class="statusLights">
                                    <li>
                                        <span class='label label-{{ status.ioPlantData.lastDataStatus }}' data-tooltip title='Last plant data {{ status.ioPlantData.lastRecStampIst }}'>IO plant</span>
                                    </li>
                                    <li>
                                        <span class='label label-{{ status.ioWeatherData.lastDataStatus }}' data-tooltip title='Last weather data {{ status.ioWeatherData.lastRecStampIst }}'>IO weather</span>
                                    </li>
                                    <li>
                                        <span class='label label-{{ status.paToday.paStatus }}' data-tooltip title='Plant Availability'>{% if plant.anlType == 'masterslave' %}Master Slave{% else %}PA: {{ status.paToday.pa|number_format(2) }}%{% endif %}</span>
                                    </li>
                                    <li>
                                        <span class='label label-{{ status.expDiff.expDiffStatus }}' data-tooltip title='Compare Act to Exp from Yesterday'>Act = {{ status.expDiff.expDiffValue|number_format(2) }}% of Exp</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascriptstop %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
