{% extends 'base.html.twig' %}

{% block title %}Import{% endblock %}

{% block body %}
    <div class="grid-container">
        <h1 class="text-center">Import</h1>

        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-8 large-6">

                {% for message in app.flashes('success') %}
                    <div class="callout success" data-closable>
                        {{ message }}
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="callout alert" data-closable>
                        {{ message }}
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}


                {{ form_start(form, {'attr': {'class': 'form-upload'}}) }}

                <div class="margin-bottom-1">
                    <label>Anlage
                        {{ form_widget(form.anlage, {'attr': {'class': 'input-group-field'}}) }}
                        {{ form_errors(form.anlage) }}
                    </label>
                </div>

                <div class="margin-bottom-1">
                    <label>File
                        {{ form_widget(form.file, {'attr': {'class': 'input-group-field'}}) }}
                        {{ form_errors(form.file) }}
                    </label>
                </div>


                <div class="grid-x align-right">
                    <div class="cell shrink">
                        <button type="submit" class="button">Importieren</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
