{% extends 'base.html.twig' %}
{% import 'macros/macros.library.html.twig' as macrolibrary %}

{% block title %}list Reports{% endblock %}

{% block body %}
    <div >
        <h1>List Report</h1>
        <div class="grid-x  " style="padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #5858fc; border-bottom: 1px solid #5858fc;">
            <div class="cell ">

                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-6">
                        <h4>Upload new Excel:</h4>
                        {{ form_start(uploadForm) }}
                        <div class="grid-x grid-padding-x align-middle">
                            <div class="cell auto">
                                {{ form_widget(uploadForm.anlage) }}
                            </div>
                            <div class="cell auto">
                                {{ form_widget(uploadForm.file) }}
                            </div>
                            <div class="cell auto">
                                {{ form_widget(uploadForm.submit, {'attr': {'class': 'button'}}) }}
                            </div>
                        </div>
                        {{ form_end(uploadForm) }}
                    </div>
                    <div class="cell small-12 medium-6">
                        <h4>Generate new Report:</h4>
                {{ form_start(createForm) }}

                <div class="grid-x grid-padding-x align-middle">
                    <div class="cell auto">
                        {{ form_widget(createForm.anlage) }}
                    </div>
                    <div class="cell auto">
                        {{ form_widget(createForm.month) }}
                    </div>
                    <div class="cell auto">
                        {{ form_widget(createForm.year) }}
                    </div>
                    <div class="cell auto">
                        {{ form_widget(createForm.submit, {'attr': {'class': 'button'}}) }}
                    </div>
                </div>

                {{ form_end(createForm) }}
                    </div>
            </div>
        </div>
    </div>
        <div class="grid-x " data-controller="anlagestring" style="padding-top: 20px;">
           <div class="cell"><h4>Search Report </h4></div>
            <div class="grid-x grid-padding-x" style="padding-bottom: 10px;">
                <div class="cell " >
                    <form data-action="submit->anlagestring#submitForm" >
                        <div class="grid-x grid-padding-x">
                            <div class="cell auto">
                                <select name="searchplant">
                                    <option value="-1" >Select Plant</option>
                                    {% for i in anlagen %}
                                        <option value="{{ i.anlId }}">   {{ i.anlName}}    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="cell auto">
                                <select name="searchmonth">
                                    <option value="" >Select Month</option>
                                    {% for i in range (1, 12) %}
                                        <option value="{{ i }}" >   {{ "%02d"|format(i) }}    </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="cell auto">
                                <select name="searchyear">
                                    <option value="" >Select Year</option>
                                    {% set isyear = 'now' | date('Y') %}
                                    {% for year in range (2020, isyear) %}
                                        <option value="{{ year }}" >  {{ year }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="cell medium-2">
                                <div class="input-group-button">
                <span data-tooltip tabindex="1" title="Search Report">
                 <button type="submit" title="Search Report" name="search" class="button action-icon tiny hollow shadow">
                    <span class="fa fa-search"></span>
                 </button>
                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% include 'anlage_string_assignment/tab_report.html.twig' %}
        </div>
    </div>
{% endblock %}

