
    <div class="cell "  data-anlagestring-target="list">
                <table class="table" >
                    <thead  style="border-bottom: 1px solid red;">
                    <tr>
                        <th>Report ID</th>
                        <th > Plant</th>
                        <th>Owner</th>
                        <th>created by</th>
                        <th >created at</th>
                        <th >Month</th>
                        <th >Year</th>
                        <th >Report Type</th>
                        <th >Status </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if reports is empty %}
                        <tr>
                            <td colspan="10">No file available</td>
                        </tr>
                    {% else %}
                        {% for report in reports %}
                            <tr>
                                <td>{{ report.id }}</td>
                                <td>{{ report.anlage.anlName }}  ({{ report.anlage.anlId}}) </td>
                                <td>{{ report.anlage.eigner.firma }}</td>
                                <td>{{ report.createdBy }}</td>
                                <td>{{ report.createdAt|date }}</td>
                                <td>{{ report.month }}</td>
                                <td>{{ report.year }}</td>
                                <td>
                                    {{ report.reportType }}
                                </td>
                                <td>final</td>
                                <td class="text-right">
                                    <div >
                                        <a href="{{ path('app_analysis_download_file', { fileName: report.file|url_encode }) }}" class="hollow button tiny action-icon shadow" target="_blank">
                                            <span class="fa fa-file-export"></span>
                                        </a>

                                        <button  data-action="click->anlagestring#delete"  data-anlagestring-fileName="{{ report.file|url_encode }}" data-anlagestring-reportid="{{ report.id }}" class="hollow alert button tiny action-icon shadow">
                                            <span class="fa fa-trash-alt"></span>
                                        </button>

                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
        {{ knp_pagination_render(reports, false, {}, {'controllerNameStimulus': 'anlagestring'}) }}
    </div>



