<div
        data-analysis-target="list">
    <div data-reload-content-target="content">

        <table class="table sortable stickyheader">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Plant</th>
                    <th>Firma</th>
                    <th {% if pagination.isSorted('report.createdBy') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'created by', ['report.createdBy'], {'data-action': 'report#sort'}) }}</th>
                    <th {% if pagination.isSorted('report.createdAt') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'created at', ['report.createdAt'], {'data-action': 'report#sort'}) }}</th>
                    <th {% if pagination.isSorted('report.month') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Month', ['report.month'], {'data-action': 'report#sort'}) }}</th>
                    <th {% if pagination.isSorted('report.year') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Year', ['report.year'], {'data-action': 'report#sort'}) }}</th>
                    <th {% if pagination.isSorted('report.reportType') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Type', ['report.reportType'], {'data-action': 'report#sort'}) }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for report in pagination %}
                {% if is_granted('ROLE_G4N') or report.reportStatus < 9 %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ report.anlage.anlId}}) {% endif %}</td>

                        {% if is_granted('ROLE_G4N') %}
                            <td>{{ report.anlage.eigner.firma }}</td>
                        {% endif %}

                        {% if is_granted('ROLE_G4N') %}
                            <td>{{ report.createdBy }}</td>
                        {% endif %}

                        <td>{{ report.createdAt|date }}</td>
                        <td>{{ report.month }}</td>
                        <td>{{ report.year }}</td>
                        <td>
                            {{ report.reportType }}
                            {% if report.reportType == 'epc-report' %} - {{ report.anlage.epcReportType }}{% endif %}
                        </td>
                        <td class="text-right">

                                <a href="{{ path('app_analysis_download', {id: report.id}) }}" class="hollow alert button tiny action-icon shadow"
                                   >
                                    <span class="fa fa-file-excel"></span>
                                </a>
                        </td>
                        <td class="text-right">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="#" class="hollow alert button tiny action-icon shadow"
                                            {{ stimulus_controller('submit-confirm', {
                                                title: 'Remove this analysis?',
                                                confirmButtonText: 'Yes, remove it',
                                                redirectUrl: path('app_analysis_delete', { id: report.id})
                                            }) }}
                                        data-action="submit-confirm#onSubmit">
                                        <span class="fa fa-trash-alt"></span>
                                    </a>
                                {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

{{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'analysis'}) }}

</div>
</div>