<div class="grid-x align-middle ticketsearchbar">
    <div class="cell medium-5" id="search-form" data-analysis-target="searchForm">
        <h4>Search Report:</h4>
        <div class="grid-x grid-padding-x">

            <div class="cell medium-4" >
                <input type="text" name="anlage" class="input-group-field js-autocomplete-plant" value="{{ anlage }}" placeholder="Search plants">
            </div>
            <div class="cell medium-4">
                <select name="searchmonth">
                    <option value=""   {% if month == '' %}   selected {% endif %}>Select Month</option>
                    {% for i in range (1, 12) %}
                        <option value="{{ i }}"  {% if month == i %}  selected {% endif %}>   {{ "%02d"|format(i)}}    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="cell medium-4">
                <select name="searchyear">
                    <option value=""  {% if searchyear == '' %}  selected {% endif %}>Select Year </option>
                    {% set isyear = 'now' | date('Y')  %}
                    {% for year in range (2020, isyear) %}
                        <option value="{{ year }}"  {% if searchyear == year %}  selected {% endif %}>  {{ year }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="cell medium-12">
                <div class="input-group-button" >
                <span data-tooltip tabindex="1" title="Search Report">
                 <button type="submit" title="Search Report" name="search" class="button action-icon tiny hollow shadow" value="yes" data-action="analysis#search">
                    <span class="fa fa-search"></span>
                 </button>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>