<div class="grid-x">
    <div class="cell">
        <div class="text-right">
            <table class="table" style="width: 100%;" >
                <thead>
                <tr>
                    <th class="text-left">Stamp</th>
                    <th class="text-right">Irr</th>
                    <th class="text-right">PA 0</th>
                    <th class="text-right">theo Power PA 0</th>
                    <th class="text-right">PA 1</th>
                    <th class="text-right">theo Power PA 0</th>
                    <th class="text-right">PA 2</th>
                    <th class="text-right">theo Power PA 0</th>
                    <th class="text-right">PA 3</th>
                    <th class="text-right">theo Power PA 0</th>
                </tr>
                </thead>
                <tbody>
                {% for stati in content.availability %}
                    <tr >
                        <td class="text-left">{{ stati.stamp|date("Y-m-d H:i") }} </td>
                        <td>{{ stati.irr|number_format(3, ',', '.') }}</td>
                        <td>{{ stati.pa0|number_format(4, ',', '.') }}</td>
                        <td>{{ stati.theoP_pa0|number_format(2, ',', '.') }}</td>
                        <td>{{ stati.pa1|number_format(4, ',', '.') }}</td>
                        <td>{{ stati.theoP_pa1|number_format(2, ',', '.') }}</td>
                        <td>{{ stati.pa2|number_format(4, ',', '.') }}</td>
                        <td>{{ stati.theoP_pa2|number_format(2, ',', '.') }}</td>
                        <td>{{ stati.pa3|number_format(4, ',', '.') }}</td>
                        <td>{{ stati.theoP_pa3|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

