<div class="cell small-12 medium-4" data-controller="select-inverters"  id="inverters">
    {# Select inverter stuff #}
    <div class="siClose" data-action="click->select-inverters#fadeOutElement">X</div>
    {% set edited = true %}
        {% if (invArray != null) %}
            <div class="grid-x">
                <div class="cell small-form">
                    {% if form.selectedChart == 'ac_act_overview' or (configtype == 1 and form.selectedChart == 'dc_current_overview') or (configtype == 1 and form.selectedChart == 'dc_voltage_1') %}
                        <h3>Trafostation List</h3>
                    {% else %}
                        <h3>Inverter List</h3>
                    {% endif %}
                    {% if (useRadioButtons == 0) %}
                        <div>
                            <input class="check-all" id="check-all" type="checkbox"
                                   data-action="click->select-inverters#selectAll"
                                   data-select-inverters-target="switch">
                            <label for="check-all">Select All</label>

                            <button class="button small no-margin hollow expanded" type="button" id="clearAll" data-action="click->select-inverters#unselectAll"
                                    data-select-inverters-target="switch">Clear All</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if (useRadioButtons == 0) %}
                <hr>
                <div class="grid-x small-up-2 medium-up-4 large-up-6 xlarge-up-9">
                    {% for key in trafoArray|keys %}
                        {% set trafo = trafoArray[key] %}
                        <div class="cell small-form">
                            <input id="trafo{{ loop.index }}"
                                   class="js-checkbox-trafo"
                                   data-select-inverters-first-param="{{ trafo.first }}"
                                   data-select-inverters-last-param="{{ trafo.last }}"
                                   data-select-inverters-trafo-param="{{ loop.index }}"
                                   data-action="click->select-inverters#checkTrafo" type="checkbox">
                            <label for="trafo{{ loop.index }}">TS {{ key }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <hr>
            <div class="grid-x small-up-2 medium-up-4 large-up-6 xlarge-up-9">
                {% for inverter in invArray %}
                    {% if (useRadioButtons == 0) %}
                        <div class="cell small-form" id="inverters-checkboxes">
                            {% set temp = inverter['invName']|replace({' ':''}) %}
                            <input id="{{ temp|replace({'.':'_'}) }}" type="hidden"
                                   class="js-hidden-{{ loop.index }}"
                                   value="{{ invIdsArray[loop.index]['invId'] }}">
                            <label for="I-{{ loop.index }}" class="invSelector">{{ inverter['invName'] }}</label>
                            <input id="I-{{ loop.index }}" type="checkbox"
                                   class="js-checkbox"
                                   name="{{ inverter['invName'] }}" {{ inverter['select'] }}
                                   data-action="click->select-inverters#checkSelect">
                        </div>
                    {% else %}
                        <div class="cell small-form" id="inverters-checkboxes">
                            {% set temp = inverter['invName']|replace({' ':''}) %}
                            <label for="I-{{ loop.index }}" class="invSelector">{{ inverter['invName'] }}</label>
                            <input id="I-{{ loop.index }}" type="radio"
                                   class="js-checkbox"
                                   name="inverterRadio"
                                   {% if (loop.index == form.inverterRadio) %}
                                       checked
                                   {% endif %}
                                   value="{{ invIdsArray[loop.index]['invId'] }}"
                                   data-action="click->select-inverters#checkSelect">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="button small no-margin hollow expanded" type="button" data-action="click->select-inverters#saveInverters"
                    data-select-inverters-target="switch">Submit your Selection</button>
        {% else %}
            No Inverters found to select
        {% endif %}
</div>
