{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }}special operations
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>{{ headline }}</h1>
        </div>
    </div>
    {% include'special_operations/_inc/_createForm.html.twig' %}

    {% if (output) %}
    <div class="grid-x">
        <div class="cell">
            {{ output|raw }}
        </div>
    </div>
    {% endif %}
    {% if (availabilitys) %}
        <div class="grid-x">
            <div class="cell">
                {{ availabilitys|raw }}
            </div>
        </div>
    {% endif %}

    {% if (output2) %}
    <div class="grid-x">
        <div class="cell">
           {{ output2|raw }}
        </div>
    </div>
    {% endif %}
{% endblock %}