{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}eGrid Import from Excel
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1 id="thechange">eGrid Import (Beta)</h1>
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'no'}}) }}

    <div class="grid-x grid-margin-x">
        <div class="cell medium-2">
            {{ form_row(form.anlage) }}
        </div>
        <div class="cell medium-2">
            {{ form_row(form.file) }}
        </div>
        <div class="cell medium-8">
            <div class="callout warning">
                <p>The file to be imported must be in 'xlsx' format (Excel).</p>
                <p>It must have the following column headers in the first row of the table: 'stamp' and 'e_z_evu', all other columns are ignored.</p>
                <p>The timestamp must be specified in 15 minute intervals. It must have the following format: 'YYYY-MM-DD HH:ii' (Example: '2024-08-05 15:45')</p>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x" style="min-height: 50vh;">
        <div class="cell medium-12">
            <div class="callout" >
                {{ output|raw }}
            </div>
            <div class="" style="max-height: 50vh; overflow-y: scroll;"
                    {{ stimulus_controller('tools-message', {
                        url: path('app_log_messages_list'),
                        refreshIntervale: 5000,
                    }) }}>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-4">
            {{ form_widget(form.calc) }}
            {{ form_widget(form.close) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
