{% if anlage.showEvuDiag %}
    {% set colspan = 1 %}
{% else %}
    {% set colspan = 0 %}
{% endif %}
<div id="exportModal"   style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000; padding:20px; background:white; border:1px solid #ccc; box-shadow:0px 0px 10px rgba(0,0,0,0.5); width:50%;">
    <h2 class="text-center">Monthly Report</h2>
    <div class="grid-x grid-padding-x">
        <div class="cell auto">
            <input type="text" id="exportFileName" class="input-group-field">
        </div>
        <div class="cell shrink">
            <button id="confirmExport" class="button success">Confirm</button>
            <button id="cancelExport" class="button alert">Cancel</button>
        </div>
    </div>

</div>
<div id="modalBackdrop" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:500;"></div>
<table id="special_export" class="basetable monthtable"> {# ID der table ist wichtig für Datatables Script - Export to Excel #}
    {% for day in report.days %}
    {% if loop.last %}{% set trstyle = ' class=strong' %}{% else %}{% set trstyle = '' %}{% endif %}
    {% if loop.first %}
    <thead>
    <tr class="left">
        <th class="border-right-2"></th>
        <th class="border-right-2" colspan="{{ 2 }}">Power  {% if anlage.useppc %}(PPC Corr.){% endif %}</th>
        <th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – default (OpenBook)</th>
        {% if anlage.settings.disableDep1 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – O&M</th>{% endif %}
        {% if anlage.settings.disableDep2 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – EPC</th>{% endif %}
        {% if anlage.settings.disableDep3 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – AM</th>{% endif %}
    </tr>
    <tr>
        <th class="border-right-2">Datum</th>

        <th>Inverter</th>
        <th class="border-right-2">G4N Expected</th>

        <th>Irr</th>
        <th>Irr (no PPC)</th>
        <th>Power Theo.</th>
        <th>Power eGrid</th>
        {% if anlage.showEvuDiag %}<th>PR Grid</th>{% endif %}
        <th>PR Inv.</th>
        <th>PR Exp.</th>
        <th class="border-right-2">PA</th>

        {% if anlage.settings.disableDep1 != true %}
            <th>Irr</th>
            <th>Irr(no PPC)</th>
            <th>Power Theo.</th>
            <th>Power eGrid</th>
            {% if anlage.showEvuDiag %}<th>PR Grid</th>{% endif %}
            <th>PR Inv.</th>
            <th>PR Exp.</th>
            <th class="border-right-2">PA</th>
        {% endif %}

        {% if anlage.settings.disableDep2 != true %}
            <th>Irr</th>
            <th>Irr (no PPC)</th>
            <th>Power Theo.</th>
            <th>Power eGrid</th>
            {% if anlage.showEvuDiag %}<th>PR Grid</th>{% endif %}
            <th>PR Inverter</th>
            <th>PR Exp.</th>
            <th class="border-right-2">PA</th>
        {% endif %}

        {% if anlage.settings.disableDep3 != true %}
            <th>Irr</th>
            <th>Irr (no PPC)</th>
            <th>Power Theo.</th>
            <th>Power eGrid</th>
            {% if anlage.showEvuDiag %}<th>PR Grid</th>{% endif %}
            <th>PR Inv.</th>
            <th>PR Exp.</th>
            <th class="border-right-2">PA</th>
        {% endif %}

    </tr>
    </thead>
    <tbody>
    {% endif %}
    <tr {{ trstyle }}>
        <td class="border-right-2">{{ day["datum"] }}</td>

{# {% if anlage.showEvuDiag %}<td>{% if anlage.useGridMeterDayData %}{{ day["powerEGridExt"]|number_format(2,',','.') }}{% else %}{{ day["powerEvu"]|number_format(2,',','.') }}{% endif %}</td>{% endif %} #}
        <td>{{ day["powerAct"]|number_format(2,',','.') }}</td>
        <td class="border-right-2">{{ day["powerExp"]|number_format(2,',','.') }}</td>

        <td>{{ day["irr0"]|number_format(4,',','.') }}</td>
        <td>{{ day["irrNoPpc0"]|number_format(4,',','.') }}</td>
        <td>{{ day["powerTheoDep0"]|number_format(2,',','.') }}</td>
        <td>{{ day["powerEvuDep0"]|number_format(2,',','.') }}</td>
        {% if anlage.showEvuDiag %}<td>{% if anlage.useGridMeterDayData %}{{ day["prDep0EGridExt"]|number_format(2,',','.') }}{% else %}{{ day["prDep0Evu"]|number_format(2,',','.') }}{% endif %}</td>{% endif %}
        <td>{{ day["prDep0Act"]|number_format(2,',','.') }}</td>
        <td>{{ day["prDep0Exp"]|number_format(2,',','.') }}</td>
        <td class="border-right-2">{{ day["pa0"]|number_format(3,',','.') }}</td>


        {% if anlage.settings.disableDep1 != true %}
            <td>{{ day["irr1"]|number_format(4,',','.') }}</td>
            <td>{{ day["irrNoPpc1"]|number_format(4,',','.') }}</td>
            <td>{{ day["powerTheoDep1"]|number_format(2,',','.') }}</td>
            <td>{{ day["powerEvuDep1"]|number_format(2,',','.') }}</td>
            {% if anlage.showEvuDiag %}<td>{% if anlage.useGridMeterDayData %}{{ day["prDep1EGridExt"]|number_format(2,',','.') }}{% else %}{{ day["prDep1Evu"]|number_format(2,',','.') }}{% endif %}</td>{% endif %}
            <td>{{ day["prDep1Act"]|number_format(2,',','.') }}</td>
            <td>{{ day["prDep1Exp"]|number_format(2,',','.') }}</td>
            <td class="border-right-2">{{ day["pa1"]|number_format(3,',','.') }}</td>
        {% endif %}

        {% if anlage.settings.disableDep2 != true %}
            <td>{{ day["irr2"]|number_format(4,',','.') }}</td>
            <td>{{ day["irrNoPpc2"]|number_format(4,',','.') }}</td>
            <td>{{ day["powerTheoDep2"]|number_format(2,',','.') }}</td>
            <td>{{ day["powerEvuDep2"]|number_format(2,',','.') }}</td>
            {% if anlage.showEvuDiag %}<td>{% if anlage.useGridMeterDayData %}{{ day["prDep2EGridExt"]|number_format(2,',','.') }}{% else %}{{ day["prDep2Evu"]|number_format(2,',','.') }}{% endif %}</td>{% endif %}
            <td>{{ day["prDep2Act"]|number_format(2,',','.') }}</td>
            <td>{{ day["prDep2Exp"]|number_format(2,',','.') }}</td>
            <td class="border-right-2">{{ day["pa2"]|number_format(3,',','.') }}</td>
        {% endif %}

        {% if anlage.settings.disableDep3 != true %}
            <td>{{ day["irr3"]|number_format(4,',','.') }}</td>
            <td>{{ day["irrNoPpc3"]|number_format(4,',','.') }}</td>
            <td>{{ day["powerTheoDep3"]|number_format(2,',','.') }}</td>
            <td>{{ day["powerEvuDep3"]|number_format(2,',','.') }}</td>
            {% if anlage.showEvuDiag %}<td>{% if anlage.useGridMeterDayData %}{{ day["prDep3EGridExt"]|number_format(2,',','.') }}{% else %}{{ day["prDep3Evu"]|number_format(2,',','.') }}{% endif %}</td>{% endif %}
            <td>{{ day["prDep3Act"]|number_format(2,',','.') }}</td>
            <td>{{ day["prDep3Exp"]|number_format(2,',','.') }}</td>
            <td class="border-right-2">{{ day["pa3"]|number_format(3,',','.') }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="left">
        <th class="border-right-2"></th>
        <th class="border-right-2" colspan="{{ 2 }}">Power  {% if anlage.useppc %}(PPC Corr.){% endif %}</th>
        <th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – default (OpenBook)</th>
        {% if anlage.settings.disableDep1 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – O&M</th>{% endif %}
        {% if anlage.settings.disableDep2 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – EPC</th>{% endif %}
        {% if anlage.settings.disableDep3 != true %}<th class="border-right-2" colspan="{{ colspan + 7 }}">PR & PA – AM</th>{% endif %}
    </tr>
    </tfoot>

</table>
