{% block JavaScripts %}
<script> function Display() {
        // Get the checkbox
        var checkBox = document.getElementById("exampleSwitch");
        // Get the output text
        var div = document.getElementById("midiv");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == false){
            div.style.visibility = "hidden";
        } else {
            div.style.visibility = "visible";
        }
    }
</script>
{% endblock %}

{{ form_start(ticketForm, {'attr': {'novalidate': 'no'}})}}

<div class="grid-x">
    <div class="cell medium-10">
        <ul class="tabs" data-tabs id="weather" data-deep-link="true">
            <li class="tabs-title is-active"><a href="#base" aria-selected="true">General</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="plant1">

                <fieldset class="fieldset">

                    <legend>Plant</legend>
                    <div class="grid-x grid-margin-x grid-padding-x">
                        <div class="cell medium-6 small-12">
                            {{ form_row(ticketForm.anlage) }}
                        </div>
                        <div class="cell medium-6 small-12">
                            {{ form_row(ticketForm.systemStatus) }}
                        </div>

                    </div>

                </fieldset>
                <fieldset class="fieldset">

                    <legend>Ticket</legend>
                    <div class="grid-x grid-margin-x grid-padding-x">
                        <div class="cell medium-6 small-12">
                            {{ form_row(ticketForm.begin) }}
                            {{ form_row(ticketForm.status) }}
                        </div>
                        <div class="cell medium-6 small-12">
                            {{ form_row(ticketForm.end) }}
                            {{ form_row(ticketForm.priority) }}
                        </div>
                        <div class="cell medium-12 small-12">
                            {{ form_row(ticketForm.description) }}
                            {{ form_row(ticketForm.freeText) }}
                            {{ form_row(ticketForm.answer) }}
                        </div>


                    </div>

                </fieldset>
                <h5>Show hidden mysteries?</h5>
                <div class="switch tiny cell medium-3 small-6">
                    <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch" onclick="Display()">
                    <label class="switch-paddle" for="exampleSwitch">
                        <span class="show-for-sr"></span>
                    </label>
                </div>
                <fieldset id="midiv" style="visibility: hidden" class="fieldset">


                    <div class="grid-x grid-margin-x grid-padding-x" >


                        <div class="cell medium-1 small-2">
                            {{ form_row(ticketForm.PR) }}
                            {{ form_row(ticketForm.PA) }}
                            {{ form_row(ticketForm.Yield) }}

                        </div>
                    </div>

                </fieldset>

                <div class="grid-x grid-margin-x grid-padding-x action-menu">
                    <div class="cell medium-12 small-12">
                        {{ form_widget(ticketForm.save) }}
                        {{ form_widget(ticketForm.saveclose) }}
                        {{ form_widget(ticketForm.close) }}
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

{{ form_end(ticketForm) }}