{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Tickets
{% endblock %}

{% block body %}
    <h1>List Tickets</h1>
    <div {{ stimulus_controller('ticket-list', {
                urlCreate: path('app_ticket_create'),
                urlSearch: path('app_ticket_list', { ajax: 1 }),
            }) }}
            id="list"
            data-ticket-list-target="ticketForm"
            class="ticket"
    >
        <div data-ticket-list-target="searchBar">
            <h3>Filter / Search by:</h3>
            {% include 'ticket/_inc/_searchForm.html.twig' %}
        </div>
        <div data-ticket-list-target="list">
            {% include 'ticket/_inc/_listTickets.html.twig' %}
        </div>
        <div class="cell medium-2">
            <button name="new-ticket" class="button" value="yes"
                    data-action="ticket-list#createTicket"
                    data-ticket-list-url-param="{{ path('app_ticket_create') }}">
                New Ticket
            </button>
        </div>

        <div class="reveal text-left large" id="modalCreate"
             data-ticket-list-target="modalCreate"
             data-v-offset = "10"
             data-append-to = "div#list"
             data-reveal
        >
            <h1>Create Ticket</h1>
            <div class="grid-x grid-padding-y">
                <div class="cell modal-body" data-ticket-list-target="modalCreateBody">
                    LOADING...
                </div>
            </div>
            <div class="grid-x grid-padding-y">
                <div class="cell text-right">
                    <button type="button" class="button secondary small" data-close>Cancel</button>
                    <button type="button" class="button small" data-action="ticket-list#saveTicket"
                            data-ticket-list-url-param="{{ path('app_ticket_create') }}"
                            data-ticket-list-target = "saveButton">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}