{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Tickets
{% endblock %}

{% block body %}
    <h1>List Tickets</h1>
    <div {{ stimulus_controller('ticket-list', {
                urlCreate: path('app_ticket_create'),
                urlSearch: path('app_ticket_list', { ajax: 1 }),
            }) }}
            id="list"
            data-ticket-list-target="ticketForm"
            class="ticket"
    >
        <div data-ticket-list-target="searchBar">
            <h3>Filter / Search by:</h3>
            {% include 'ticket/_inc/_searchForm.html.twig' %}
        </div>
        <div data-ticket-list-target="list">
            {% include 'ticket/_inc/_listTickets.html.twig' %}
        </div>
        <div class="cell medium-2">

            <div id="modal-form0" {{ stimulus_controller('ticket-edit', {
                    formUrl: path('app_ticket_create'),
                }) }}
            >
                <div class="cell medium-2">
                    <select name="anlage-id"
                            data-ticket-edit-target="anlage"
                            data-action="ticket-edit#toggle">
                        <option value="" disabled selected hidden>Please choose a Plant</option>
                        {% for anlage in anlagen %}
                            <option value="{{ anlage.anlId }}"{% if app.request.query.get('anlage-id') == anlage.anlId %} selected {% endif %}>{{ anlage.anlId }} - {{ anlage.anlName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button name="new-ticket" class="button"
                        disabled
                        data-ticket-edit-target="deactivable"
                        data-action="ticket-edit#openModal"
                >
                    New Ticket
                </button>
                {{ include('ticket/_inc/_modalTicket.html.twig', {
                    modalId: 0,
                    modalTitel: 'New Ticket',
                    class: 'large',
                    dataVOffset: '10',
                }) }}
            </div>
        </div>
    </div>
{% endblock %}