{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}



{% block title %}
    {{ parent() }}List Tickets
{% endblock %}

{% block body %}
    <h1>List Tickets</h1>
{# BEGINING OF THE SEARCHBAR #}
    <form>

        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-2" style="margin-top:-17px!important;">
                <input type="text" name="anlage" class="input-group-field js-autocomplete-plant" value="{{ anlage }}" placeholder="Search plants">
            </div>
            <div  class="cell medium-2"  style="margin-top:-17px!important;">
                <input type="text" name="user" class="input-group-field js-autocomplete-user" value="{{ user }}" placeholder="Search Editor">
            </div>
            <div class="cell medium-2 "  style="margin-top:-17px!important;">
                <input type="text" name="id" class="input-group-field" value="{{ id }}" placeholder="Search Ticket Id">
            </div>
            <div class="cell medium-1">
                <select name="prio" >
                    <option value="00"> Priority </option>
                    <option value="10" {% if prio == '10' %} selected {% endif %}>Low</option>
                    <option value="20" {% if prio == '20' %} selected {% endif %}>Normal</option>
                    <option value="30" {% if prio == '30' %} selected {% endif %}>High</option>
                    <option value="40" {% if prio == '40' %} selected {% endif %}>Urgent</option>
                </select>
            </div>
            <div class="cell medium-1">
                <select name="searchstatus" >
                    <option value="00"> Status </option>
                    <option value="10" {% if status == '10' %} selected {% endif %}>Open</option>
                    <option value="20" {% if status == '20' %} selected {% endif %}>Work in Progress</option>
                    <option value="30" {% if status == '30' %} selected {% endif %}>Closed</option>
                </select>
            </div>
            <div class="cell medium-1">
                <select name="searchtype" >
                    <option value="00"> Alert Type </option>
                    <option value="10" {% if status == '10' %} selected {% endif %}>Data GAP's</option>
                    <option value="20" {% if status == '20' %} selected {% endif %}>grid error</option>
                    <option value="30" {% if status == '30' %} selected {% endif %}>inverter error</option>
                </select>
            </div>
            <h4> </h4>
            <div class="input-group-button" style="height:35px !important; width:35px !important; padding:0; margin-top:-15px;">
                <button name="search" type="submit" class="button" value="yes"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>

    {# END OF THE SEARCHBAR #}
    <table class="table sortable">
        <thead>
        <tr>
            <th>Ticket ID</th>
            <th {% if pagination.isSorted('a.anlName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Plant', ['a.anlName']) }}
            </th>

            <th>Status</th>
            <th>Priority</th>
            <th {% if pagination.isSorted('ticket.editor') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Editor', ['ticket.editor']) }}</th>
            <th {% if pagination.isSorted('ticket.begin') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Begin', ['ticket.begin']) }}</th>
            <th {% if pagination.isSorted('ticket.end') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'End', ['ticket.end']) }}</th>
            {% if (is_granted('ROLE_DEV')) %}
                <th>Last Update</th>
            {% endif %}
            <th>Alert Categorie</th>
            <th>Alert Type</th>
            <th>Inverter</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in pagination %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ ticket.anlage.anlId }}) {% endif %}</td>
                <td>
                    {% if ticket.status == 10 %}
                        Open
                    {% elseif ticket.status == 20 %}
                        Work in progress
                    {% elseif ticket.status == 30 %}
                        Closed
                    {% endif %}
                </td>
                <td>
                    {% if ticket.priority == 10 %}
                        Low
                    {% elseif ticket.priority == 20 %}
                        Normal
                    {% elseif ticket.priority == 30 %}
                        High
                    {% elseif ticket.priority == 40 %}
                        Urgent
                    {% endif %}
                </td>
                <td>{{ ticket.editor }}</td>
                <td>{{ ticket.begin|date("Y-m-d H:i")}}</td>
                <td>{{ ticket.end|date("Y-m-d H:i") }}</td>
                {% if (is_granted('ROLE_DEV')) %}
                    <td>{{ ticket.updatedAt|date("Y-m-d H:i")  }}</td>
                {% endif %}
                <td>{{ ticket.errorType }}</td>
                <td>{{ ticket. }}</td>
                <td>{{ ticket.inverter }}</td>
                <td></td>
                <td class="text-right"> <a href=" {{ path('app_ticket_edit', { id: ticket.id }) }} "  class="hollow button tiny action-icon shadow"><span class="fa fa-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <div class="cell medium-2">

        <a href=" {{ path('app_ticket_create') }} "  class="button">Open Ticket</a>
    </div>
{% endblock %}