{% extends 'base.html.twig' %}

{% set alertName = 'Alert' %}
{% if app.user and app.user.owner %}
    {% if app.user.owner.id == 10004 or app.user.owner.id == 10009 %}
        {% set alertName = 'Ticket' %}
    {% endif %}
{% endif %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}{{ alertName }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>List {{ alertName }}s</h1>
    <div {{ stimulus_controller('ticket-list', {
                urlCreate: path('app_ticket_create'),
                urlSearch: path('app_ticket_list', { ajax: 1 }),

            }) }}
            id="list"
            data-ticket-list-target="ticketForm"
            class="ticket"
    >
    <div {{ stimulus_controller('request') }}>
        <div data-action="ticket-edit:success->ticket-list#update submit-confirm:async:submitted->ticket-list#update">
             <div data-ticket-list-target="searchBar" class="ticketsearchbar" >
                <div class="grid-x grid-margin-x align-top" >
                    {% include 'ticket/_inc/_searchForm.html.twig' %}
                </div>
            </div>
            <div data-ticket-list-target="list" >
                {% include 'ticket/_inc/_listTickets.html.twig' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}