{% extends 'base.html.twig' %}

{% block styles %}
    {{  parent() }}
    {{ encore_entry_link_tags('special_export') }}
    <link href="{{ absolute_url(asset('css/monthly_report_inline.css')) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    {{  parent() }}Download Data
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('download') }}
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Download Data</h1>
        </div>
    </div>
    {%  if section == 'data' %}
    {{ form_start(downloadForm, {'attr': {'novalidate': 'no'}}) }}
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-2">
                    {{ form_row(downloadForm.anlage) }}
                </div>
                <div class="cell medium-2">
                    {{ form_row(downloadForm.startDate) }}
                </div>
                <div class="cell medium-2">
                    {{ form_row(downloadForm.endDate) }}
                </div>
                <div class="cell medium-3">
                    {{ form_row(downloadForm.data) }}
                </div>
                <div class="cell medium-3">
                    {{ form_row(downloadForm.intervall) }}
                </div>
            </div>
            <div class="grid-x grid-margin-x grid-padding-x text-right">
                <div class="cell">
                    {{ form_widget(downloadForm.close) }}
                    {{ form_widget(downloadForm.calc) }}
                </div>
            </div>
            <div class="grid-x">
                <div class="cell">
                    <div class="callout" style="min-height: 50vh;">
                        {{ output|raw }}
                    </div>
                </div>
            </div>
        {{ form_end(downloadForm) }}
    {% endif %}
    {% if section == 'analyse' %}
        {{ form_start(downloadAnalysesForm, {'attr': {'novalidate': 'no'}}) }}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-2">
                {{ form_row(downloadAnalysesForm.anlage) }}
            </div>
            <div class="cell medium-2">
                {{ form_row(downloadAnalysesForm.years) }}
            </div>
            <div class="cell medium-2">
                {{ form_row(downloadAnalysesForm.months) }}
            </div>
            <div class="cell medium-3">
                {{ form_row(downloadAnalysesForm.days) }}
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x text-right">
            <div class="cell">
                {{ form_widget(downloadAnalysesForm.close) }}
                {{ form_widget(downloadAnalysesForm.calc) }}
            </div>
        </div>
        {{ form_end(downloadAnalysesForm) }}

        {{ form_start(downloadAnalysesExportForm, {'attr': {'novalidate': 'no'}}) }}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-2">
                <span style="display: none">{{ form_row(downloadAnalysesExportForm.anlageexport) }}</span>
                {{ form_row(downloadAnalysesExportForm.year) }}
                {{ form_row(downloadAnalysesExportForm.month) }}
                {{ form_row(downloadAnalysesExportForm.day) }}
                a<div id="download_buttons"></div>a
            </div>

        </div>

        {{ form_end(downloadAnalysesExportForm) }}
        <div class="grid-x">
            <div class="cell">
                <div class="callout" style="min-height: 50vh;">
                    {% if tableType == 'default' %}
                        <table id = "download" class="basetable monthtable" style="width: 100%; height: 100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>IRR<br><br>[kWh/m2]</th></th>
                                    {% if useGridMeterDayData %}
                                        <th>Grid meter.<br>extern<br>[kWh]</th>
                                    {% endif %}
                                    <th>Grid meter.<br><br>[kWh]</th>
                                    <th>AC  Inv.<br>yield<br>[kWh]</th>
                                    <th>DC  Inv.<br>power<br>[kWh]</th>
                                    <th>AC Exp.<br>Inv. yield<br>[kWh]</th>
                                    <th>DC Exp.<br>Inv. power<br>[kWh]</th>
                                    {% if useGridMeterDayData %}
                                        <th>PR Grid meter<br>extern<br>[%]</th>
                                    {% endif %}
                                    <th>PR Grid meter<br><br>[%]</th>
                                    <th>PR AC<br>Inv.<br>[%]</th>
                                    <th>PR Exp.<br>Inv.<br>[%]</th>
                                    {% if showAvailability %}
                                        <th>PA<br><br>[%]</th>
                                    {% endif %}
                                    {% if showAvailabilitySecond %}
                                        <th>PA 2<br><br>[%]</th>
                                    {% endif %}
                                    <th>Ø Temp<br>Panel<br>[°C]</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key,value in report %}
                                <tr>
                                    <td>{{ value.time }}</td>
                                    <td>{{ value.irradiation }}</td>
                                    {% if useGridMeterDayData %}
                                        <td>{{ value.powerEGridExtMonth }}</td>
                                    {% endif %}
                                    <td>{{ value.PowerEvuMonth }}</td>
                                    <td>{{ value.powerActMonth }}</td>
                                    <td>{{ value.powerDctMonth }}</td>
                                    <td>{{ value.powerExpMonth }}</td>
                                    <td>{{ value.powerExpDctMonth }}</td>
                                    {% if useGridMeterDayData %}
                                        <td>{{ value.prEGridExtMonth }}</td>
                                    {% endif %}
                                    <td>{{ value.prEvuMonth }}</td>
                                    <td>{{ value.prActMonth }}</td>
                                    <td>{{ value.prExpMonth }}</td>
                                    {% if showAvailability %}
                                        <td>{{ value.plantAvailability }}</td>
                                    {% endif %}
                                    {% if showAvailabilitySecond %}
                                        <td>{{ value.plantAvailabilitySecond }}</td>
                                    {% endif %}
                                    <td>{{ value.panneltemp }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if tableType == 'daybase' %}
                        <table id="download"  class="basetable monthtable" style="width: 100%; height: 100%">
                            <thead>
                            <tr>
                                <th>Date</th><th>IRR<br><br>[W/m2]</th><th>Grid meter<br>extern<br>[kWh]</th><th>AC  Inv.<br>yield<br>[kWh]</th><th>DC  Inv.<br>power<br>[kWh]</th><th>AC Exp.<br>Inv. yield<br>[kWh]</th><th>DC Exp.<br>Inv. power<br>[kWh]</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key,value in report %}
                                <tr>
                                    <td>{{ value.time }}</td>
                                    <td>{{ value.irradiation }}</td>
                                    <td>{{ value.powerEGridExt }}</td>
                                    <td>{{ value.powerAc }}</td>
                                    <td>{{ value.powerDc }}</td>
                                    <td>{{ value.powerExpAc }}</td>
                                    <td>{{ value.powerExpDc }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

