{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Overview</h3>
    <span class="subheadline" style="color: {{ anlage.eigner.fontColor3 }};">Resolution according to failure groups - {{ monthName }} {{ year }}</span>
    <table style="vertical-align: bottom; width: 50%">
        <tr style="width: 50%">
            <td style="width:50%">
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th class="table-center">Availability</th>
                        <th class="table-center">Planned</th>
                        <th class="table-center">Actual</th>
                        <th class="table-center" rowspan="2">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Operation year</th>
                        <th class="table-center">Expected</th>
                        <th class="table-center">Availability</th>
                    </tr>
                    <tr>
                        <th class="table-center">{{ monthName }} {{ year }}</th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> PA (Plant Availability) </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedAvailability'] - availabilityMonthTable['actualAvailability']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedSOF'] - availabilityMonthTable['actualSOF']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedEFOR'] - availabilityMonthTable['actualEFOR']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Grid Error/ Grid Off <sup><b> c</b></sup></td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedOMC'] - availabilityMonthTable['actualOMC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Data Gaps</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedGaps'] - availabilityMonthTable['actualGaps']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"><b>Total</b></td>
                        <td  class="tr_next_columns">{{ (availabilityMonthTable['expectedAvailability']
                            + availabilityMonthTable['expectedSOF']
                            + availabilityMonthTable['expectedEFOR']
                            + availabilityMonthTable['expectedOMC']
                            + availabilityMonthTable['expectedGaps']) |number_format(2, ',', '.')}} </td>

                        <td  class="tr_next_columns">{{ (availabilityMonthTable['actualAvailability']
                            + availabilityMonthTable['actualSOF']
                            + availabilityMonthTable['actualEFOR']
                            + availabilityMonthTable['actualOMC']
                            + availabilityMonthTable['actualGaps']) |number_format(2, ',', '.')}} </td>
                        <td  class="tr_next_columns">{{ ((availabilityMonthTable['actualAvailability']
                            + availabilityMonthTable['actualSOF']
                            + availabilityMonthTable['actualEFOR']
                            + availabilityMonthTable['actualOMC']
                            + availabilityMonthTable['actualGaps']) -
                            (availabilityMonthTable['expectedAvailability']
                            + availabilityMonthTable['expectedSOF']
                            + availabilityMonthTable['expectedEFOR']
                            + availabilityMonthTable['expectedOMC']
                            + availabilityMonthTable['expectedGaps']))|number_format(2, ',', '.') }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>


        </tr>
        <tr style="width: 50%">
            <td style="width: 50%">
                <table style="margin-top: 30px; width: 90%">
                    <thead>
                    <th>Type of Ticket</th>
                    <th>Tickets</th>
                    <th>15 min. cases</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.SOFTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.SOFQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.EFORTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.EFORQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns">Grid Error/Grid Off <sup><b> c</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.OMCTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.OMCQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns"> Data Gaps</td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.GapTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.DataGaps }}</td>
                    </tr>
                    </tbody>
                </table>

            </td>
        <tr>
            <td>
                <div style="text-align: left">
                    <sup><b>a</b></sup> Maintenance, SOR<br>
                    <sup><b>b</b></sup> Defects, EFOR<br>
                    <sup><b>c</b></sup> Availability is not effected, OMC
                </div>
            </td>
        </tr>
        {%  if (TicketAvailabilityMonthTable) %}
        <tr style="width: 50%">
            <td style="width: 50%">
                <table>
                    <thead>
                    <th></th>
                    {% if (anlage.eigner.features.aktDep1)  %}
                        {% if( not anlage.settings.disableDep1) %}
                            <th>O+M</th>
                        {% endif %}
                    {% endif %}
                    {% if (anlage.eigner.features.aktDep2) %}
                        {% if( not anlage.settings.disableDep2) %}
                            <th>EPC</th>
                        {% endif %}
                    {% endif %}
                    {% if (anlage.eigner.features.aktDep3) %}
                        {% if( not anlage.settings.disableDep3) %}
                            <th>AM</th>
                        {% endif %}
                    {% endif %}
                    <th> Open Book</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tr_next_columns"> PA[%]</td>
                        {% if (anlage.eigner.features.aktDep1) %}
                            {%  if ( not anlage.settings.disableDep1) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa1 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2 ) %}
                            {%  if ( not anlage.settings.disableDep2) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa2 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {%  if ( not anlage.settings.disableDep3) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa3 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        <td class="tr_next_columns"> {{ TicketAvailabilityMonthTable.pa0 |number_format(2, ',', '.')}}</td>
                    </tr>

                    <tr>
                        <td class="tr_next_columns">PR</td>
                        {% if (anlage.eigner.features.aktDep1 ) %}
                            {%  if ( not anlage.settings.disableDep1) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep1Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2)   %}
                            {%  if ( not anlage.settings.disableDep2) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep2Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {%  if ( not anlage.settings.disableDep3) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep3Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep0Act |number_format(2, ',', '.')}}</td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock page %}