{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Availability - Monthly Overview</h3>
    <span class="subheadline" style="color: {{ anlage.eigner.fontColor3 }};">Resolution according to failure groups - {{ month }} {{ year }}</span>
    <table >
        <tr>
            <td style="width:50%">
                <table style="width: 90%">
                    <thead>
                    <tr>
                        <th class="table-center"> Availability</th>
                        <th class="table-center"> Planned</th>
                        <th class="table-center"> Actual</th>
                        <th class="table-center" rowspan="2"> Difference </th>
                    </tr>
                    <tr>
                        <th class="table-center"> Operation year</th>
                        <th class="table-center"> Expected</th>
                        <th class="table-center">Availability</th>
                    </tr>
                    <tr>
                        <th class="table-center">{{ month }} {{ year|slice(2,3) }}</th>
                        <th class="table-center"> [%] </th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center">  [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> PA(Plant Availability) </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedAvailability'] - availabilityMonthTable['actualAvailability']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">SOF</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedSOF'] - availabilityMonthTable['actualSOF']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">EFOR <sup>a</sup> </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedEFOR'] - availabilityMonthTable['actualEFOR']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">OMC</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedOMC'] - availabilityMonthTable['actualOMC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"><b>Total</b></td>
                        <td  class="tr_next_columns">{{ (availabilityMonthTable['expectedAvailability']
                            +  availabilityMonthTable['expectedSOF']
                            + availabilityMonthTable['expectedEFOR']
                            + availabilityMonthTable['expectedOMC']) |number_format(2, ',', '.')}} </td>

                        <td  class="tr_next_columns">{{ (availabilityMonthTable['actualAvailability']
                            +  availabilityMonthTable['actualSOF']
                            + availabilityMonthTable['actualEFOR']
                            + availabilityMonthTable['actualOMC']) |number_format(2, ',', '.')}} </td>
                        <td  class="tr_next_columns">{{ ((availabilityMonthTable['actualAvailability']
                            +  availabilityMonthTable['actualSOF']
                            + availabilityMonthTable['actualEFOR']
                            + availabilityMonthTable['actualOMC']) -
                            (availabilityMonthTable['expectedAvailability']
                            +  availabilityMonthTable['expectedSOF']
                            + availabilityMonthTable['expectedEFOR']
                            + availabilityMonthTable['expectedOMC']))|number_format(2, ',', '.') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="text-align: left">
                    <sup><b>a </b></sup><b>From this EFOR errors a {{ availabilityMonthTable['actualGaps'] |number_format(2, ',', '.') }}% are Data Gaps </b>
                </div>
            </td>
            <td style="width:25%">
                {{ plant_availability|raw }}
            </td>
            <td style="width:25%">
                {{ fails_month|raw }}
            </td>

        </tr>
    </table>
{% endblock page %}