{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Overview</h3>
    <span class="subheadline" style="color: {{ anlage.eigner.fontColor3 }};">Resolution according to failure groups - {{ monthName }} {{ year }}</span>
    <table style="vertical-align: bottom">
        <tr >
            <td style="width: 50%">
                <table style="width: 90%">
                    <thead>
                    <tr>
                        <th class="table-center">Availability</th>
                        <th class="table-center">Planned<sup><b>d</b></sup></th>
                        <th class="table-center">Actual<sup><b>e</b></sup></th>
                        <th class="table-center" rowspan="2">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Operation year</th>
                        <th class="table-center">Expected</th>
                        <th class="table-center">Availability</th>
                    </tr>
                    <tr>
                        <th class="table-center">{{ monthName }} {{ year }}</th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> PA (Plant Availability) </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedAvailability'] - availabilityMonthTable['actualAvailability']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedSOF'] - availabilityMonthTable['actualSOF']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> </td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedEFOR'] - availabilityMonthTable['actualEFOR']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Grid Error <sup><b> c</b></sup></td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedOMC'] - availabilityMonthTable['actualOMC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">PPC Errors</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedPPC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualPPC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedPPC'] - availabilityMonthTable['actualPPC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Data Gaps</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['expectedGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ availabilityMonthTable['actualGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (availabilityMonthTable['expectedGaps'] - availabilityMonthTable['actualGaps']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 50%">
                <table >
                    <thead>
                    <tr>
                        <th style="text-align: center" class="table-center" colspan="2" rowspan="3">
                            <b>Production / Plan and loss values</b>
                        </th>
                        <th style="text-align: center" class="table-center" rowspan="3">
                            <b>kWh</b>
                        </th>
                        <th style="text-align: center" class="table-center">
                            <b>Relative to</b>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center" class="table-center">
                            <b>G4N Expected </b>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center" class="table-center">
                            <b>%</b>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center" class="tr_next_columns" rowspan="2"> Actual Values</td>
                        <td style="text-align: left" class="tr_next_columns">  Production - Actual</td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['ActualPower'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>

                        <td style="text-align: left" class="tr_next_columns"> Expected G4N (Corrected by KPI's)</td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['G4NExpected'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    {% if (anlage.hasPVSYST == true) %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" > Planned Values</td>
                            <td style="text-align: left" class="tr_next_columns"> Forecast</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" > Planned Values</td>
                            <td style="text-align: left" class="tr_next_columns"> Forecast </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: center" class="tr_next_columns" rowspan="5"> Type of Ticket</td>
                        <td style="text-align: left" class="tr_next_columns">  SOR Losses - Planned Outage</td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['SORLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> EFOR Losses - Unplanned Outage </td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['EFORLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> OMC Losses - Grid Error  </td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['OMCLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> PPC Losses </td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['PPCLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['PPCLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> Data Gaps </td>
                        <td class="tr_next_columns">{{ monthlyLossesHelpTable['GapLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ percentageTableMonth['GapLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>


        </tr>
        <tr>
            <td >
                <table style="margin-top: 30px; width: 90%">
                    <thead>
                    <th>Type of Ticket</th>
                    <th>Tickets</th>
                    <th>15 min. cases</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.SOFTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.SOFQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.EFORTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.EFORQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns">Grid Error<sup><b> c</b></sup></td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.OMCTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.OMCQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns"> PPC </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.PPCTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.PPCQuarters }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns"> Data Gaps</td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.GapTickets }} </td>
                        <td class="tr_next_columns"> {{ ticketCountTableMonth.DataGaps }}</td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr >
            <td>
                <div style="text-align: left">
                    <sup><b>a</b></sup> Maintenance, SOR<br>
                    <sup><b>b</b></sup> Defects, EFOR<br>
                    <sup><b>c</b></sup> Availability is not effected, OMC<br>
                    <sup><b>d</b></sup> Actual availability: the ratio of 15min time steps with production and total 15min time steps<br>
                    <sup><b>e</b></sup> Planned availability: the contractual availability (cf. explanation page)
                </div>
            </td>
        </tr>
        {%  if (TicketAvailabilityMonthTable) %}
        <tr >
            <td style="width: 50%">
                <table>
                    <thead>
                    <th></th>
                    {% if (anlage.eigner.features.aktDep1)  %}
                        {% if( not anlage.settings.disableDep1) %}
                            <th>O+M</th>
                        {% endif %}
                    {% endif %}
                    {% if (anlage.eigner.features.aktDep2) %}
                        {% if( not anlage.settings.disableDep2) %}
                            <th>EPC</th>
                        {% endif %}
                    {% endif %}
                    {% if (anlage.eigner.features.aktDep3) %}
                        {% if( not anlage.settings.disableDep3) %}
                            <th>AM</th>
                        {% endif %}
                    {% endif %}
                    <th> Open Book</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tr_next_columns"> PA[%]</td>
                        {% if (anlage.eigner.features.aktDep1) %}
                            {%  if ( not anlage.settings.disableDep1) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa1 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2 ) %}
                            {%  if ( not anlage.settings.disableDep2) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa2 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {%  if ( not anlage.settings.disableDep3) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.pa3 |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        <td class="tr_next_columns"> {{ TicketAvailabilityMonthTable.pa0 |number_format(2, ',', '.')}}</td>
                    </tr>

                    <tr>
                        <td class="tr_next_columns">PR</td>
                        {% if (anlage.eigner.features.aktDep1 ) %}
                            {%  if ( not anlage.settings.disableDep1) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep1Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2)   %}
                            {%  if ( not anlage.settings.disableDep2) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep2Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {%  if ( not anlage.settings.disableDep3) %}
                                <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep3Act |number_format(2, ',', '.')}}</td>
                            {% endif %}
                        {% endif %}
                        <td class="tr_next_columns">{{ TicketAvailabilityMonthTable.prDep0Act |number_format(2, ',', '.')}}</td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock page %}
