{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}
{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Annual Overview - {{ year }}</h3>
    <table style="width: 100%">
        <tr style="width: 100%">
            <td style="width: 50%">
                <table style="width: 90%">
                    <thead>
                    <tr>
                        <th class="table-center">Availability</th>
                        <th class="table-center">Planned<sup><b>d</b></sup></th>
                        <th class="table-center">Actual<sup><b>e</b></sup></th>
                        <th class="table-center" rowspan="2">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Operation year</th>
                        <th class="table-center">Expected</th>
                        <th class="table-center">Availability</th>
                    </tr>
                    <tr>
                        <th class="table-center"> Jan - {{ monthName }} {{ year }}</th>
                        <th class="table-center"> [%] </th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">PA (Plant Availability) </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedAvailability'] - Availability_Year_To_Date_Table['actualAvailability']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedSOF'] - Availability_Year_To_Date_Table['actualSOF']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedEFOR'] - Availability_Year_To_Date_Table['actualEFOR']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Grid Error <sup><b> c</b></sup></td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedOMC'] - Availability_Year_To_Date_Table['actualOMC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">PPC Error </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedPPC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualPPC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedPPC'] - Availability_Year_To_Date_Table['actualPPC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Data Gaps </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualGaps'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedGaps'] - Availability_Year_To_Date_Table['actualGaps']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td style="width: 50%"> <table >
                    <thead>
                    <tr>
                        <th style="text-align: center" class="table-center" colspan="2" rowspan="3">
                            <b>Production / Plan and loss values</b>
                        </th>
                        <th style="text-align: center" class="table-center" rowspan="3">
                            <b>kWh</b>
                        </th>
                        <th style="text-align: center" class="table-center">
                            <b>Relative to</b>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center" class="table-center">
                            <b>g4n Expected</b>
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center" class="table-center">
                            <b>%</b>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center" class="tr_next_columns" rowspan="2"> Actual Values</td>
                        <td style="text-align: left" class="tr_next_columns">  Production - Actual</td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['ActualPower'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> Expected G4N </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['G4NExpected'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    {% if ((anlage.hasPVSYST == true) == true) %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" rowspan="2"> Planned Values</td>
                            <td style="text-align: left" class="tr_next_columns"> Forecast </td>
                            <td class="tr_next_columns">{{ yearLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ PercentageTableYear['forecast'] |number_format(2, ',', '.') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns"> Planned Values</td>
                            <td style="text-align: left" class="tr_next_columns"> Forecast</td>
                            <td class="tr_next_columns">{{ yearLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ PercentageTableYear['forecast'] |number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: center" class="tr_next_columns" rowspan="5"> Type of Ticket</td>
                        <td style="text-align: left" class="tr_next_columns">  SOR Losses - Planned Outage</td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['SORLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> EFOR Losses - Unplanned Outage </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['EFORLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> OMC Losses - Grid Error  </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['OMCLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> PPC Losses </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['PPCLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['PPCLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> Data Gap </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['GapLosses'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['GapLosses'] |number_format(2, ',', '.') }}</td>
                    </tr>

                    </tbody>
                </table>
            </td>

        </tr>
        <tr style="width: 100%">
            <td style="width: 50%">
                <table style="margin-top: 30px; width: 90%">
                    <thead>
                        <th>Type of Ticket</th>
                        <th> Tickets</th>
                        <th> 15 min. cases</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.SOFTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.SOFQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.EFORTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.EFORQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error <sup><b> c</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.OMCTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.OMCQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns"> PPC</td>
                            <td class="tr_next_columns"> {{ ticketCountTable.PPCTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.PPCQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Data Gaps </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.GapTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.GapQuarters }}</td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr style="width: 100%">
            <td>
                <div style="text-align: left">
                    <sup><b>a</b></sup> Maintenance, SOR<br>
                    <sup><b>b</b></sup> Defects, EFOR<br>
                    <sup><b>c</b></sup> Availability is not effected, OMC<br>
                    <sup><b>d</b></sup> Actual availability: the ratio of 15min time steps with production and total 15min time steps<br>
                    <sup><b>e</b></sup> Planned availability: the contractual availability (cf. explanation page)
                </div>
            </td>
        </tr>
        {%  if (TicketAvailabilityYearTable) %}
            <tr >
                <td style="width: 50%">
                    <table style="margin-top: 30px; width: 90%">
                        <thead>
                        <th></th>
                        {% if (anlage.eigner.features.aktDep1) %}
                            {% if (not anlage.settings.disableDep1) %}
                                <th>O+M</th>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2) %}
                            {% if (not anlage.settings.disableDep2) %}
                                <th>EPC</th>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {% if (not anlage.settings.disableDep3) %}
                                <th>AM</th>
                            {% endif %}
                        {% endif %}
                        <th> Open Book</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_next_columns"> PA[%] </td>
                            {% if (anlage.eigner.features.aktDep1) %}
                                {% if (not anlage.settings.disableDep1) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa1 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep2) %}
                                {% if (not anlage.settings.disableDep2) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa2 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep3) %}
                                {% if (not anlage.settings.disableDep3) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa3 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            <td class="tr_next_columns"> {{ TicketAvailabilityYearTable.pa0 |number_format(2, ',', '.')}}</td>
                        </tr>

                        <tr>
                            <td class="tr_next_columns">PR[%]</td>

                            {% if (anlage.eigner.features.aktDep1) %}
                                {% if (not anlage.settings.disableDep1) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep1Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep2) %}
                                {% if (not anlage.settings.disableDep2) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep2Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep3) %}
                                {% if (not anlage.settings.disableDep3) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep3Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep0Act |number_format(2, ',', '.') }}</td>

                        </tr>

                        </tbody>

                    </table>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock page %}