{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}
{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Yearly Overview - {{ year }}</h3>
    <table style="width: 50%">
        <tr style="width: 50%">
            <td style="width: 50%">
                <table style="width: 90%">
                    <thead>
                    <tr>
                        <th class="table-center">Availability</th>
                        <th class="table-center">Planned</th>
                        <th class="table-center">Actual</th>
                        <th class="table-center" rowspan="2">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Operation year</th>
                        <th class="table-center">Expected</th>
                        <th class="table-center">Availability</th>
                    </tr>
                    <tr>
                        <th class="table-center"> Jan - {{ monthName }} {{ year }}</th>
                        <th class="table-center"> [%] </th>
                        <th class="table-center"> [%]</th>
                        <th class="table-center"> [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">PA (Plant Availability) </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualAvailability'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedAvailability'] - Availability_Year_To_Date_Table['actualAvailability']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualSOF'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedSOF'] - Availability_Year_To_Date_Table['actualSOF']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup> </td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualEFOR'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedEFOR'] - Availability_Year_To_Date_Table['actualEFOR']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['expectedOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ Availability_Year_To_Date_Table['actualOMC'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns"> {{ (Availability_Year_To_Date_Table['expectedOMC'] - Availability_Year_To_Date_Table['actualOMC']) |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"><b>Total</b></td>
                        <td  class="tr_next_columns">{{ (Availability_Year_To_Date_Table['expectedAvailability']
                            +  Availability_Year_To_Date_Table['expectedSOF']
                            + Availability_Year_To_Date_Table['expectedEFOR']
                            + Availability_Year_To_Date_Table['expectedOMC']) |number_format(2, ',', '.')}} </td>

                        <td  class="tr_next_columns">{{ (Availability_Year_To_Date_Table['actualAvailability']
                            +  Availability_Year_To_Date_Table['actualSOF']
                            + Availability_Year_To_Date_Table['actualEFOR']
                            + Availability_Year_To_Date_Table['actualOMC']) |number_format(2, ',', '.')}} </td>
                        <td  class="tr_next_columns">{{ ((Availability_Year_To_Date_Table['actualAvailability']
                            +  Availability_Year_To_Date_Table['actualSOF']
                            + Availability_Year_To_Date_Table['actualEFOR']
                            + Availability_Year_To_Date_Table['actualOMC']) -
                            (Availability_Year_To_Date_Table['expectedAvailability']
                            +  Availability_Year_To_Date_Table['expectedSOF']
                            + Availability_Year_To_Date_Table['expectedEFOR']
                            + Availability_Year_To_Date_Table['expectedOMC']))|number_format(2, ',', '.') }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>

        </tr>
        <tr style="width: 50%">
            <td style="width: 50%">
                <table style="margin-top: 30px; width: 90%">
                    <thead>
                        <th>Type of Ticket</th>
                        <th> Tickets</th>
                        <th> 15 min. cases</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.SOFTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.SOFQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.EFORTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.EFORQuarters }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                            <td class="tr_next_columns"> {{ ticketCountTable.OMCTickets }} </td>
                            <td class="tr_next_columns"> {{ ticketCountTable.OMCQuarters }}</td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr style="width: 50%">
            <td>
                <div style="text-align: left">
                    <sup><b>a</b></sup> Maintenance, SOR<br>
                    <sup><b>b</b></sup> Defects, EFOR<br>
                    <sup><b>c</b></sup><b> From this EFOR errors {{ Availability_Year_To_Date_Table['actualGaps'] |number_format(2, ',', '.') }}% are Data Gaps</b><br>
                    <sup><b>d</b></sup> Availability is not effected, OMC
                </div>
            </td>
        </tr>
        {%  if (TicketAvailabilityYearTable) %}
            <tr >
                <td style="width: 50%">
                    <table style="margin-top: 30px; width: 90%">
                        <thead>
                        <th></th>
                        {% if (anlage.eigner.features.aktDep1) %}
                            {% if (not anlage.settings.disableDep1) %}
                                <th>O+M</th>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep2) %}
                            {% if (not anlage.settings.disableDep2) %}
                                <th>EPC</th>
                            {% endif %}
                        {% endif %}
                        {% if (anlage.eigner.features.aktDep3) %}
                            {% if (not anlage.settings.disableDep3) %}
                                <th>AM</th>
                            {% endif %}
                        {% endif %}
                        <th> Open Book</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_next_columns"> PA[%] </td>
                            {% if (anlage.eigner.features.aktDep1) %}
                                {% if (not anlage.settings.disableDep1) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa1 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep2) %}
                                {% if (not anlage.settings.disableDep2) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa2 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep3) %}
                                {% if (not anlage.settings.disableDep3) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.pa3 |number_format(2, ',', '.')}}</td>
                                {% endif %}
                            {% endif %}
                            <td class="tr_next_columns"> {{ TicketAvailabilityYearTable.pa0 |number_format(2, ',', '.')}}</td>
                        </tr>

                        <tr>
                            <td class="tr_next_columns">PR[%]</td>

                            {% if (anlage.eigner.features.aktDep1) %}
                                {% if (not anlage.settings.disableDep1) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep1Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep2) %}
                                {% if (not anlage.settings.disableDep2) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep2Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% if (anlage.eigner.features.aktDep3) %}
                                {% if (not anlage.settings.disableDep3) %}
                                    <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep3Act |number_format(2, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            <td class="tr_next_columns">{{ TicketAvailabilityYearTable.prDep0Act |number_format(2, ',', '.') }}</td>

                        </tr>

                        </tbody>

                    </table>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock page %}