{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}

        <table>
            <tr>
                <td style="width: 100%">
                    {{ wkhLossesChartMonth | raw }}
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td >
                    <table style="width: 50% !important; ">
                        <thead>
                            <th>Type of Ticket</th>
                            <th>Losses in kWh </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>

                </td>
                <td>
                    <table style="width: 50% !important; ">
                        <thead>
                        <th></th>
                        <th>% relative to G4N Expected </th>
                        </thead>
                        <tbody>
                        {% if (anlage.hasPVSYST == true) %}
                            <tr>
                                <td class="tr_next_columns">Expected PVSYS</td>
                                <td class="tr_next_columns"> {{ percentageTableMonth['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="tr_next_columns">G4N Expected</td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['G4NExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">G4N Simulation </td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Actual </td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['ActualPower'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr >
                <td  colspan="2">
                    <table style="width: 25%!important;">
                        <thead>
                        <th></th>
                        <th>kWh</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tr_next_columns">Expected G4N </td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                            </tr>
                            <tr>
                                <td class="tr_next_columns">G4N Simulation </td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% if (anlage.hasPVSYST == true) %}
                            <tr>
                                <td class="tr_next_columns">Expected PVSYS</td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                            <tr>
                                <td class="tr_next_columns">Production</td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td  colspan="2">
                    <div style="text-align: left; width: 25%!important">
                        <sup><b>a</b></sup> Maintenance, SOR<br>
                        <sup><b>b</b></sup> Defects, EFOR<br>
                        <sup><b>c</b></sup><b> From this EFOR errors {{ Availability_Year_To_Date_Table['actualGaps'] |number_format(2, ',', '.') }}% are Data Gaps</b><br>
                        <sup><b>d</b></sup> Availability is not effected, OMC
                    </div>
                </td>
            </tr>
        </table>

    {# we will use this page to test with the am charts  #}
{% endblock page %}