{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    {#
    <table>
        <tr style="height: 25%">
            <td style="width: 100%">
                {{ kwhLossesChartYear | raw }}
            </td>
        </tr>
    </table>
    #}
    <table style="margin-left: 50px">
        <tr>
            <table style="width: 50%">
                <thead>
                <tr>
                    <th style="text-align: center" class="table-center" colspan="2" rowspan="3">
                        <b>Production / Plan and loss values</b>
                    </th>
                    <th style="text-align: center" class="table-center" rowspan="3">
                        <b>kWh</b>
                    </th>
                    <th style="text-align: center" class="table-center">
                        <b>Relative to</b>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center" class="table-center">
                        <b>g4n Expected</b>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center" class="table-center">
                        <b>%</b>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center" class="tr_next_columns" rowspan="2"> Actual Values</td>
                    <td style="text-align: left" class="tr_next_columns">  Production - Actual</td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['ActualPower'] |number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left" class="tr_next_columns"> Expected G4N </td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['G4NExpected'] |number_format(2, ',', '.') }}</td>
                </tr>
                {% if ((anlage.hasPVSYST == true) == true) %}
                    <tr>
                        <td style="text-align: center" class="tr_next_columns" rowspan="2"> Planned Values</td>
                        <td style="text-align: left" class="tr_next_columns"> Forecast g4n </td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['forecast'] |number_format(2, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" class="tr_next_columns"> Plant Simulation</td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="text-align: center" class="tr_next_columns"> Planned Values</td>
                        <td style="text-align: left" class="tr_next_columns"> Forecast</td>
                        <td class="tr_next_columns">{{ yearLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                        <td class="tr_next_columns">{{ PercentageTableYear['forecast'] |number_format(2, ',', '.') }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td style="text-align: center" class="tr_next_columns" rowspan="4"> Type of Ticket</td>
                    <td style="text-align: left" class="tr_next_columns">  SOR Losses - Planned Outage</td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['SORLosses'] |number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left" class="tr_next_columns"> EFOR Losses - Unplanned Outage </td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['EFORLosses'] |number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left" class="tr_next_columns"> OMC Losses - Grid Error / Grid Off </td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['OMCLosses'] |number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <td style="text-align: left" class="tr_next_columns"> Data Gap </td>
                    <td class="tr_next_columns">{{ yearLossesHelpTable['GapLosses'] |number_format(2, ',', '.') }}</td>
                    <td class="tr_next_columns">{{ PercentageTableYear['GapLosses'] |number_format(2, ',', '.') }}</td>
                </tr>

                </tbody>
            </table>
        </tr>

    </table>
{% endblock page %}