{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
{#
        <table>
            <tr>
                <td style="width: 100%">
                    {{ wkhLossesChartMonth | raw }}
                </td>
            </tr>
        </table>
    #}
        <table>
             <tr>
                 <table style="width: 50%">
                     <thead>
                         <tr>
                            <th style="text-align: center" class="table-center" colspan="2" rowspan="3">
                                <b>Production / Plan and loss values</b>
                            </th>
                             <th style="text-align: center" class="table-center" rowspan="3">
                                 <b>kWh</b>
                             </th>
                             <th style="text-align: center" class="table-center">
                                 <b>Relative to</b>
                             </th>
                         </tr>
                         <tr>
                             <th style="text-align: center" class="table-center">
                                 <b>G4N Expected</b>
                             </th>
                         </tr>
                         <tr>
                             <th style="text-align: center" class="table-center">
                                 <b>%</b>
                             </th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" rowspan="2"> Actual Values</td>
                            <td style="text-align: left" class="tr_next_columns">  Production - Actual</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['ActualPower'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>

                            <td style="text-align: left" class="tr_next_columns"> Expected G4N </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['G4NExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        {% if (anlage.hasPVSYST == true) %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" > Planned Values</td>
                            <td style="text-align: left" class="tr_next_columns"> Forecast</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td style="text-align: center" class="tr_next_columns" > Planned Values</td>
                                <td style="text-align: left" class="tr_next_columns"> Forecast </td>
                                <td class="tr_next_columns">{{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" rowspan="4"> Type of Ticket</td>
                            <td style="text-align: left" class="tr_next_columns">  SOR Losses - Planned Outage</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> EFOR Losses - Unplanned Outage </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> OMC Losses - Grid Error / Grid Off </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> Data Gaps </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['GapLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['GapLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                     </tbody>
                 </table>
             </tr>
     
        </table>

    {# we will use this page to test with the am charts  #}
{% endblock page %}