{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}

        <table>
            <tr>
                <td style="width: 100%">
                    {{ wkhLossesChartMonth | raw }}
                </td>
            </tr>
        </table>
        <table>
             <tr>
                 <table style="width: 50%">
                     <thead>
                         <tr>
                            <th style="text-align: center" class="table-center" colspan="2" rowspan="3">
                                <b>Production / Plan and loss values</b>
                            </th>
                             <th style="text-align: center" class="table-center" rowspan="3">
                                 <b>kWh</b>
                             </th>
                             <th style="text-align: center" class="table-center">
                                 <b>Relative to</b>
                             </th>
                         </tr>
                         <tr>
                             <th style="text-align: center" class="table-center">
                                 <b>G4N Expected</b>
                             </th>
                         </tr>
                         <tr>
                             <th style="text-align: center" class="table-center">
                                 <b>%</b>
                             </th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" rowspan="2"> Actual Values</td>
                            <td style="text-align: left" class="tr_next_columns">  Production - Actual</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['ActualPower'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> Expected G4N </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['G4NExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        {% if (anlage.hasPVSYST == true) %}
                            <tr>
                                <td style="text-align: center" class="tr_next_columns" rowspan="2"> Planned Values</td>
                                <td style="text-align: left" class="tr_next_columns"> Forecast g4n </td>
                                <td class="tr_next_columns">{{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        <tr>

                            <td style="text-align: left" class="tr_next_columns"> Plant Simulation</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td style="text-align: center" class="tr_next_columns" > Planned Values</td>
                                <td style="text-align: left" class="tr_next_columns"> Forecast g4n </td>
                                <td class="tr_next_columns">{{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="text-align: center" class="tr_next_columns" rowspan="3"> Type of Ticket</td>
                            <td style="text-align: left" class="tr_next_columns">  SOR Losses - Planned Outage</td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> EFOR Losses - Unplanned Outage </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tr_next_columns"> OMC Losses - Grid Error / Grid Off </td>
                            <td class="tr_next_columns">{{ monthlyLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                            <td class="tr_next_columns">{{ percentageTableMonth['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                     </tbody>
                 </table>
             </tr>
            {#
            <tr>
                <td >
                    <table style="width: 50% !important; ">
                        <thead>
                            <th>Type of Ticket</th>
                            <th>Losses in kWh </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                            <td class="tr_next_columns"> {{ monthlyLossesHelpTable['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>

                </td>
                <td>
                    <table style="width: 50% !important; ">
                        <thead>
                        <th></th>
                        <th>% relative to G4N Expected </th>
                        </thead>
                        <tbody>
                        {% if (anlage.hasPVSYST == true) %}
                            <tr>
                                <td class="tr_next_columns">Expected PVSYS</td>
                                <td class="tr_next_columns"> {{ percentageTableMonth['PVSYSExpected'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="tr_next_columns">G4N Expected</td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['G4NExpected'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">G4N Simulation </td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['forecast'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Actual </td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['ActualPower'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Planned Outage <sup><b> a</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['SORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Unplanned Outage <sup><b> b</b></sup> <sup><b>c</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['EFORLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns">Grid Error/Grid Off <sup><b> d</b></sup></td>
                            <td class="tr_next_columns"> {{ percentageTableMonth['OMCLosses'] |number_format(2, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr >
                <td  colspan="2">
                    <table style="width: 25%!important;">
                        <thead>
                        <th></th>
                        <th>kWh</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tr_next_columns">Expected G4N </td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['ExpectedG4N'] |number_format(2, ',', '.') }}</td>
                            </tr>
                            <tr>
                                <td class="tr_next_columns">G4N Simulation </td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['Forecast'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% if (anlage.hasPVSYST == true) %}
                            <tr>
                                <td class="tr_next_columns">Expected PVSYS</td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['ExpectedPVSYS'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endif %}
                            <tr>
                                <td class="tr_next_columns">Production</td>
                                <td class="tr_next_columns"> {{ monthlyLossesHelpTable['Actual'] |number_format(2, ',', '.') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            #}
            <tr>
                <td  colspan="2">
                    <div style="text-align: left; width: 25%!important; font-size: small">
                        <sup><b>a</b></sup> Maintenance, SOR<br>
                        <sup><b>b</b></sup> Defects, EFOR<br>
                        <sup><b>c</b></sup><b> From this EFOR errors {{ Availability_Year_To_Date_Table['actualGaps'] |number_format(2, ',', '.') }}% are Data Gaps</b><br>
                        <sup><b>d</b></sup> Availability is not effected, OMC
                    </div>
                </td>
            </tr>
        </table>

    {# we will use this page to test with the am charts  #}
{% endblock page %}