{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Comments & Explanations</h3>
    <div >
        <p><sup>*1</sup> The net capacity factor is the unitless ratio of an actual electrical energy output over a given period of time to the maximum possible electrical energy output over that period.<br></p>
        <img width="130" src="{{ absolute_url(asset('goldbeck/reports/asset_management/cf.png')) }}" alt="">
        <p><sup>*2</sup> <b>Availability: </b></p>
        <p>Data gaps are evaluated as available; Pac > 0; Irradiation > <b>{{ anlage.getThreshold2PA3 }}</b> W/m<sup>2</sup>{% if (anlage.getUseCosPhi)%}; CosPhi <b> <span>&#8800;</span> </b> 0 {% endif %}</p>
        <p><b>Explanation of terms:</b></p>
        <p>
            <b>- EXP: </b> Expected production based on the PV System. <br>
            <b>- G4N Expected </b> PVPlus 4.0 computes expected 15min-values for current, voltage, and power on the string and inverter level based on the actual weather conditions. <br>
            These values denominate the power production of the PV plant provided that all technical components work as defined by their technical specifications and by the actual weather conditions, such as  irradiation, temperature, wind, and shading.
        </p>
        <p> <b>PR Calculations formulas</b></p>
        <table>
            <tr>
                <td  style="text-align: left">
                    <p><sup>*3</sup> PR - default (OpenBook): </p>
                    <img width="250" src="{{ absolute_url(asset(pr0image)) }}">
                </td>
                <td style="text-align: left">
                    {% if anlage.settings.disableDep2 != true %}
                        <p><sup>*5</sup> PR - EPC: </p>
                        <img width="250" src="{{ absolute_url(asset(pr2image)) }}">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    {% if anlage.settings.disableDep1 != true %}
                        <p><sup>*4</sup> PR - O&M:</p>
                          <img width="250" src="{{ absolute_url(asset(pr1image)) }}">
                    {% endif %}
                <td style="text-align: left">
                    {% if anlage.settings.disableDep3 != true %}
                        <p><sup>*6</sup> PR - AM: </p>
                        <img width="250" src="{{ absolute_url(asset(pr3image)) }}">
                    {% endif %}
                </td>
                </td>
            </tr>
        </table>
    </div>
{% endblock page %}
