{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Cumulative losses</h3>
    <span class="subheadline">Yearly expected vs. actuals</span>
    <table style="width: 100%!important">
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data" style="width: 100%!important">
                    <thead>
                    <tr>
                        <th style="text-align: right; width: 150px">Losses - {{ year }}</th>
                        {% for data in dataMonthArray %}
                            <th style="text-align: center; width:6.5%"><div style="width: 100%; height: 50%;">{{ data }}</div></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if (anlage.hasPVSYST) %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. Egrid to PVSYST*</td>
                        {% for data in losses_t1.difference_Egrid_to_PVSYST %}
                            <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. Egrid to expected g4n</td>
                        {% for data in losses_t1.difference_Egrid_to_Expected_G4n %}
                            <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% if (anlage.showEvuDiag) %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. inverter to Egrid</td>
                        {% for data in losses_t1.difference_Inverter_to_Egrid %}
                            <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </td>
        </tr>
        <td style="text-align: left">
            <td>{{ losses_year|raw }}</td>
        </tr>
    </table>
{% endblock page %}