<div style="page-break-after: always; height: 95%!important;">
    <div class="content_asset_report">
        <h3>Cumulative losses</h3>
        <span class="subheadline">Yearly expected vs. actuals</span>
        <table id="basetable">
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <thead>
                        <tr>
                            <th style="text-align: right">Losses - {{ year }}</th>
                            {% for data in dataMonthArray %}
                                <th style="text-align: center"><div style="width: 100%; height: 50%;">{{ data }} {{ year }}</div></th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Difference Egrid to PVSYST*</td>
                            {% for data in losses_t1.difference_Egrid_to_PVSYST %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Difference Egrid to expected g4n</td>
                            {% for data in losses_t1.difference_Egrid_to_Expected_G4n %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Difference inverter to Egrid</td>
                            {% for data in losses_t1.difference_Inverter_to_Egrid %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <td style="text-align: left">
                <td>{{ losses_year|raw }}</td>
            </tr>
        </table>
    </div>
    <div>
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>