{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Production - Losses</h3>
    <table >
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data " >
                    <thead>
                    <tr>
                        <th style="text-align: right;width:230px" rowspan="2">Monthly Losses - {{ year }}</th>
                        {% for data in dataMonthArrayFullYear %}
                            <th style="text-align: center;width: 6.5%"><div style="width: 100%">{{ data }}</div></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in dataMonthArrayFullYear %}
                            <th style="text-align: center"><div style="width: 100%">[kWh]</div></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td class="tr_first_column" style="text-align: right">Diff. ACT <sup>*</sup> to EXP g4n<sup>**</sup></td>
                            {% for data in losses_t2.diefference_prod_to_expected_g4n %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>


                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. ACT to g4n forecast</td>
                        {% for data in losses_t2.difference_prod_to_forecast %}
                            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>

                    {% if (anlage.hasPVSYST) %}
                        <tr>
                            <td  class="tr_first_column" style="text-align: right">Diff. ACT to Plant Simulation <sup>***</sup></td>
                            {% for data in losses_t2.diefference_prod_to_pvsyst %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    </tbody>
                    {%  if (anlage.hasPVSYST) %}
                    <tr>
                        <td  style="text-align: left" colspan="6">
                            <sup>*</sup>ACT; Prod actual. <br>
                            <sup>**</sup>Expected g4n production. <br>
                            <sup>***</sup> Plan Simulation (PS); is a yield simulation program for photovoltaic systems, e.g.: PVSyst, PVSol, etc.
                        </td>
                    </tr>
                    {% endif %}
                </table>
                <table style="width:100%!important">
                    <tr>
                        <td style="text-align: left">{{ losses_monthly|raw }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock page %}