{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Production - Losses</h3>
    <span class="subheadline">Monthly expected vs. actuals</span>
    <table >
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data" >
                    <thead>
                    <tr>
                        <th style="text-align: right" rowspan="2">Monthly Losses - {{ year }}</th>
                        {% for data in dataMonthArray %}
                            <th style="text-align: center;width: 6.5%"><div style="width: 100%; height: 50%;">{{ data }}</div></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in dataMonthArray %}
                            <th style="text-align: center"><div style="width: 100%; height: 50%;">kWh</div></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if (anlage.hasPVSYST) %}
                    <tr>
                        <td  class="tr_first_column" style="text-align: right">Diff. Grid to PVSYST*</td>
                        {% for data in losses_t2.diefference_prod_to_pvsyst %}
                            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>


                    {% endif %}
                    {% if (anlage.hasGrid) %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. Grid to expected g4n</td>
                        {% for data in losses_t2.diefference_prod_to_expected_g4n %}
                            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% else %}
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Diff. Inverter to expected g4n</td>
                            {% for data in losses_t2.diefference_prod_to_expected_g4n %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% if (anlage.hasGrid) %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. inverter to Egrid</td>
                        {% for data in losses_t2.diefference_prod_to_egrid %}
                            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    </tbody>
                    {%  if (anlage.hasPVSYST) %}
                    <tr>
                        <td class="td_texthint_2" style="vertical-align: top">* Plan value PVSYST P50</td>
                    </tr>
                    {% endif %}
                </table>
                <table style="width:100%!important">

                    <tr>
                        <td style="text-align: left">{{ losses_monthly|raw }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock page %}