<div style="page-break-after: always;">
    <div style="height:18cm; width: 29.7cm;" >
        <h3>Cumulative Forecast with g4n</h3>
        <span class="subheadline" style="color: {{ font_color_third }};">Yearly expected vs. actuals(!!!nicht fertig und muss noch überarbeitet werden)</span>
        <table id="basetable">
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <thead>
                        <tr>
                            <th style="text-align: right">Cumulative Forecast - {{ year }}</th>
                            {% for data in dataMonthArray %}
                                <th style="text-align: center">{{ data }} {{ year }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Production ACT / g4n - P50</td>
                            {% for data in forecast_G4N_table.forcast_PVSYSTP50 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Production ACT /  g4n - P90</td>
                            {% for data in forecast_G4N_table.forcast_PVSYSTP90 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Plan g4n Forecast - P50</td>
                            {% for data in forecast_G4N_table.forcast_plan_PVSYSTP50 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column" style="text-align: right">Plan g4n Forecast - P90</td>
                            {% for data in forecast_G4N_table.forcast_plan_PVSYSTP90 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>

                </td>

            </tr>
            <tr>
                <td style="text-align: left!important;">
                    {{ forecast_G4N|raw }}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>