{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Cumulative losses</h3>
    <table >
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data "  >
                    <thead>
                    <tr>
                        <th rowspan="2"style="text-align: right;width:200px">Losses - {{ year }}</th>
                        {% for data in dataMonthArrayFullYear %}
                            <th style="text-align: center; width:6.5%"><div style="width: 100%; height: 50%;">{{ data }}</div></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for data in dataMonthArrayFullYear %}
                            <th style="text-align: center"><div style="width: 100%; height: 50%;">[kWh]</div></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="tr_first_column" style="text-align: right;width:150px">Diff ACT<sup>*</sup> to EXP g4n<sup>**</sup></td>
                            {% for data in losses_t1.difference_Egrid_to_Expected_G4n %}
                                <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                    <tr>
                        <td class="tr_first_column" style="text-align: right;width:150px">Diff ACT to g4n forecast</td>
                        {% for data in losses_t1.difference_act_forecast %}
                            <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% if (anlage.hasPVSYST) %}
                    <tr>
                        <td class="tr_first_column" style="text-align: right">Diff. ACT to Plan Simulation<sup>***</sup></td>
                        {% for data in losses_t1.difference_Egrid_to_PVSYST %}
                            <td class="tr_next_columns" >{{ data|number_format(0, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: left" colspan="6">
                            <sup>*</sup> ACT; Production actual <br>
                            <sup>**</sup> Expected g4n production <br>
                            {% if (anlage.hasPVSYST == true) %}
                                <sup>***</sup>Plant Simulation (PS); is a yield simulation program for photovoltaic systems, e.g.: PVSyst, PVSol, etc.
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <td style="text-align: left">
            <td>{{ losses_year|raw }}</td>
        </tr>
    </table>
{% endblock page %}