{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Economics</h3>
    <span class="subheadline">Operating statement</span>

    <table >
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data" style="width: 100%!important;">
                    <tbody>
                    <tr style="font-weight: bold;">
                        <td class="tr_next_columns" style="background-color: #ededed; width: 150px;">Operating statement [EUR]</td>
                        {% set counter = 1 %}
                        {% for data in dataMonthArrayFullYear %}
                            {% if (counter < 7) %}
                                <td class="tr_next_columns" style="background-color: #ededed; text-align: center!important;">{{ data }} {{ year }}</td>
                            {% endif %}
                            {% set counter = counter+1 %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed; "><b>Profit ACT</b></td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.revenues_act %}
                            {% if (counter < 7) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy[counter])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                              {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds</td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.PVSYST_plan_proceeds_EXP %}
                            {% if (counter < 7) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy[counter])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed; "><span style="font-weight: bold">g4n</span> plan proceeds - <span style="font-weight: bold">EXP</span></td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.gvn_plan_proceeds_EXP %}
                            {% if (counter < 7) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy[counter])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data" style="width: 100%!important;">
                    <tbody>
                    <tr style="font-weight: bold;">
                        <td class="tr_next_columns" style="background-color: #ededed; width: 150px;">Operating statement [EUR]</td>
                        {% set counter = 1 %}
                        {% for data in dataMonthArrayFullYear %}
                            {% if (counter > 6) %}
                                <td class="tr_next_columns" style="background-color: #ededed; text-align: center!important;">{{ data }} {{ year }}</td>
                            {% endif %}
                            {% set counter = counter+1 %}
                        {% endfor %}
                        <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold; text-align: center!important;">TOTAL</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed; "><b>Profit ACT</b></td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.revenues_act %}
                            {% if (counter > 6) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy.monthTotal[counter-1])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                        <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds</td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.PVSYST_plan_proceeds_EXP %}
                            {% if (counter > 6) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy.monthTotal[counter-1])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                        <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                    </tr>
                    <tr>
                        <td class="tr_next_columns" style="background-color: #ededed; "><span style="font-weight: bold">g4n</span> plan proceeds - <span style="font-weight: bold">EXP</span></td>
                        {% set counter = 1 %}
                        {% set total = 0 %}
                        {% for data in income_per_month.gvn_plan_proceeds_EXP %}
                            {% if (counter > 6) %}
                                {% if (counter > reportmonth) %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ (data - economicsMandy.monthTotal[counter-1])|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            {% endif %}
                            {% set counter = counter+1 %}
                            {% set total = total + data %}
                        {% endfor %}
                        <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center!important;">
                {{ operating_statement_chart|raw }}
            </td>
        </tr>
    </table>
{% endblock page %}