{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Economics</h3>
    <span class="subheadline">Costs per month and year</span>

    <table  style="margin-top: -10px; height: 100%">
        <tr style="vertical-align: top">
            <td  style="text-align: left">
                <table class="asset_report_table_operations_data_small" style="width: 95%!important; vertical-align: top!important">
                    <tbody>
                    <tr style="font-weight: bold">
                        <td class="tr_next_columns" style="background-color: #ededed;">costs per month and year [EUR]</td>
                        {% for data in monthArray %}
                            <td class="tr_next_columns" style="background-color: #ededed; text-align: center;">{{ data }}<br>{{ year }}</td>
                        {% endfor %}
                        <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold; text-align: center;">TOTAL</td>
                    </tr>
                    {% for var in economicsMandy2%}
                        {% if (var.name != "" ) %}
                            <tr>
                                {% set total = 0 %}
                                {% for data in var %}
                                    {% if (loop.index == 1) %}

                                        <td class="tr_next_columns" style="background-color: #ededed;">{{ data }}</td>
                                    {% else %}
                                        {% if data == 0 %}
                                            <td class="tr_next_columns">-</td>
                                        {% else %}
                                            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                            {% set total = total + data %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if total == 0 %}
                                    <td class="tr_next_columns">-</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr style="background-color: #d9d9d9!important; font-weight: bold;">
                        <td class="tr_next_columns">TOTAL costs</td>

                        {% set total = 0 %}
                        {% for data in economicsMandy %}
                            {% if data == 0 %}
                                <td class="tr_next_columns">-</td>
                            {% else %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                            {% endif %}
                            {% set total = total + data %}
                        {% endfor %}
                        {% if total == 0 %}
                            <td class="tr_next_columns">-</td>
                        {% else %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="vertical-align: top">
            <td style="text-align: center!important;">
                {{ total_Costs_Per_Date|raw }}
            </td>
        </tr>
    </table>
{% endblock page %}