<div style="page-break-after: always; height: 95%!important;">
    <div class="content_asset_report">
        <h3>Economics</h3>
        <span class="subheadline">Commulative forecast(todo:alle Werte dieser Tabelle sind nicht aktuell sondern nur zum Test)</span>
        <table id="basetable">
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <tbody>
                        <tr style="font-weight: bold;">
                            <td class="tr_next_columns" style="background-color: #ededed; width: 250px;">Cumulated Forecast [EUR]</td>
                            {% set counter = 1 %}
                            {% for data in dataMonthArray %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns" style="background-color: #ededed; text-align: center!important;">{{ data }} {{ year }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><b>Revenues ACT and Revenues Plan PVSYST</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.revenues_ACT_and_Revenues_Plan %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><b>Revenues ACT and Revenues Plan g4n</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.revenues_ACT_and_Revenues_Plan %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds<b> - P50</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.PVSYST_plan_proceeds_P50 %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><span style="font-weight: bold">g4n</span> plan proceeds - <span style="font-weight: bold">EXP - P50</span></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.g4n_plan_proceeds_EXP_P50 %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <tbody>
                        <tr style="font-weight: bold;">
                            <td class="tr_next_columns" style="background-color: #ededed; width: 250px;">Cumulated Forecast [EUR]</td>
                            {% set counter = 1 %}
                            {% for data in dataMonthArray %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns" style="background-color: #ededed; text-align: center!important;">{{ data }} {{ year }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><b>Revenues ACT and Revenues Plan PVSYST</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.revenues_ACT_and_Revenues_Plan %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><b>Revenues ACT and Revenues Plan g4n</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.revenues_ACT_and_Revenues_Plan %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds<b> - P50</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.PVSYST_plan_proceeds_P50 %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; "><span style="font-weight: bold">g4n</span> plan proceeds - <span style="font-weight: bold">EXP - P50</span></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in economicsCumulatedForecast.g4n_plan_proceeds_EXP_P50 %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                                {% set total = total + data %}
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center!important;">
                    {{ economicsCumulatedForecastChart|raw }}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>