<div style="page-break-after: always; height: 95%!important;">
    <div class="content_asset_report">
        <h3>Economics</h3>
        <span class="subheadline">Income per month</span>
        <table id="basetable">
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <tbody>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold; width: 150px;">Monthley revenues / Monthley feed in tarif</td>
                            {% set counter = 1 %}
                            {% for data in table_overview_monthly.powerEvu %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ income_per_month.monthley_feed_in_tarif[counter-1] }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        <tr style="background-color: #ededed; font-weight: bold;">
                            <td class="tr_next_columns">Revenues per month [EUR] </td>
                            {% set counter = 1 %}
                            {% for data in dataMonthArray %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns" style="background-color: #ededed; text-align: center;">{{ data }} {{ year }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold;">Revenues ACT</td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in income_per_month.revenues_act %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            {% set total1a = total %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds - <b>EXP</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in income_per_month.PVSYST_plan_proceeds_EXP %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            {% set total1b = total %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed!important;"><b>g4n</b> plan proceeds - <b>EXP</b></td>
                            {% set counter = 1 %}
                            {% set total = 0 %}
                            {% for data in income_per_month.gvn_plan_proceeds_EXP %}
                                {% if (counter < 7) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            {% set total1c = total %}
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data" style="width: 100%!important;">
                        <tbody>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold; width: 150px;">Monthley revenues / Monthley feed in tarif</td>
                            {% set counter = 1 %}
                            {% for data in table_overview_monthly.powerEvu %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ income_per_month.monthley_feed_in_tarif[counter-1] }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            <td rowspan="2" class="tr_next_columns" style="background-color: #ededed; font-weight: bold; text-align: center;">TOTAL</td>
                        </tr>
                        <tr style="background-color: #fff2cc; font-weight: bold;">
                            <td class="tr_next_columns" style="background-color: #ededed;">Revenues per month [EUR] </td>
                            {% set counter = 1 %}
                            {% for data in dataMonthArray %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns" style="background-color: #ededed; text-align: center;">{{ data }} {{ year }}</td>
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold;">Revenues ACT</td>
                            {% set counter = 1 %}
                            {% set total = total1a %}
                            {% for data in income_per_month.revenues_act %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;"><b>PVSYST</b> plan proceeds - <b>EXP</b></td>
                            {% set counter = 1 %}
                            {% set total = total1b %}
                            {% for data in income_per_month.PVSYST_plan_proceeds_EXP %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;"><b>g4n</b> plan proceeds - <b>EXP</b></td>
                            {% set counter = 1 %}
                            {% set total = total1c %}
                            {% for data in income_per_month.gvn_plan_proceeds_EXP %}
                                {% if (counter > 6) %}
                                    <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                    {% set total = total + data %}
                                {% endif %}
                                {% set counter = counter+1 %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: left!important;">
                    {{ income_per_month_chart|raw }}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>