{% include 'report/_asset_mangement_partials/_headline.html.twig'%}
    <div class="content_asset_report">
        <h3 style="color: {{ font_color_second }};">Economics</h3>
        <span class="subheadline">Costs per month and year(todo:alle Werte dieser Tabelle sind nicht aktuell sondern nur zum Test)</span>

        <table id="basetable" style="margin-top: -10px">
            <tr>
                <td colspan="2" style="text-align: left">
                    {% set totalsfix = [] %}
                    <table class="asset_report_table_operations_data_small" style="width: 100%!important;">
                        <tbody>
                        <tr style="font-weight: bold">
                            <td class="tr_next_columns" style="background-color: #ededed;">costs per month and year [EUR]</td>
                            {% for data in dataMonthArray %}
                                <td class="tr_next_columns" style="background-color: #ededed; text-align: center;">{{ data }} {{ year }}</td>
                            {% endfor %}
                            <td class="tr_next_columns" style="background-color: #ededed; font-weight: bold; text-align: center;">TOTAL</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">O&M</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.oum %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Electricity</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.electricity %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Technical dispatch (KEGOC)</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.technicalDispatch %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">TransTeleCom (cell equipment maintenance)</td>
                            
                            {% set total = 0 %}
                            {% for data in economicsMandy.transTeleCom %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Security</td>
                            
                            {% set total = 0 %}
                            {% for data in economicsMandy.security %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Network service fee (ASTEL)</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.networkServiceFee %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">legal services</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.legalServices %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Accountancy and administration costs</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.accountancyAndAdministrationCosts %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Insurance</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.Iinsurance %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Other</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.other %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr style="background-color: #e2efda!important; font-weight: bold;">
                            <td class="tr_next_columns" style="background-color: #ededed;">TOTAL fixed costs</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.fixesTotal %}
                                <td class="tr_next_columns" style="background-color: #ededed;">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns" style="background-color: #ededed;">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Variable 1</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variable1 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Variable 2</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variable2 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Variable 3</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variable3 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Variable 4</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variable4 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td class="tr_next_columns" style="background-color: #ededed;">Variable 5</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variable5 %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr style="background-color: #e2efda!important; font-weight: bold;">
                            <td class="tr_next_columns" style="background-color: #ededed;">TOTAL variable costs</td>
                            {% set total = 0 %}
                            {% for data in economicsMandy.variablesTotal %}
                                <td class="tr_next_columns" style="background-color: #ededed;">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns" style="background-color: #ededed;">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        <tr>
                            <td colspan="14" style="line-height: 5px!important;" style="background-color: #ededed;"></td>
                        </tr>
                        <tr style="background-color: #d9d9d9!important; font-weight: bold;">
                            <td class="tr_next_columns">TOTAL costs</td>
                            
                            {% set total = 0 %}
                            {% for data in economicsMandy.monthTotal %}
                                <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
                                {% set total = total + data %}
                            {% endfor %}
                            <td class="tr_next_columns">{{ total|number_format(0, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center!important;">
                    {{ total_Costs_Per_Date|raw }}
                </td>
            </tr>
        </table>
    </div>
{% include 'report/_asset_mangement_partials/_footer.html.twig'%}