<div style="page-break-after: always; height: 95%!important;">
    <div class="content_asset_report">
        <table id="basetable">
            <tr>
                <td style="text-align: left; color: #36639c;"><h1 style="font-family: Helvetica; font-size: 35px; border: none; padding-top:20px;">Asset Management Monthly Report</h1></td>
                <td id="customer_logo"></td>
            </tr>
            <tr>
                <td style="text-align: left"><img width="850" src="{{ baseurl }}/goldbeck/reports/asset_management/report_header.jpg"></td>
                <td rowspan="2" style="vertical-align: bottom; text-align: left; padding-bottom: 40px !important;"></td>
            </tr>
            <tr>
                <td style="text-align: left; padding-top: 20px !important;">
                    <h2 style="font-family: Century Gothic; color: #36639c"><span style=" color: #91bc5b; font-size: 35px;">{{ month }} {{ year }}</span></h2>
                    <h2 style="color: #36639c;">Plant name: {{ plantName }}</h2>
                    <h2 style="color: #36639c;">Plant size: {{ plantSize }} kWp</h2>
                    <h2 style="color: #36639c">Plant - coordinates: {{ anlGeoLat }}N {{ anlGeoLon }}O</h2>
                </td>
            </tr>
        </table>
    </div>
    <div style="page-break-after: always!important;">
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>