{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <table id="basetable">
        <tr>
            <td style="text-align: left; color: #36639c;"><h1 style="font-family: 'Source Sans Pro', sans-serif; font-size: 35px; border: none; padding-top:5px;">Asset Management Monthly Report</h1></td>
            <td id="customer_logo"></td>
        </tr>
        {% if (anlage.getPicture != null) %}
            <tr>
                <td style="text-align: left"><img style="max-width: 840px; max-height: 400px;" src="{{ absolute_url(asset(anlage.getPicture)) }}"></td>
                <td rowspan="2" style="vertical-align: bottom; text-align: left; padding-bottom: 40px !important;"></td>
            </tr>
        {% else %}
            <tr>
                <td style="text-align: left"><img style="max-width: 840px; max-height: 400px;" src="{{ absolute_url(asset('/uploads/plants/adobestock-216282781-2-2-623890f469f41.jpg')) }}"></td>
                <td rowspan="2" style="vertical-align: bottom; text-align: left; padding-bottom: 40px !important;"></td>
            </tr>
        {% endif %}
        <tr>
            <td style="text-align: left; padding-top: 20px !important;">
                <h2 style="font-family: 'Source Sans Pro', sans-serif; color: #36639c"><span style=" color: #91bc5b; font-size: 30px;">{{ monthName }} {{ year }}</span></h2>
                <h2 style="color: #36639c;">Plant name: {{ anlage.anlName }}</h2>
                <h2 style="color: #36639c;">Plant size: {{ anlage.kwPeak }} kWp</h2>
                <h2 style="color: #36639c">Plant - coordinates: {{ anlage.anlGeoLat }} N | {{ anlage.anlGeoLon }} O</h2>
            </td>
        </tr>
    </table>
{%  endblock page %}