{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Inverter Ranking Table</h3>
    <table>
        <thead>
            <tr>
                <th class="table-center">Inverter</th>
                <th class="table-center">Power[kWh]</th>
                <th class="table-center">Inverter Pnom[kWh]</th>
                <th class="table-center">Specific Yield[kWh/kWp]</th>
                <th class="table-center">Average Power[kWh]</th>
                <th class="table-center">Irradiation Average[kWh/m<sup>2</sup>]</th>
                <th class="table-center">Theoretical</th>
                <th class="table-center">Inverter PR[%]</th>
                <th class="table-center">Calculated PR[%]</th>
            </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
                <td class="tr_next_columns">{{ row.name }}</td>
                <td class="tr_next_columns">{{ row.power|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.Pnom|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.powerYield|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.avgPower|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.avgIrr|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.theoPower|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.invPR|number_format(2, ',', '.') }}</td>
                <td class="tr_next_columns">{{ row.calcPR|number_format(2, ',', '.') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}