{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Production</h3>
    <table id="basetable">
        <tr>
            {% if (operations_monthly_right_pvsyst_tr1 == null) %}
            <td style="text-align: left">
                <table class="asset_report_table_operations_data">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <span class="subheadline" style="text-align: left; !important;">EXP PVSYST vs. Actuals(Grid meter)</span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="3" class="table-center">Month</th>
                        <th class="table-center">Yield</th>
                        <th class="table-center">Exp.</th>
                        <th class="table-center">Difference</th>
                        <th class="table-center">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Grid meter</th>
                        <th class="table-center">PVSYST</th>
                        <th class="table-center">Yield-EXP</th>
                        <th class="table-center">Yield-EXP</th>
                    </tr>
                    <tr>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for data in operations_monthly_right_pvsyst_tr1 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if loop.first %}
                                <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                            {% else %}
                                <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q I(Jan - Mar)</td>
                        {% for data in operations_monthly_right_pvsyst_tr2 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q II(Apr - Jun)</td>
                        {% for data in operations_monthly_right_pvsyst_tr3 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q III(Jul - Sep)</td>
                        {% for data in operations_monthly_right_pvsyst_tr4 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q IV(Okt - Dez)</td>
                        {% for data in operations_monthly_right_pvsyst_tr5 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Year to date</td>
                        {% for data in operations_monthly_right_pvsyst_tr6 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Total runtime</td>
                        {% for data in operations_monthly_right_pvsyst_tr7 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
            {% endif %}
            <td style="text-align: left">
                <table class="asset_report_table_operations_data">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <span class="subheadline" style="text-align: left !important;">EXP g4n vs. Actuals(Grid meter)</span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="3" class="table-center">Month</th>
                        <th class="table-center">Yield</th>
                        <th class="table-center">Exp.</th>
                        <th class="table-center">Difference</th>
                        <th class="table-center">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Grid meter</th>
                        <th class="table-center">g4n</th>
                        <th class="table-center">Yield-EXP</th>
                        <th class="table-center">Yield-EXP</th>
                    </tr>
                    <tr>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for data in operations_monthly_right_g4n_tr1 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if loop.first %}
                                <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                            {% else %}
                                <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q I(Jan - Mar)</td>
                        {% for data in operations_monthly_right_g4n_tr2 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q II(Apr - Jun)</td>
                        {% for data in operations_monthly_right_g4n_tr3 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q III(Jul - Sep)</td>
                        {% for data in operations_monthly_right_g4n_tr4 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q IV(Okt - Dez)</td>
                        {% for data in operations_monthly_right_g4n_tr5 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Year to date</td>
                        {% for data in operations_monthly_right_g4n_tr6 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Total runtime</td>
                        {% for data in operations_monthly_right_g4n_tr7 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}

                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">
                <table class="asset_report_table_operations_data" >
                    <thead>
                    <tr>
                        <td colspan="5">
                            <span class="subheadline" style="text-align: left !important; color: {{ anlage.eigner.fontColor3 }};">Inverter out vs. Actuals(Grid meter)</span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="3" class="table-center">Month</th>
                        <th class="table-center">Yield</th>
                        <th class="table-center">Inverter</th>
                        <th class="table-center">Difference</th>
                        <th class="table-center">Difference</th>
                    </tr>
                    <tr>
                        <th class="table-center">Grid meter</th>
                        <th class="table-center">out</th>
                        <th class="table-center">Yield-INV out</th>
                        <th class="table-center">Yield-INV out</th>
                    </tr>
                    <tr>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for data in operations_monthly_right_iout_tr1 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if loop.first %}
                                <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                            {% else %}
                                <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q I(Jan - Mar)</td>
                        {% for data in operations_monthly_right_iout_tr2 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q II(Apr - Jun)</td>
                        {% for data in operations_monthly_right_iout_tr3 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q III(Jul - Sep)</td>
                        {% for data in operations_monthly_right_iout_tr4 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q IV(Okt - Dez)</td>
                        {% for data in operations_monthly_right_iout_tr5 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Year to date</td>
                        {% for data in operations_monthly_right_iout_tr6 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Total runtime</td>
                        {% for data in operations_monthly_right_iout_tr7 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }};" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="text-align: left">
                {{ production_monthly_chart|raw }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="legend_colors">
                    <tr>
                        <td rowspan="2">Explanation</td>
                        <td>0-2%</td>
                        <td>2,1-8%</td>
                        <td>8,1-15%</td>
                        <td>15,1-20%</td>
                        <td>20%-</td>
                    </tr>
                    <tr>
                        <td style="background-color: #00b050;">&nbsp;</td>
                        <td style="background-color: #cee4c0;">&nbsp;</td>
                        <td style="background-color: #ffff00;">&nbsp;</td>
                        <td style="background-color: #ffc000;">&nbsp;</td>
                        <td style="background-color: #cc0000;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock page %}