{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Monthly Production</h3>

    <table style="width: 100% !important ;margin:0;">
        <tr>
                <td style="text-align: left; width:50%">
                    <table class="asset_report_table_operations_data autowidth">
                        <thead>
                        <tr>
                            <td colspan="5">
                                <span class="subheadline" style="text-align: left !important;">Actuals vs Forecast </span>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="3" class="table-center" style="width: 90px!important" >Month</th>
                            {% if (anlage.hasGrid) %}
                                <th class="table-center"
                                    style="width:82px">Yield</th>
                            {% endif %}
                            <th class="table-center"
                                style="width:82px">Exp.</th>
                            <th class="table-center"
                                style="width:82px">Difference</th>
                            <th class="table-center"
                                style="width:82px">Difference</th>
                        </tr>
                        <tr>
                            {% if (anlage.hasGrid) %}
                                <th class="table-center">Grid meter</th>
                            {% endif %}
                            <th class="table-center">Forecast</th>
                            <th class="table-center">Yield-EXP</th>
                            <th class="table-center">Yield-EXP</th>
                        </tr>
                        <tr>
                            {% if (anlage.hasGrid) %}
                                <th class="table-center">[kWh]</th>
                            {% endif %}
                            <th class="table-center">[kWh]</th>
                            <th class="table-center">[kWh]</th>
                            <th class="table-center">[%]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for data in operations_monthly_right_pvsyst_tr1 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if loop.first %}
                                    <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                                {% else %}
                                    {% if (anlage.hasGrid == true) %}
                                        <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }}" {% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                                    {% else %}
                                        {% if (loop.index > 2) %}
                                            <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }}"{% endif %}>{{ data|number_format(2, ',', '.') }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </tr>
                        <tr>
                            <td class="tr_first_column">Q I (Jan - Mar)</td>
                            {% for data in operations_monthly_right_pvsyst_tr2 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}> {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}> {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Q II (Apr - Jun)</td>
                            {% for data in operations_monthly_right_pvsyst_tr3 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Q III (Jul - Sep)</td>
                            {% for data in operations_monthly_right_pvsyst_tr4 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Q IV (Okt - Dez)</td>
                            {% for data in operations_monthly_right_pvsyst_tr5 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Year to date</td>
                            {% for data in operations_monthly_right_pvsyst_tr6 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if (anlage.RetrieveAllData) %}

                            <tr>
                                <td class="tr_first_column">Total runtime</td>
                                {% for data in operations_monthly_right_pvsyst_tr7 %}
                                    {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                    {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                    {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                    {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                    {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                    {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                    {% if (anlage.hasGrid == true) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                    {% else %}
                                        {% if (loop.index > 1) %}
                                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>  {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endif %}
                        </tbody>
                    </table>
                </td>
        </tr>

        <tr>
            <td style="text-align: left; width:50%">
                <table class="asset_report_table_operations_data autowidth" style="float:left">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <span class="subheadline" style="text-align: left !important;">Actuals vs EXP g4n  </span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="3" style="width: 90px!important" class="table-center">Month</th>
                        {% if (anlage.hasGrid) %}
                            <th class="table-center" style="width:82px">Yield</th>
                        {% else %}
                            <th class="table-center" style="width:82px">Inverter</th>
                        {% endif %}
                        <th class="table-center"  style="width:82px">Exp.</th>
                        <th class="table-center" style="width:82px">Difference</th>
                        <th class="table-center" style="width:82px">Difference</th>
                    </tr>
                    <tr>
                        {% if (anlage.hasGrid) %}
                            <th class="table-center">Grid meter</th>
                        {% else %}
                            <th class="table-center">Out</th>
                        {% endif %}
                        <th class="table-center">g4n</th>
                        <th class="table-center">Yield-EXP</th>
                        <th class="table-center">Yield-EXP</th>
                    </tr>
                    <tr>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#  #}
                    <tr>
                        {% for data in operations_monthly_right_g4n_tr1 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if loop.first %}
                                <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                            {% else %}
                                <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %}>{{ data|number_format(0, ',', '.') }} {% endif %}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q I (Jan - Mar)</td>
                        {% for data in operations_monthly_right_g4n_tr2 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q II (Apr - Jun)</td>
                        {% for data in operations_monthly_right_g4n_tr3 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q III (Jul - Sep)</td>
                        {% for data in operations_monthly_right_g4n_tr4 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q IV (Okt - Dez)</td>
                        {% for data in operations_monthly_right_g4n_tr5 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}" > {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Year to date</td>
                        {% for data in operations_monthly_right_g4n_tr6 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% if (anlage.RetrieveAllData) %}
                        {% if (operations_monthly_right_g4n_tr7 != null) %}
                            <tr>
                                <td class="tr_first_column">Total runtime</td>
                                {% for data in operations_monthly_right_g4n_tr7 %}
                                    {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                    {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                    {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                    {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                    {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                    {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} >{{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </td>
            {#
            <td style="text-align: left; width:50%">
                {% if (anlage.hasGrid) %}
                <table class="asset_report_table_operations_data autowidth" >
                    <thead>
                    <tr>
                        <td colspan="5">
                            <span class="subheadline" style="text-align: left !important;">Grid meter vs Inverter Out</span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="3" class="table-center">Month</th>
                        {% if (anlage.hasGrid) %}
                            <th class="table-center" style="width:82px">Yield</th>
                        {% endif %}
                        <th class="table-center" style="width:82px">Inverter</th>
                        <th class="table-center" style="width:82px">Difference</th>
                        <th class="table-center" style="width:82px">Difference</th>
                    </tr>
                    <tr>
                        {% if (anlage.hasGrid) %}
                            <th class="table-center">Grid meter</th>
                        {% endif %}
                        <th class="table-center">Out</th>
                        <th class="table-center">Grid-Inverter</th>
                        <th class="table-center">Yield-EXP</th>
                    </tr>
                    <tr>
                        {% if (anlage.hasGrid) %}
                            <th class="table-center">[kWh]</th>
                        {% endif %}
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[kWh]</th>
                        <th class="table-center">[%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for data in operations_monthly_right_iout_tr1 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if loop.first %}
                                <td class="tr_first_column" {% if (loop.index == 5) %}style="background-color:{{ color }};" {% endif %}>{{ data }}</td>
                            {% else %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 2) %}
                                        <td class="tr_next_columns" {% if (loop.index == 5) %}style="background-color:{{ color }}">{{ data|number_format(2, ',', '.') }}</td>  {% else %} > {{ data|number_format(0, ',', '.') }}</td>{% endif %}>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q I (Jan - Mar)</td>
                        {% for data in operations_monthly_right_iout_tr2 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if (anlage.hasGrid == true) %}
                                <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                            {% else %}
                                {% if (loop.index > 1) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q II (Apr - Jun)</td>
                        {% for data in operations_monthly_right_iout_tr3 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if (anlage.hasGrid == true) %}
                                <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                            {% else %}
                                {% if (loop.index > 1) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q III (Jul - Sep)</td>
                        {% for data in operations_monthly_right_iout_tr4 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if (anlage.hasGrid == true) %}
                                <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                            {% else %}
                                {% if (loop.index > 1) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Q IV (Okt - Dez)</td>
                        {% for data in operations_monthly_right_iout_tr5 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if (anlage.hasGrid == true) %}
                                <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                            {% else %}
                                {% if (loop.index > 1) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="tr_first_column">Year to date</td>
                        {% for data in operations_monthly_right_iout_tr6 %}
                            {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                            {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                            {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                            {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                            {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                            {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                            {% if (anlage.hasGrid == true) %}
                                <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                            {% else %}
                                {% if (loop.index > 1) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% if (anlage.RetrieveAllData) %}

                        <tr>
                            <td class="tr_first_column">Total runtime</td>
                            {% for data in operations_monthly_right_iout_tr7 %}
                                {% if (data > -2) %}{% set color = "#00b050" %}{% endif %}
                                {% if (data < -2) %}{% set color = "#cee4c0" %}{% endif %}
                                {% if (data < -8) %}{% set color = "#ffff00" %}{% endif %}
                                {% if (data < -15) %}{% set color = "#ffc000" %}{% endif %}
                                {% if (data <= -20) %}{% set color = "#cc0000" %}{% endif %}
                                {% if (data == 0.000) %}{% set color = "#00b050" %}{% endif %}
                                {% if (anlage.hasGrid == true) %}
                                    <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }}{% endif %}</td>
                                {% else %}
                                    {% if (loop.index > 1) %}
                                        <td class="tr_next_columns" {% if (loop.index == 4) %}style="background-color:{{ color }}"> {{ data|number_format(2, ',', '.') }} {% else %} > {{ data|number_format(0, ',', '.') }} {% endif %}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>

                    {% endif %}
                    </tbody>
                </table>
                {% endif %}
            </td>
            #}
            <td style="text-align: left; width:50%">
                {{ production_monthly_chart|raw }}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <table class="legend_colors autowidth">
                    <tr>
                        <td rowspan="2">Explanation</td>
                        <td style="background-color: #00b050;"> > -2%</td>
                        <td style="background-color: #cee4c0;">-2,1 to -8%</td>
                        <td style="background-color: #ffff00;">-8,1 to -15%</td>
                        <td style="background-color: #ffc000;">-15,1 to -20%</td>
                        <td style="background-color: #cc0000;">< -20%</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock page %}
