<div class="cell medium-6">
    <div id="headline_customer" style="border-bottom: solid 2px #00386d; text-align: right; width: 29.7cm;">
        <img class="customer_logo" src="{{ customer_logo }}">
    </div>
    <div style="height:18cm; width: 29.7cm;" >
        <h3 style="color: {{ font_color_second }};">A) Production & Capacity factor</h3>
        <span class="subheadline" style="color: {{ font_color_third }};">Yearly expected vs. actuals</span>

        <table id="basetable">
            <tr>
                <td colspan="2" style="text-align: left">
                    <table class="asset_report_table_operations_data">
                        <thead>
                        <tr>
                            <th>Production</th>
                            {% set counter = 1 %}
                            {% for data in dataMonthArray %}
                                    <th>{{ data }} {{ year }}</th>
                                {% set counter = counter+1 %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tr_first_column">Yield (Grid meter) [kWh]</td>
                            {% set powerEvuTotal = 0 %}
                            {% for data in table_overview_monthly.powerEvu %}
                                {% set powerEvuTotal = powerEvuTotal+data %}
                                <td class="tr_next_columns">{{ data|number_format(3, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Expected PV SYST [kWh]</td>
                            {% for data in table_overview_monthly.expectedPvSyst %}
                                <td class="tr_next_columns">{{ data|number_format(3, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Expected g4n [kWh]</td>
                            {% for data in table_overview_monthly.powerExpEvu %}
                                <td class="tr_next_columns">{{ data|number_format(3, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="tr_first_column">Inverter out [kWh]</td>
                            {% for data in table_overview_monthly.powerAct %}
                                <td class="tr_next_columns">{{ data|number_format(3, ',', '.') }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>

                </td>

            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <div style="text-align: left !important; margin-bottom: 5px;margin-top: -10px;">
                        AC losses to grid meter considered<br>
                        Source: Yield (Grid meter), VCOM E_Z_EVU<br>
                        Inverter out: VCOM Inverter AC power<br>
                    </div>
                    <table>
                        <tr>
                            <td>Capacity Factor</td>
                            <td><img width="130" src="https://gs.g4npvplus.net/goldbeck/reports/asset_management/cf.png"></td>
                        </tr>
                    </table>
                    <table class="asset_report_table_operations_data">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Day</th>
                            <th>hours [h]</th>
                            <th>CF [%]</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set average = 0 %}
                        {% set sumdays = 0 %}
                        {% set sumhours = 0 %}
                        {% set itemsinarray = 0 %}
                        {% for data in dataCfArray %}
                            {% set sumdays = sumdays+data.days %}
                            {% set sumhours = sumhours+data.hours %}
                            {% set average = average+data.cf %}
                            <tr><td class="tr_first_column">{{ data.month }}</td><td class="tr_next_columns">{{ data.days }}</td><td class="tr_next_columns">{{ data.hours }}</td><td class="tr_next_columns">{{ data.cf|number_format(3, ',', '.') }}</td></tr>
                            {% set itemsinarray = loop.length %}
                        {% endfor %}
                        <tr><td colspan="3" style="font-weight: bold">Average<td style="font-weight: bold">{{ (average/reportmonth)|number_format(3, ',', '.') }}</td></tr>
                        <tr>
                            <td class="tr_first_column">TOTAL</td>
                            <td class="tr_first_column">{{ sumdays }}</td>
                            <td class="tr_first_column">{{ sumhours }}</td>
                            <td class="tr_first_column">{{ (((powerEvuTotal/1000)/((plantSize/1000)*sumhours))*100)|round(3, 'ceil')|number_format(3, ',', '.') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    {{ operations_right|raw }}
                </td>
            </tr>
        </table>
    </div>
    <div class="footer_g4net">
        <img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg">
    </div>
</div>