{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% import _self as Macros %}
{% macro grid(table_overview_monthly, anlage) %}
    {% set gridsum = 0 %}
    <tr>
        <td class="tr_first_column" style="text-align: right;">Actual (Yield) <sup>*</sup></td>
        {% for data in table_overview_monthly.powerEvu %}
            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
            {% set gridsum = gridsum + data %}
        {% endfor %}
        <td class="tr_next_columns">{{ gridsum|number_format(0, ',', '.') }}</td>
    </tr>
{% endmacro %}
{% macro expectedPvSyst(table_overview_monthly, anlage) %}
    {% set pvsystsum = 0 %}
    <tr>
        <td class="tr_first_column" style="text-align: right;">Plant Simulation </td>
        {% for data in table_overview_monthly.expectedPvSyst %}
            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
            {% set pvsystsum = pvsystsum + data %}
        {% endfor %}

        <td class="tr_next_columns">{{ pvsystsum|number_format(0, ',', '.') }}</td>
    </tr>
{% endmacro %}
{% macro forecast(table_overview_monthly, anlage) %}
    {% set forecastsum = 0 %}
    <tr>
        <td class="tr_first_column" style="text-align: right;">Forecast g4n</td>
        {% for data in table_overview_monthly.forecast %}
            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
            {% set forecastsum = forecastsum + data %}
        {% endfor %}

        <td class="tr_next_columns">{{ forecastsum|number_format(0, ',', '.') }}</td>
    </tr>
{% endmacro %}
{% macro expectedG4N(table_overview_monthly, anlage) %}
    {% set g4nsum = 0 %}
    <tr>
        <td class="tr_first_column" style="text-align: right;">Expected g4n</td>
        {% for data in table_overview_monthly.powerExp %}
            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
            {% set g4nsum = g4nsum + data %}
        {% endfor %}
        <td class="tr_next_columns">{{ g4nsum|number_format(0, ',', '.') }}</td>
    </tr>
{% endmacro %}

{% macro inverterOut(table_overview_monthly, anlage) %}
    {%  set invsum = 0 %}
    <tr>
        <td class="tr_first_column" style="text-align: right;">Actual(Yields)<sup>*</sup></td>
        {% for data in table_overview_monthly.powerAct %}
            <td class="tr_next_columns">{{ data|number_format(0, ',', '.') }}</td>
            {%  set invsum = invsum + data %}
        {% endfor %}
        <td class="tr_next_columns">{{ invsum|number_format(0, ',', '.') }}</td>
    </tr>
{% endmacro %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Energy Production & Capacity factor</h3>
    <span class="subheadline">Yearly expected vs. actuals</span>
    <table >
        <tr>
            <td colspan="2" style="text-align: left">
                <table class="asset_report_table_operations_data"  >
                    <thead>
                    <tr>
                        <th rowspan="2" class="table-center" style="width:150px!important">Production</th>
                        {% set counter = 1 %}
                        {% for data in dataMonthArray %}
                            <th style="text-align: center;width:6.5%">{{ data }}</th>
                            {% set counter = counter+1 %}
                        {% endfor %}
                        <th style="text-align: center;width:6.5%">Total</th>
                    </tr>

                    <tr>
                        {% for data in dataMonthArray %}
                            <th style="text-align: center;width:6.5%">[kWh]</th>
                        {% endfor %}
                        <th style="text-align: center;width:6.5%">[kWh]</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% set powerEvuTotal = 0 %}

                    {% for data in table_overview_monthly.powerEvu %}
                        {% set powerEvuTotal = powerEvuTotal+data %}
                    {% endfor %}

                    {{ Macros.grid(table_overview_monthly, anlage)}}
                    {{ Macros.expectedG4N(table_overview_monthly, anlage) }}
                    {% if (anlage.hasPVSYST != true) %}
                        {{ Macros.forecast(table_overview_monthly, anlage, powerEvuTotal) }}
                    {% else %}
                        {{ Macros.expectedPvSyst(table_overview_monthly, anlage) }}
                    {% endif %}

                    <tr>
                        <td style="text-align: left;" colspan="8">
                            <sup>*</sup>Grid Meter/Inverter Out. Depending on what data is available <br>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">


                <table style="margin-bottom: .25rem">
                    <tr>
                        <td style="text-align: left">
                            <span class="subheadline" style="margin-bottom: 5px !important; margin-top: 15px !important">Capacity Factor <sup>*1</sup></span><br>

                    </tr>
                </table>
                <table class="asset_report_table_operations_data" style="width: 300px!important;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Month</th>
                        <th style="text-align: center;">Day</th>
                        <th style="text-align: center;">hours [h]</th>
                        <th style="text-align: center;">CF [%]</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set average = 0 %}
                    {% set sumdays = 0 %}
                    {% set sumhours = 0 %}
                    {% set itemsinarray = 0 %}
                    {% for data in dataCfArray %}
                        {% set sumdays = sumdays+data.days %}
                        {% set sumhours = sumhours+data.hours %}
                        {% set average = average+data.cf %}
                        <tr><td class="tr_first_column" style="text-align: center;">{{ data.month }}</td><td class="tr_next_columns">{{ data.days }}</td><td class="tr_next_columns">{{ data.hours }}</td><td class="tr_next_columns">{{ data.cf|number_format(2, ',', '.') }}</td></tr>
                        {% set itemsinarray = loop.length %}
                    {% endfor %}
                    <tr><td colspan="3" style="font-weight: bold">Average<td style="font-weight: bold">{{ (average/reportmonth)|number_format(3, ',', '.') }}</td></tr>
                    <tr>
                        <td class="tr_first_column" style="text-align: center;">TOTAL</td>
                        <td class="tr_first_column" style="text-align: right;">{{ sumdays }}</td>
                        <td class="tr_first_column" style="text-align: right;">{{ sumhours }}</td>
                        <td class="tr_first_column" style="text-align: right;">{{ (((powerEvuTotal/1000)/((anlage.kwPeak/1000)*sumhours))*100)|round(3, 'ceil')|number_format(2, ',', '.') }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="text-align: right!important;">
                {{ operations_right|raw }}
            </td>
        </tr>
    </table>
{%  endblock page %}