<div class="cell medium-6">
    <div id="headline_customer" style="border-bottom: solid 2px #00386d; text-align: right; width: 29.7cm;">
        <img class="customer_logo" src="{{ customer_logo }}">
    </div>
    <div style="height:18cm; width: 29.7cm;" >
        <h3 style="color: {{ font_color_second }};">G) Production</h3>
        <span class="subheadline" style="color: {{ font_color_third }};">Daily expected vs. actuals</span>

        <table id="basetable">
            <tr>
                <td style="vertical-align: top;">
                    <table class="asset_report_table_operations_data">
                        <thead>
                        <tr>
                            <th rowspan="3">Date</th>
                            <th>IRR</th>
                            {% if (useGridMeterDayData == true) %}
                                <th>Grid meter</th>
                            {% endif %}
                            <th>Grid meter</th>
                            <th>AC Inv.</th>
                            <th>DC Inv.</th>
                            <th>AC Exp.</th>
                            <th>DC Exp.</th>
                            {% if (useGridMeterDayData == true) %}
                                <th>Grid meter</th>
                            {% endif %}
                            <th>PR Grid meter</th>
                            <th>PR AC</th>
                            <th>PR Exp.</th>
                            {% if (showAvailability == true) %}
                                <th>PA</th>
                            {% endif %}
                            {% if (showAvailabilitySecond == true) %}
                                <th>PA 2</th>
                            {% endif %}
                            <th>Ø Temp</th>
                        </tr>
                        <tr>
                            <th></th>
                            {% if (useGridMeterDayData == true) %}
                                <th>extern</th>
                            {% endif %}
                            <th></th>
                            <th>yield</th>
                            <th>power</th>
                            <th>Inv. yield</th>
                            <th>Inv. power</th>
                            {% if (useGridMeterDayData == true) %}
                                <th>extern</th>
                            {% endif %}
                            <th></th>
                            <th>Inv.</th>
                            <th>Inv.</th>
                            {% if (showAvailability == true) %}
                                <th></th>
                            {% endif %}
                            {% if (showAvailabilitySecond == true) %}
                                <th></th>
                            {% endif %}
                            <th>Panel</th>
                        </tr>
                        <tr>
                            <th>[kWh/m2]</th>
                            {% if (useGridMeterDayData == true) %}
                                <th>[kWh]</th>
                            {% endif %}
                            <th>[kWh]</th>
                            <th>kWh</th>
                            <th>[kWh]</th>
                            <th>[kWh]</th>
                            <th>[kWh]</th>
                            {% if (useGridMeterDayData == true) %}
                                <th>[kwh]</th>
                            {% endif %}
                            <th>[%]</th>
                            <th>[%]</th>
                            <th>[%]</th>
                            {% if (showAvailability == true) %}
                                <th>[%]</th>
                            {% endif %}
                            {% if (showAvailabilitySecond == true) %}
                                <th>[%]</th>
                            {% endif %}
                            <th>[°C]</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in table_overview_dayly %}
                            <tr>
                                <td class="tr_next_columns">{{ data.date }}</td>
                                <td class="tr_next_columns">{{ data.irradiation|number_format(3, ',', '.') }}</td>
                                {% if (useGridMeterDayData == true)%}
                                    <td class="tr_next_columns">{{ data.powerEGridExtMonth|number_format(3, ',', '.') }}</td>
                                {% endif %}
                                <td class="tr_next_columns">{{ data.PowerEvuMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.powerActMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.powerDctMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.powerExpMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.powerExpDctMonth|number_format(3, ',', '.') }}</td>
                                {% if (useGridMeterDayData == true)%}
                                    <td class="tr_next_columns">{{ data.prEGridExtMonth|number_format(3, ',', '.') }}</td>
                                {% endif %}
                                <td class="tr_next_columns">{{ data.prEvuMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.prActMonth|number_format(3, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.prExpMonth|number_format(3, ',', '.') }}</td>
                                {% if (showAvailability == true) %}
                                    <td class="tr_next_columns">{{ data.plantAvailability|number_format(3, ',', '.') }}</td>
                                {% endif %}
                                {% if (showAvailabilitySecond == true) %}
                                    <td class="tr_next_columns">{{ data.plantAvailabilitySecond|number_format(3, ',', '.') }}</td>
                                {% endif %}
                                <td class="tr_next_columns">{{ data.panneltemp|number_format(3, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer_g4net">
        <img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg">
    </div>
</div>