{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}

    {% set irrsum = 0 %}
    {% set extgrid = 0 %}
    {% set gridsum = 0 %}
    {% set ACInvsum = 0 %}
    {% set DCInvsum = 0 %}
    {% set ACexpsum = 0 %}
    {% set DCexpsum = 0 %}
    {% set TheoSum = 0 %}
    {% set daycount = 0 %}
    {% set tempsum = 0 %}
    {% set PAsum = 0 %}
    {% set PAsum2 = 0 %}



    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Daily Production - {{ month }} {{ year }}</h3>

        <table style="width: 100% !important">
            <tr>
                <td style="vertical-align: top;">

                    <table class="asset_report_table_operations_data">
                        <thead>
                        <tr>
                            <th rowspan="3" class="table-center" >Date</th>
                            <th class="table-center">IRR</th>
                            {% if (anlage.useGridMeterDayData == true) %}
                                <th class="table-center">Grid meter</th>

                            {% endif %}
                            {% if (anlage.getShowEvuDiag) %}
                                <th class="table-center">Grid meter</th>
                            {% endif %}
                            <th class="table-center">AC Inv.</th>
                            <th class="table-center">DC Inv.</th>
                            <th class="table-center">AC Exp.</th>
                            <th class="table-center">DC Exp.</th>
                            {% if (anlage.getShowEvuDiag) %}
                                <th class="table-center">PR Grid meter</th>
                            {% endif %}
                            <th class="table-center">PR AC</th>
                            <th class="table-center">PR Exp.</th>
                            {% if (anlage.showAvailability == true) %}
                                <th class="table-center">PA</th>
                            {% endif %}
                            {% if (anlage.showAvailabilitySecond == true) %}
                                <th class="table-center">PA 2</th>
                            {% endif %}
                            <th class="table-center">Ø Temp</th>
                            <th class="table-center"> Theo* Power</th>
                        </tr>
                        <tr>
                            <th></th>
                            {% if (anlage.useGridMeterDayData == true) %}
                                <th>extern</th>
                            {% endif %}
                            {% if (anlage.getShowEvuDiag) %}
                                <th></th>
                            {% endif %}
                            <th class="table-center">yield</th>
                            <th class="table-center">power</th>
                            <th class="table-center">Inv. yield</th>
                            <th class="table-center">Inv. power</th>
                            {% if (anlage.getShowEvuDiag) %}
                                <th></th>
                            {% endif %}
                            <th class="table-center">Inv.</th>
                            <th class="table-center">Inv.</th>
                            {% if (anlage.showAvailability == true) %}
                                <th></th>
                            {% endif %}
                            {% if (anlage.showAvailabilitySecond == true) %}
                                <th></th>
                            {% endif %}
                            <th class="table-center">Panel</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="table-center">[kWh/m2]</th>
                            {% if (anlage.useGridMeterDayData == true) %}
                                <th class="table-center">[kWh]</th>
                            {% endif %}
                            {% if (anlage.getShowEvuDiag) %}
                                <th class="table-center">[kWh]</th>
                            {% endif %}
                            <th class="table-center">kWh</th>
                            <th class="table-center">[kWh]</th>
                            <th class="table-center">[kWh]</th>
                            <th class="table-center">[kWh]</th>

                            {% if (anlage.getShowEvuDiag) %}
                                <th class="table-center">[%]</th>
                            {% endif %}
                            <th class="table-center">[%]</th>
                            <th class="table-center">[%]</th>
                            {% if (anlage.showAvailability == true) %}
                                <th class="table-center">[%]</th>
                            {% endif %}
                            {% if (anlage.showAvailabilitySecond == true) %}
                                <th class="table-center">[%]</th>
                            {% endif %}
                            <th class="table-center">[°C]</th>
                            <th class="table-center">[kWh]</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for data in table_overview_dayly %}
                            <tr>
                                <td class="tr_next_columns">{{ data.date |  format_datetime(pattern="dd")}}</td>
                                <td class="tr_next_columns">{{ data.irradiation|number_format(2, ',', '.') }}</td>
                                {% set irrsum = irrsum + data.irradiation %}
                                {% if (anlage.useGridMeterDayData == true)%}
                                    <td class="tr_next_columns">{{ data.powerEGridExtMonth|number_format(0, ',', '.') }}</td>
                                    {% set extgrid = extgrid + data.powerEGridExtMonth %}
                                {% endif %}
                                {% if (anlage.getShowEvuDiag) %}
                                    <td class="tr_next_columns">{{ data.PowerEvuMonth|number_format(0, ',', '.') }}</td>
                                    {% set gridsum = gridsum + data.PowerEvuMonth %}
                                {% endif %}
                                <td class="tr_next_columns">{{ data.powerActMonth|number_format(0, ',', '.') }}</td>
                                {% set ACInvsum = ACInvsum + data.powerActMonth %}
                                <td class="tr_next_columns">{{ data.powerDctMonth|number_format(0, ',', '.') }}</td>
                                {% set DCInvsum = DCInvsum + data.powerDctMonth %}
                                <td class="tr_next_columns">{{ data.powerExpMonth|number_format(0, ',', '.') }}</td>
                                {% set ACexpsum = ACexpsum + data.powerExpMonth%}
                                <td class="tr_next_columns">{{ data.powerExpDctMonth|number_format(0, ',', '.') }}</td>
                                {% set DCexpsum = DCexpsum + data.powerExpDctMonth %}
                                {% if (anlage.getShowEvuDiag) %}
                                    <td class="tr_next_columns">{{ data.prEvuMonth|number_format(2, ',', '.') }}</td>

                                {% endif %}
                                <td class="tr_next_columns">{{ data.prActMonth|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns">{{ data.prExpMonth|number_format(2, ',', '.') }}</td>
                                {% if (anlage.showAvailability == true) %}
                                    <td class="tr_next_columns">{{ data.plantAvailability|number_format(2, ',', '.') }}</td>
                                    {% set PAsum = PAsum + data.plantAvailability %}
                                {% endif %}
                                {% if (anlage.showAvailabilitySecond == true) %}
                                    <td class="tr_next_columns">{{ data.plantAvailabilitySecond|number_format(2, ',', '.') }}</td>
                                    {% set PAsum2 = PAsum2 + data.plantAvailabilitySecond %}
                                {% endif %}
                                <td class="tr_next_columns">{{ data.panneltemp|number_format(2, ',', '.') }}</td>
                                {% set tempsum = tempsum + data.panneltemp %}
                                <td class="tr_next_columns"> {{ (data.irradiation * anlage.kwPeak )|number_format(0, ',', '.') }}</td>

                            </tr>
                            {% set daycount = daycount + 1 %}
                        {% endfor %}
                        {% set TheoSum = irrsum * anlage.kwPeak %}
                        <tr>
                            <td class="tr_next_columns"> <b>Overall</b></td>
                            <td class="tr_next_columns"><b>{{ irrsum | number_format(2, ',', '.') }}</b></td>
                            {% if (anlage.useGridMeterDayData == true)%}
                                <td class="tr_next_columns"><b>{{ extgrid |number_format(2, ',', '.')}}</b></td>
                            {% endif %}
                            {% if (anlage.getShowEvuDiag) %}
                                <td class="tr_next_columns"><b>{{ gridsum |number_format(0, ',', '.')}}</b></td>
                            {% endif %}
                            <td class="tr_next_columns"> <b>{{ ACInvsum |number_format(0, ',', '.') }}</b></td>
                            <td class="tr_next_columns"> <b>{{ DCInvsum |number_format(0, ',', '.') }}</b></td>
                            <td class="tr_next_columns"> <b>{{ ACexpsum |number_format(0, ',', '.') }}</b> </td>
                            <td class="tr_next_columns"> <b>{{ DCexpsum |number_format(0, ',', '.') }}</b> </td>
                            {% if (anlage.getShowEvuDiag == true)%}
                                <td class="tr_next_columns"> <b>{{ ((gridsum/TheoSum)*100)|number_format(2, ',', '.') }}</b></td>
                            {% endif %}
                            <td class="tr_next_columns"><b>{{  ((ACInvsum/TheoSum)*100) |number_format(2, ',', '.')}}</b></td>
                            <td class="tr_next_columns"> <b>{{  ((ACexpsum/TheoSum)*100) |number_format(2, ',', '.')}}</b></td>
                            {% if (anlage.showAvailability == true) %}
                                <td class="tr_next_columns"> <b>{{ (PAsum/daycount)|number_format(2, ',', '.') }}</b></td>
                            {% endif %}
                            {% if (anlage.showAvailabilitySecond == true) %}
                                <td class="tr_next_columns"> <b>{{ (PAsum2/daycount)|number_format(2, ',', '.') }}</b></td>
                            {% endif %}
                            <td class="tr_next_columns"> <b>{{ (tempsum/daycount)|number_format(2, ',', '.')}}</b> </td>
                            <td class="tr_next_columns"> <b>{{ TheoSum |number_format(0, ',', '.')}}</b></td>

                        </tr>
                        </tbody>
                    </table>

                </td>
                <td class="pr-formula" >
                        <img src="{{ absolute_url(asset('images/Formulas/prFormelStandard.png')) }}">

                        <img src="{{ absolute_url(asset('images/Formulas/Theo_Power_formula.png')) }}">
                </td>

            </tr>
        </table>


{% endblock page %}