{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}

    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Losses Table</h3>
    <div class="grid-x">
        <div class="cell">
            <table class="asset_report_table_operations_data" >
                <thead>
                    <tr>
                        <th class="table-center" rowspan="2">Month</th>
                        <th class="table-center">Forecast</th>
                        <th class="table-center">Forecast Irradiation</th>
                        <th class="table-center">Corrected Forecast <sup>*</sup></th>
                        <th class="table-center">Actual</th>
                        <th class="table-center">Irradiation</th>
                        <th class="table-center">SOR Losses</th>
                        <th class="table-center">EFOR Losses</th>
                        <th class="table-center">OMC Losses</th>
                        <th class="table-center">Regulatory Losses</th>
                        <th class="table-center">Data Gaps</th>
                        <th class="table-center">Other Losses</th>
                        <th class="table-center">Total Losses</th>
                        <th class="table-center">Expected</th>
                    </tr>
                    <tr>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh/m<sup>2</sup></th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh/m<sup>2</sup></th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>
                        <th class="table-center">kWh</th>

                    </tr>
                </thead>
                <tbody>
                    {% for row in waterfallHelpTable %}

                            <tr>
                                {% if loop.last %}
                                    <td class="tr_next_columns">Total</td>
                                {% else %}
                                    <td class="tr_next_columns">{{ loop.index }}</td>
                                {% endif %}
                                <td class="tr_next_columns"> {{ row.forecast|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.forecastIrr|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.correctedForecast|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.actual|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.irradiation|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.SORLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.EFORLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.OMCLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.PPCLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.GapLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.otherLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.totalLosses|number_format(2, ',', '.') }}</td>
                                <td class="tr_next_columns"> {{ row.expected|number_format(2, ',', '.') }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>

            <p style="font-size: 12px">
                <br>
                <sup>*</sup> Corrected Forecast = Forecast * (Irradiation / Forecast Irradiation)
            </p>
        </div>
    </div>

{%  endblock page %}