{% extends 'base.html.twig' %}

{% block title %}
	{{  parent() }}special operations
{% endblock %}

{% block styles %}
	{{  parent() }}
	{{ encore_entry_link_tags('special_export') }}
	<link href="{{ absolute_url(asset('css/monthly_report_inline.css')) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('special_export') }}
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script>
		$(function () {
			let daysInMonth = $('#createTopic_daysinmonth').val();
			$('#createTopic_startday').on('change', function (e) {
				let optionSelected = $("option:selected", this);
				let startday = parseInt(this.value);
				let restDays = daysInMonth - startday;

				startday = startday + 1;
				$('#createTopic_endday').empty();
				$('#createTopic_endday').append($('<option>', {
					value: 0,
					text : 'please choose',
					selected: true
				}));
				let i = startday;
				while (i <= daysInMonth) {
					$('#createTopic_endday').append($('<option>', {
						value: i,
						text : i
					}));
					i++;
				}
			});
		});
	</script>

{% endblock %}

{% block body %}
	{% block form %}
		{% set routeParams = app.request.query.all() | merge(app.request.attributes.get('_route_params')) %}
		{% if flow.isAllowDynamicStepNavigation() %}
			{% set routeParams = routeParams | craue_removeDynamicStepNavigationParameters(flow) %}
		{% endif %}

		{{ form_start(form, {'action': path(app.request.attributes.get('_route'), routeParams), 'attr': {'class': 'flow-form'}}) }}
		<fieldset>
			<legend>{{ 'step' | trans }} {{ flow.getCurrentStepNumber() }}: {{ flow.getCurrentStepLabel() | trans }}</legend>
			{{ form_errors(form) }}

			{% if flow.getCurrentStepNumber() == 3 %}
				{{ 'bug_details_intro' | trans }}
				<br /><br />
				{{ form_row(form.details) }}
			{% endif %}

			{% if flow.getCurrentStepNumber() == 4 %}
				<h2>{{ 'Check your Data' }}</h2>
				<br />
				<dl>
					<div class="formFlowConfirmData">
						<dt>{{ 'Year' }}:</dt>
						<dd>{{ formData.year }}</dd>
					</div>

					<div class="formFlowConfirmData">
						<dt>{{ 'Month' }}</dt>
						<dd>{{ formData.month }}</dd>
					</div>

					<div class="formFlowConfirmData">
						<dt>{{ 'Plant' }}</dt>
						<dd>{{ formData.anlage }}</dd>
					</div>

					<div class="formFlowConfirmData">
						<dt>{{ 'Startday' }}</dt>
						<dd>{{ formData.startday }}</dd>
					</div>

					<div class="formFlowConfirmData">
						<dt>{{ 'Sndday' }}</dt>
						<dd>{{ formData.endday }}</dd>
					</div>

					{% if formData.isBugReport() %}
						<dt>{{ 'details' }}</dt>
						<dd>{{ formData.details | nl2br }}</dd>
					{% endif %}
				</dl>
			{% endif %}

			{{ form_rest(form) }}
		</fieldset>

		<div class="formflowbuttons">
			<div class="formflowbuttonsinner">
				{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
					craue_formflow_button_class_last: 'btn btn-primary',
					craue_formflow_button_class_back: 'btn_back',
					craue_formflow_button_class_reset: 'btn btn-warning',
					craue_formflow_button_class_next: 'btn_next',
					craue_formflow_button_class_finish: 'submit',
					craue_formflow_button_label_finish: 'Create report',
					craue_formflow_button_label_reset: 'Start over',
				} %}
			</div>
		</div>
		{{ form_end(form) }}
	{% endblock %}

{% endblock %}