<div class="grid-x">
    <div class="cell">
        <fieldset class="fieldset">
            <legend>Department Settings</legend>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Technical</legend>
                        {{ form_row(anlageForm.settings.disableDep0) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 1 (O&M)</legend>
                        {{ form_row(anlageForm.settings.disableDep1) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 2 (EPC)</legend>
                        {{ form_row(anlageForm.settings.disableDep2) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 3 (AM)</legend>
                        {{ form_row(anlageForm.settings.disableDep3) }}
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="grid-x">
    <div class="cell">
        <fieldset class="fieldset">
            <legend>PA Berechnung</legend>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Technical</legend>
                        {{ form_row(anlageForm.settings.enablePADep0) }}
                        {{ form_row(anlageForm.threshold1PA0) }}
                        {{ form_row(anlageForm.threshold2PA0) }}
                        {{ form_row(anlageForm.usePAFlag0) }}
                        {{ form_row(anlageForm.paFormular0) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 1 (O&M)</legend>
                        {{ form_row(anlageForm.settings.enablePADep1) }}
                        {{ form_row(anlageForm.threshold1PA1) }}
                        {{ form_row(anlageForm.threshold2PA1) }}
                        {{ form_row(anlageForm.usePAFlag1) }}
                        {{ form_row(anlageForm.paFormular1) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 2 (EPC)</legend>
                        {{ form_row(anlageForm.settings.enablePADep2) }}
                        {{ form_row(anlageForm.threshold1PA2) }}
                        {{ form_row(anlageForm.threshold2PA2) }}
                        {{ form_row(anlageForm.usePAFlag2) }}
                        {{ form_row(anlageForm.paFormular2) }}
                    </fieldset>
                </div>
                <div class="cell medium-3">
                    <fieldset class="fieldset">
                        <legend>Department 3 (AM)</legend>
                        {{ form_row(anlageForm.settings.enablePADep3) }}
                        {{ form_row(anlageForm.threshold1PA3) }}
                        {{ form_row(anlageForm.threshold2PA3) }}
                        {{ form_row(anlageForm.usePAFlag3) }}
                        {{ form_row(anlageForm.paFormular3) }}
                    </fieldset>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2">
                    {{ form_row(anlageForm.treatingDataGapsAsOutage) }}
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="grid-x ">
    <div class="cell">
        <fieldset class="fieldset">
            <legend>PR Berechnung</legend>
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-3">
                            <fieldset class="fieldset">
                                <legend>Technical</legend>
                                {{ form_row(anlageForm.prFormular0) }}
                            </fieldset>
                        </div>
                        <div class="cell medium-3">
                            <fieldset class="fieldset">
                                <legend>Department 1 (O&M)</legend>
                                {{ form_row(anlageForm.prFormular1) }}
                            </fieldset>
                        </div>
                        <div class="cell medium-3">
                            <fieldset class="fieldset">
                                <legend>Department 2 (EPC)</legend>
                                {{ form_row(anlageForm.prFormular2) }}
                            </fieldset>
                        </div>
                        <div class="cell medium-3">
                            <fieldset class="fieldset">
                                <legend>Department 3 (AM)</legend>
                                {{ form_row(anlageForm.prFormular3) }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell">
                    <fieldset class="fieldset">
                        <legend>Settings for PR Calculation</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(anlageForm.tempCorrCellTypeAvg) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.tempCorrGamma) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.tempCorrA) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.tempCorrB) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.tempCorrDeltaTCnd) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.degradationPR) }}</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
</div>