
    <div class="grid-x grid-margin-x ">
        <div class="cell">
            <fieldset class="fieldset">
                <legend>Import Settings</legend>
                <div class="grid-x grid-padding-x">
                    <div class="cell"> {{ form_row(anlageForm.settings.apiConfig) }}</div>
                    <div class="cell small-12"> {{ form_row(anlageForm.settings.symfonyImport) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.useSensorsData) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.sensorsInBasics) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.sensorsFromSatelite) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.importType) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.stringboxesUnits) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.invertersUnits) }}</div>
                    <div class="cell small-4"> {{ form_row(anlageForm.settings.dataDelay) }}</div>
                    <div class="cell small-4">{{ form_row((anlageForm.pathToImportScript)) }}</div>
                </div>
                <div class="cell medium-6">
                </div>
            </fieldset>
        </div>
    </div>
