{% import _self as formMacros %}

{% macro addModule(module) %}
    <li class="accordion-item js-module-item" data-accordion-item data-allow-all-closed="true">
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Modul: NEW</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2">{{ form_row(module.type) }}</div>
                <div class="cell medium-2">{{ form_row(module.power) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefCurrent) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefVoltage) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefPower) }}</div>
                <div class="cell medium-2">{{ form_row(module.degradation) }}</div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2">{{ form_row(module.maxImpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.maxUmpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.maxPmpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.backSideFactor) }}</div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Current</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentC) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentD) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentE) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentHighA) }}</div>
                        </div>
                    </fieldset>
                </div>

                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Voltage</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageB) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightC) }}</div>
                        </div>
                    </fieldset>
                </div>

                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Power</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorPowerA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerC) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerD) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerE) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighB) }}</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}

<fieldset class="fieldset js-module-wrapper"
          data-prototype="{{ formMacros.addModule(anlageForm.modules.vars.prototype)|e('html_attr') }}"
          data-index="{{ anlageForm.modules|length }}"
>
    <legend>Modules</legend>

    <div id="modules">
        <ul id="js-accordion" class="accordion" data-accordion data-allow-all-closed="true">
            {% for module in anlageForm.modules %}
                <li class="accordion-item js-module-item" data-accordion-item data-allow-all-closed="true">
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">Modul Type: <b>{{ module.type.vars.value }}</b>{% if is_granted('ROLE_G4N') %} - (Module ID: {{ module.vars.data.id }}) {% endif %}</a>

                    <div class="accordion-content" data-tab-content>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.type) }}</div>
                            <div class="cell medium-2">{{ form_row(module.power) }}</div>
                            <div class="cell medium-2">{{ form_row(module.tempCoefCurrent) }}</div>
                            <div class="cell medium-2">{{ form_row(module.tempCoefVoltage) }}</div>
                            <div class="cell medium-2">{{ form_row(module.tempCoefPower) }}</div>
                            <div class="cell medium-2">{{ form_row(module.degradation) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.maxImpp) }}</div>
                            <div class="cell medium-2">{{ form_row(module.maxUmpp) }}</div>
                            <div class="cell medium-2">{{ form_row(module.maxPmpp) }}</div>
                            <div class="cell medium-2">{{ form_row(module.backSideFactor) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-6 large-4">
                                <fieldset class="fieldset">
                                    <legend>Operators Current</legend>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentA) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentB) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentC) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentD) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentE) }}</div>
                                    </div>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorCurrentHighA) }}</div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="cell medium-6 large-4">
                                <fieldset class="fieldset">
                                    <legend>Operators Voltage</legend>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorVoltageA) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorVoltageB) }}</div>
                                    </div>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorVoltageHightA) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorVoltageHightB) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorVoltageHightC) }}</div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="cell medium-6 large-4">
                                <fieldset class="fieldset">
                                    <legend>Operators Power</legend>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerA) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerB) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerC) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerD) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerE) }}</div>
                                    </div>
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerHighA) }}</div>
                                        <div class="cell medium-2">{{ form_row(module.operatorPowerHighB) }}</div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="button" class="button secondary small js-add-module"> <span class="fa fa-plus-circle"></span>&nbsp;Add Modul</button>
</fieldset>