{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Tools
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script>
        $(document).ready( function() {
            $('#tools_form_function').change(function() {
                // to get the selected value
                var titletext = document.getElementsByClassName('titletextflexspan')[0];
                titletext.innerText = $("#tools_form_function option:selected").text();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1 id="thechange">Tools</h1>
            <div class = "titletextflex" id="titletextflex" style="display: none">This action will calculate <span class="titletextflexspan"></span> for selected Plant.</div>
        </div>

    </div>

    {{ form_start(toolsForm, {'attr':{
        'data-controller':'submit-confirm',
        'data-action':'submit-confirm#onSubmit',
        'data-submit-confirm-title-value':'This action will make updates for selected Plant. ',
        'data-submit-confirm-text-value':"Are you sure you want to continue!",
        'data-submit-confirm-icon-value':'warning',
    }}) }}

        <div class="grid-x grid-margin-x">
            <div class="cell medium-2">
                {{ form_row(toolsForm.anlage) }}
            </div>
            <div class="cell medium-2">
                {{ form_row(toolsForm.startDate) }}
            </div>
            <div class="cell medium-2">
                {{ form_row(toolsForm.endDate) }}
            </div>
            <div class="cell medium-2">
                {{ form_row(toolsForm.function) }}
            </div>
        </div>

        <div class="grid-x grid-margin-x" style="min-height: 50vh;">
            <div class="cell medium-12">
                <div class="callout" >
                    {{ output|raw }}
                </div>
            </div>
        </div>

        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell medium-4">
                <button type="submit" id="tools_form_calc" name="tools_form[calc]" class="primary save button button">Start calculation &nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></button>
            </div>

        </div>
    {{ form_end(toolsForm) }}

{% endblock %}