{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Tools
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Tools</h1>
        </div>
    </div>
    {{ form_start(toolsForm, {'attr': {'novalidate': 'no'}}) }}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-3">
                {{ form_row(toolsForm.anlage) }}
            </div>
            <div class="cell medium-3">
                {{ form_row(toolsForm.startDate) }}
            </div>
            <div class="cell medium-3">
                {{ form_row(toolsForm.endDate) }}
            </div>
            <div class="cell medium-3">
                {{ form_row(toolsForm.function) }}
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x text-right">
            <div class="cell">
                {{ form_widget(toolsForm.close) }}
                {{ form_widget(toolsForm.calc) }}
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell medium-4">
                <div class="callout" style="min-height: 50vh;">
                    {{ output|raw }}
                </div>
            </div>
            <div class="cell medium-8">
                <div class="callout primary" style="min-height: 50vh;">
                    <table class="message-log">
                        <thead>
                        <tr>
                            <th>Plant</th>
                            <th>State</th>
                            <th>start</th>
                            <th>end</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.function }} / {{ log.plant }}</td>
                                <td>{{ log.state }}</td>
                                <td>{{ log.startedAt|date('y-m-d H:i') }}</td>
                                <td>{# {% is(log.finishedAt) %}{{ log.finishedAt|date('y-m-d H:i') }}{% endif %} #}</td>
                                <td colspan="4">{{ log.job }}</td>
                            </tr>
                            {# <tr>
                                <td colspan="4">{{ log.job }}</td>
                            </tr> #}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{ form_end(toolsForm) }}
{% endblock %}