{{ form_start(form) }}

{{ form_start(form) }}
<div class="grid-x grid-margin-x align-middle" >

    <div class="cell medium-2" >
        {{ form_row(form.dcGroup) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.dcGroupName) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.acGroup) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.unitFirst) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.unitLast) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.weatherStation) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.irrUpper) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.irrLower) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.secureLoss) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.factorAC) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.gridLoss) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.limitAc) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.gridLimitAc) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.shadowLoss) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.cabelLoss) }}
    </div>
    <div class="cell medium-2" >
        {{ form_row(form.anlage) }}
    </div>
</div>
<div class="button-group align-right">
    <button class="button disabled ">{{ button_label|default('Save') }}</button>
</div>


{{ form_end(form) }}
