{% import _self as formMacros %}

{% macro addGroupModule(module) %}
    <tr >
        <td>{{ form_widget(module.moduleType) }}</td>
        <td>{{ form_widget(module.numStringsPerUnit) }}</td>
        <td>{{ form_widget(module.numStringsPerUnitEast,{'attr':{
                'data-action':'submit-confirm#onChangeEast',
                'class':'east'
            }})
            }}
        </td>
        <td>{{ form_widget(module.numStringsPerUnitWest,{'attr':{
                'data-action':'submit-confirm#onChangeWest',
                'class':'west'
            }})
            }}
        </td>
        <td >{{ form_widget(module.numModulesPerString,{'attr':{
                'class':'module'
            }})
            }}
        </td>
        <td>
            <a href="#" data-action="submit-confirm#removeFormElement">
                <span class="fa fa-minus-circle"></span>
            </a>
        </td>
    </tr>
{% endmacro %}

{% macro addMonth(month) %}
    <tr >
        <td>{{ form_widget(month.month) }}</td>
        <td>{{ form_widget(month.irrUpper) }}</td>
        <td>{{ form_widget(month.irrLower) }}</td>
        <td>{{ form_widget(month.shadowLoss) }}</td>
        <td><a href="#" data-action="submit-confirm#removeFormElement">
                <span class="fa fa-minus-circle"></span>
            </a>
        </td>
    </tr>
{% endmacro %}

{{ form_start(form, {'attr':{
    'data-controller':'submit-confirm',
    'data-action':'submit-confirm#onSubmit',
    'data-submit-confirm-title-value':'This action will change these settings for this form. ',
    'data-submit-confirm-text-value':"Are you sure you want to continue!",
    'data-submit-confirm-icon-value':'warning',
}}) }}
<div class="grid-x grid-padding-x">
    <div class="cell medium-1">{{ form_row(form.dcGroup) }}</div>
    <div class="cell medium-2">{{ form_row(form.dcGroupName) }}</div>
    <div class="cell medium-1">{{ form_row(form.acGroup) }}</div>
    <div class="cell medium-2">{{ form_row(form.unitFirst) }}</div>
    <div class="cell medium-2">{{ form_row(form.unitLast) }}</div>
    <div class="cell medium-2">{{ form_row(form.weatherStation) }}</div>
    <div class="cell medium-2">{{ form_row(form.importId) }}</div>
</div>
<div class="grid-x grid-padding-x">
    <div class="cell medium-2">{{ form_row(form.cabelLoss) }}</div>
    <div class="cell medium-2">{{ form_row(form.secureLoss) }}</div>
    <div class="cell medium-2">{{ form_row(form.factorAC) }}</div>
    <div class="cell medium-2">{{ form_row(form.gridLoss) }}</div>
    <div class="cell medium-2">{{ form_row(form.limitAc) }}</div>
    <div class="cell medium-2">{{ form_row(form.gridLimitAc) }}</div>
    <div class="hide">{{ form_row(form.anlage) }}</div>
</div>
<div class="grid-x grid-padding-x ">
    <div class="cell medium-6">
        <p>Modul Settings</p>
        <table >
            <thead>
            <tr>
                <th style ="width: 30%;"><small>Type</small></th>
                <th><small>Strings / Unit</small></th>
                <th><small>Strings (East)</small></th>
                <th><small>Strings (West)</small></th>
                <th><small>Modules / String</small></th>
                <th></th>
            </tr>
            </thead>
            <tbody {{stimulus_target('submit-confirm', 'modules') }}>
            {% for module in form.modules %}
                {{ formMacros.addGroupModule(module) }}
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="button secondary small"
                data-action="submit-confirm#addModule"
                data-prototype="{{ formMacros.addGroupModule(form.modules.vars.prototype)|e('html_attr') }}"
                data-index="{{ form.modules|length }}"
        ><span class="fa fa-plus-circle"></span>&nbsp;
            Add
        </button>
</div>
    <div class="cell medium-6">
        <div >
            <p>Settings per Month</p>
            <table>
                <thead>
                <tr>
                    <th><small>Month</small></th>
                    <th><small>Irr Upper</small></th>
                    <th><small>Irr Lower</small></th>
                    <th><small>Shadow Loss</small></th>
                    <th></th>
                </tr>

                </thead>
                <tbody {{ stimulus_target('submit-confirm', 'months') }}>
                {% for month in form.months %}
                    {{ formMacros.addMonth(month) }}
                {% endfor %}
                </tbody>
            </table>
            <button type="button" class="button secondary small"
                    data-action="submit-confirm#addMonth"
                    data-prototype="{{ formMacros.addMonth(form.months.vars.prototype)|e('html_attr') }}"
                    data-index="{{ form.months|length }}"
            ><span class="fa fa-plus-circle"></span>&nbsp;
                Add
            </button>
        </div>
    </div>
</div>
<div class="button-form align-right">
    <button class="button  ">{{ button_label|default('Update') }}</button>
</div>


{{ form_end(form) }}
