{% extends 'base.html.twig' %}

{% block title %}AnlageGroups index{% endblock %}

{% block body %}
    <h1>AnlageGroups {% if anlage is not null %} {{ anlage.anlName}} {% endif%} </h1>
    <div {{ stimulus_controller('search-group', {
        url:path('app_anlage_groups_anlage_index',{'anlage':anlage})
    }) }}>

    <div class="grid-x grid-margin-x ">
        <fieldset class="fieldset grid-x cell medium-6">
            {% if show_form2 == true %}  <legend>Suche</legend> {% endif %}

                <div class="cell medium-6">
                    {{ form_start(form) }}
                    <div class="grid-x  align-middle" >

                        <div class="cell medium-10">
                            {{ form_row(form.anlage) }}
                        </div>

                    </div>
                    {{ form_end(form) }}
                </div>
            {% if show_form2 == true %}
                <div class="cell grid-x medium-6">
                    <form class="cell medium-10" >
                        <input
                                name="q"
                                value="{{ searchTerm }}"
                                placeholder="Search specifics {{ anlage.anlName}} groups..."
                                type="search"
                                data-action="search-group#onSearchGroup"
                        >
                    </form>
                </div>
            {% endif %}
        </fieldset>

        {% if show_form2 == true %}
        <fieldset class="fieldset  cell medium-6">
            <legend>Update</legend>
                <div class="cell ">
                   {{ form_start(form2, {'attr':{
                       'data-controller':'submit-confirm',
                       'data-action':'submit-confirm#onSubmit',
                       'data-submit-confirm-title-value':'This action will change these settings for all this groups Plant. ',
                       'data-submit-confirm-text-value':"Are you sure you want to continue!",
                       'data-submit-confirm-icon-value':'warning',

                   }}) }}
                   <div class="grid-x grid-margin-x">
                       <div class="cell medium-3 grid-x">
                           {{ form_widget(form2.secureLoss) }}
                       </div>
                       <div class="grid-x cell medium-3">
                           {{ form_widget(form2.factorAC) }}
                       </div>
                       <div class="grid-x cell medium-3">
                           {{ form_widget(form2.gridLoss) }}
                       </div>

                       <div class="button-group align-center-middle cell medium-3 ">
                           <button type="submit" class="button " formnovalidate>update</button>
                       </div>


                   </div>

                   {{ form_end(form2) }}
                </div>
        </fieldset>
        {% endif %}

    </div>

<div data-search-group-target="bodytab">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AnlageName</th>
                <th>DcGroup</th>
                <th>DcGroupName</th>
                <th>AcGroup</th>
                <th>UnitFirst</th>
                <th>UnitLast</th>
                <th>IrrUpper</th>
                <th>IrrLower</th>
                <th>ShadowLoss</th>
                <th>CabelLoss</th>
                <th>SecureLoss</th>
                <th>FactorAC</th>
                <th>GridLoss</th>
                <th>LimitAc</th>
                <th>GridLimitAc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anlage_group in anlage_groups %}
            <tr>
                <td>{{ anlage_group.id }}</td>
                <td>{% if anlage_group.anlage %}{{ anlage_group.anlage.anlName }} {% else %} not found {% endif %}</td>
                <td>{{ anlage_group.dcGroup }}</td>
                <td>{{ anlage_group.dcGroupName }}</td>
                <td>{{ anlage_group.acGroup }}</td>
                <td>{{ anlage_group.unitFirst }}</td>
                <td>{{ anlage_group.unitLast }}</td>
                <td>{{ anlage_group.irrUpper }}</td>
                <td>{{ anlage_group.irrLower }}</td>
                <td>{{ anlage_group.shadowLoss }}</td>
                <td>{{ anlage_group.cabelLoss }}</td>
                <td>{{ anlage_group.secureLoss }}</td>
                <td>{{ anlage_group.factorAC }}</td>
                <td>{{ anlage_group.gridLoss }}</td>
                <td>{{ anlage_group.limitAc }}</td>
                <td>{{ anlage_group.gridLimitAc }}</td>
                <td>

                    <a href="{{ path('app_anlage_groups_edit', {'id': anlage_group.id}) }}" class="hollow button tiny action-icon shadow"><span class="fa fa-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(anlage_groups) }}
</div>

</div>

{% endblock %}
