{% extends 'report/_base_layouts/_pageBase.html.twig' %}
{% block page %}

    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Legend</h3>
    {% if legend|length > 0 %}
        <table>
            <thead>
            <tr>
                <th>Row</th>
                <th>Title</th>
                <th>Unit</th>
                <th>Description</th>
                <th>Source</th>
            </tr>
            </thead>
            <tbody>
            {% for legendRow in legend %}
                <tr>
                    <td>{{ legendRow.row }}</td>
                    <td>{{ legendRow.title }}</td>
                    <td>{{ legendRow.unit }}</td>
                    <td>{{ legendRow.description }}</td>
                    <td>{{ legendRow.source }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="basetable">
            <thead>
            <tr>
                <th>Row</th>
                <th>Title</th>
                <th>Unit</th>
                <th>Description</th>
                <th>Source</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">No data available in table</td>
            </tr>
            </tbody>
        </table>
    {% endif %}



    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Remarks</h3>
    {{ headline.epcNote }}

{% endblock %}
