{% extends 'base.html.twig' %}
{% import 'macros/macros.library.html.twig' as macrolibrary %}

{% block title %}List UserLogin{% endblock %}

{% block body %}
    <h1>User Login Log</h1>
    {{ macrolibrary.searchbox(app.request.query.get('qp'), 'qp') }}
    <table class="table sortable">
        <thead>
        <tr>
            <th {% if pagination.isSorted('userLogin.loggedAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Logged at', ['log.loggedAt']) }}</th>
            <th {% if pagination.isSorted('log.userId') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'User Id', ['log.userId']) }}</th>
            <th>Description</th>
            <th style="text-align: right;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for userlogin in pagination %}
            <tr>
                <td>{{ userlogin.loggedAt|date }}</td>
                <td>{{ userlogin.userId }}</td>
                <td style="text-align: right;">
                    {# <a href="{{ path('app_anlagen_edit', { id: plant.anlId}) }}" title="Edit Legend" class="hollow button tiny action-icon shadow"><span class="fa fa-pencil"></span></a>&nbsp;  #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
