{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}Analysis Tools
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('analysis', {
        urlCreate: path('app_analysis_upload'),
        urlSearch: path('app_analysis_search'),
    }) }}>
        {% include 'analysis/_inc/_searchForm.html.twig' %}
        {% include 'analysis/_inc/_listReports.html.twig' %}
    </div>
{% endblock %}