<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <title>Green4Net PVplus 4.0 - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body class="">
<header class="grid-container fluid">
    <div class="top-bar" >
        <div class="top-bar-left">
            <div class="logo">
                <a href="{{ path('app_dashboard') }}"><img src="{{ asset('images/green4net.svg') }}" alt="green4net GmbH" title="green4net GmbH" height="70" width="200"></a>
            </div>
            <div class="menu-button">
                <button type="button" class="button-hamburger" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
            </div>
            {%  if is_granted('ROLE_ADMIN') %}
            <div class="helper-messages">
                <p>
                    <br>{{ app.user.rolesAsString }}
                </p>
            </div>
            {% endif %}
        </div>
        <div class="top-bar-right">
            {% if is_granted('ROLE_USER') %}
            <div class="header-menu">
                <ul class="menu vertical">
                    {% if (app.user) %}
                        <li><a href=""><i class="fa fa-clock-o"></i> <span id="uhr"></span></a></li>
                        <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        <li><a href="#"><i class="fa fa-user"></i>  {{ app.user.username }} </a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<div class="alert-wrapper">
    {% for message in app.flashes('error') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border alert">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border warning">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border success">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

<div id="offCanvas" class="off-canvas position-leftis-closed" data-transition="overlap" data-off-canvas>
    <nav>
        <p class="menu-headline">Main Navigation</p>
        <ul class="vertical menu accordion-menu" data-accordion-menu>
            {% if is_granted('ROLE_G4N') %}
                <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-tachometer-alt"></i><span> Dashboard</span></a></li>
                <li><a href="{{ path('app_download') }}"><i class="fa fa-file-download"></i><span> Download Old</span></a></li>
                <li><a href="{{ path('app_analyse_download') }}"><i class="fa fa-file-download"></i><span> Download</span></a></li>
                <li><a href="{{ path('app_reporting_list') }}"><i class="fa fa-chart-area"></i><span> Reporting</span></a></li>
                <li><a href="{{ path('app_ticket_list') }}"><i class="fa fa-clipboard-list"></i><span> Tickets</span></a></li>
                <li><a href="{{ path('app_log_list') }}"><i class="fa fa-book"></i><span> Log</span></a></li>
                <li>
                    <a href="#"><i class="fa fa-laptop"></i><span> Administration</span></a>
                    <ul class="vertical menu nested">
                        <li><a href="{{ path('app_admin_owner_list') }}"><i class="fa fa-users"></i> Owners</a></li>
                        <li><a href="{{ path('app_admin_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
                        {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_user_list') }}"><i class="fa fa-user-edit"></i> User</a></li>{% endif %}
                        {% if is_granted('ROLE_DEV') %}<li><a href="{{ path('app_admin_weather_list') }}"><i class="fa fa-cloud-sun-rain"></i> Weather Stations</a></li>{% endif %}
                        <li><a href="{{ path('app_admin_tools') }}"><i class="fa fa-toolbox"></i> Tools</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-dashboard"></i><span> Dashboard</span></a></li>
                <li><a href="{{ path('app_analyse_download') }}"><i class="fa fa-file-download"></i><span> Download</span></a></li>
                <li><a href="{{ path('app_reporting_list') }}"><i class="fa fa-chart-area"></i><span> Reporting</span></a></li>
                <li><a href="{{ path('app_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
                <!--<li><a href="{{ path('app_ticket_list') }}"><i class="fa fa-clipboard-list"></i><span> Tickets</span></a></li>-->
            {% endif %}
        </ul>
    </nav>
</div>
<div class="off-canvas-content" data-off-canvas-content>
    <main class="grid-container fluid">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell small-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
    <footer class="grid-container fluid">
        <div class="grid-x">
            <div class="cell">
                <p class="text-center">&copy; 2018 - 2022 Green4Net - All Rights Reserved - PV+ 4.0 v2.1.1 - beta</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>