<!DOCTYPE HTML>

<head>
    <meta charset="UTF-8">
    <title>Green4Net PVplus 4.0 - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="ajax-loader">
    <img src="{{ asset('/images/loader.gif') }}" class="img-responsive" alt="loader" />
</div>
<header id="headbar" class="grid-container fluid" {{ is_granted('IS_IMPERSONATOR') ? 'style="border-top: red solid 5px;"' }}>
    <div class="grid-x">
        <div class="cell small-6 medium-3">
            <div class="logo">
                <a href="{{ path('app_dashboard') }}"><img src="{{ asset('images/green4net.svg') }}" alt="green4net GmbH" title="green4net GmbH" height="70" width="200"></a>
            </div>
            <div class="menu-button">
                <button type="button" class="button-hamburger" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
            </div>
        </div>
        <div class="cell medium-2 show-for-medium">
            {%  if is_granted('ROLE_ADMIN') %}
                <div class="helper-messages">
                    <p>{{ app.user.rolesAsString }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="cell small-6 medium-7">
            {% if is_granted('ROLE_USER') %}
                <div class="grid-x align-right">
                    <div class="cell medium-5 show-for-medium">
                        {% if is_granted('ROLE_G4N') %}
                            <div class="background-processes"
                                {{ stimulus_controller('background-processes', {
                                    url: path('app_log_background_messages'),
                                    refreshIntervale: 15000,
                                }) }}
                            >
                            </div>
                        {% endif %}
                    </div>
                    <div class="cell small-1 show-for-medium">&nbsp;</div>
                    <div class="cell small-12 medium-3 large-2">
                        <div class="header-menu">
                            <ul class="menu vertical" style="font-size: 90%;">
                                {% if (app.user) %}
                                    <li {{ stimulus_controller('servertime', {
                                        refreshIntervale: 1000,
                                    }) }}
                                    ><a href=""><i class="far fa-clock"></i>&nbsp;<span id="uhr" data-servertime-target="content" ></span></a></li>
                                    {% if is_granted('IS_IMPERSONATOR') %}
                                        <li><a class="dropdown-item" href="{{ path('app_dashboard', {'_switch_user': '_exit'}) }}"><i class="fas fa-random"></i> Exit Impersonation </a></li>
                                    {% else %}
                                        <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_admin_user_show', {id: app.user.id}) }}"><i class="fa fa-user"></i> {{ app.user.name }} </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>
<div class="alert-wrapper">
    {% for message in app.flashes('error') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border alert">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border warning">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border success">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

<div id="offCanvas" class="off-canvas position-leftis-closed" data-transition="overlap" data-off-canvas>
    <nav>
        <p class="menu-headline">Main Navigation</p>
        <ul class="vertical menu accordion-menu" data-accordion-menu>
                <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-tachometer-alt"></i><span> Dashboard</span></a></li>
                {# <li><a href="{{ path('app_download') }}"><i class="fa fa-file-download"></i><span> Download Old</span></a></li> #}
                <li><a href="{{ path('app_analyse_download') }}"><i class="fa fa-file-download"></i><span> Download</span></a></li>
                <li><a href="{{ path('app_reporting_list') }}"><i class="fa fa-chart-area"></i><span> Reporting</span></a></li>
                {% if is_granted('ROLE_G4N') or is_granted('ROLE_BETA')%}
                    <li><a href="{{ path('app_ticket_list') }}"><i class="fa fa-clipboard-list"></i><span> Tickets (Beta)</span></a></li>
                    {% if is_granted('ROLE_DEV') %}
                        <li>
                            <a href="#"><i class="fa fa-file-import"></i><span> Import</span></a>
                            <ul class="vertical menu nested">
                                <li><a href="{{ path('csv_upload_load') }}"><i class="fa fa-file-import"></i>Case6 import</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-folder"></i><span> Spezial (Beta)</span></a>
                        <ul class="vertical menu nested">
                            {% if is_granted('ROLE_DEV') %}
                                <li><a href="{{ path('bavelse_report') }}"><i class="fa fa-file"></i>Bavelse Berg Report</a></li>
                                <li><a href="{{ path('load_weatherdata') }}"><i class="fa fa-file"></i>Load WeatherData from UP</a></li>
                                <li><a href="{{ path('delete_tickets') }}"><i class="fa fa-file"></i>Delete Tickets</a></li>
                            {% endif %}
                            <li><a href="{{ path('monthly_report_test') }}"><i class="fa fa-file"></i>Monthly Report Test</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_G4N') %}
                    <li><a href="{{ path('app_log_list') }}"><i class="fa fa-book"></i><span> Log</span></a></li>
                    <li>
                        <a href="#"><i class="fa fa-laptop"></i><span> Administration</span></a>
                        <ul class="vertical menu nested">
                            <li><a href="{{ path('app_admin_owner_list') }}"><i class="fa fa-users"></i> Owners</a></li>
                            <li><a href="{{ path('app_admin_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
                            <li><a href="{{ path('app_anlage_groups_index') }}"><i class="fa fa-solar-panel"></i><span> DC Groups</span></a></li>
                            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_user_list') }}"><i class="fa fa-user-edit"></i> User</a></li>{% endif %}
                            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_weather_list') }}"><i class="fa fa-cloud-sun-rain"></i> Weather Stations</a></li>{% endif %}
                            <li><a href="{{ path('app_admin_tools') }}"><i class="fa fa-toolbox"></i> Tools</a></li>
                            <li><a href="{{ path('app_admin_import_tools') }}"><i class="fa fa-toolbox"></i> Import-Tools</a></li>
                        </ul>
                    </li>
            {% else %}
                <li><a href="{{ path('app_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
                {% if is_granted('ROLE_OWNER_ADMIN') %}<li><a href="{{ path('app_admin_user_list') }}"><i class="fa fa-user-edit"></i> User</a></li>{% endif %}
            {% endif %}
        </ul>
    </nav>
</div>
<div class="off-canvas-content" data-off-canvas-content>
    <main class="grid-container fluid" style="padding-top: 1rem">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell small-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
    <footer class="grid-container fluid">
        <div class="grid-x">
            <div class="cell">
                <p class="text-center">&copy; 2018 - 2023 Green4Net - All Rights Reserved - PV+ 4.0 v2.2.19 beta</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>

