{% set alertName = 'Alerts' %}
{% if app.user and app.user.owner %}
    {% if app.user.owner.id == 10004 or app.user.owner.id == 10009 %}
        {% set alertName = 'Tickets' %}
    {% endif %}
{% endif %}
<nav>
    <p class="menu-headline">Main Navigation</p>
    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li><a href="{{ path('app_dashboard') }}"><i class="fa fa-tachometer-alt"></i><span> Dashboard</span></a></li>
        {% if is_granted('ROLE_G4N') %}
            <li><a href="{{ path('app_operations_dashboard') }}"><i class="fa fa-tachometer-alt"></i><span> Operations</span></a></li>
        {% endif %}
        <li><a href="{{ path('app_analyse_download') }}"><i class="fa fa-file-download"></i><span> Download</span></a></li>
        {% if is_granted('ROLE_OPERATIONS_G4N') or is_granted('ROLE_BETA') or is_granted('ROLE_TICKET') %}
            <li><a href="{{ path('app_ticket_list') }}"><i class="fa fa-bell"></i><span> {{ alertName }}</span></a></li>
        {% endif %}
        <li><a href="#"><i class="fa fa-chart-area"></i><span> Live Reporting</span></a>
            <ul class="vertical menu nested">
                <li><a href="{{ path('individual_report') }}"><i class="fa fa-chart-area"></i>individual start and end date</a></li>
                <li><a href="{{ path('month_daily_report') }}"><i class="fa fa-chart-area"></i>one month with days</a></li>
            </ul>
        </li>
        <li><a href="{{ path('app_reporting_list') }}"><i class="fa fa-chart-area"></i><span> Reporting</span></a></li>
        {% if is_granted('ROLE_G4N') or is_granted('ROLE_AM_STRING_ANALYSE') %}
            <li><a href="{{ path('app_analysis_list') }}"><i class="fa fa-chart-area"></i><span> Analysis Tools</span></a></li>
        {% endif %}
        {% if is_granted('ROLE_G4N') or is_granted('ROLE_BETA') %}
            <li>
                <a href="#"><i class="fa fa-file-import"></i><span> Import</span></a>
                <ul class="vertical menu nested">
                    <li><a href="{{ path('import_egrid') }}"><i class="fa fa-file-import"></i>eGrid Import</a></li>
                    <li><a href="{{ path('import_pvsyst') }}"><i class="fa fa-file-import"></i>PV Syst Import</a></li>
                    {% if is_granted('ROLE_G4N') %}
                        <li><a href="{{ path('import_fb_excel') }}"><i class="fa fa-file-import"></i>Tickets Import</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_G4N') %}
            <li>
                <a href="#"><i class="fa fa-folder"></i><span> Spezial (G4N only)</span></a>
                <ul class="vertical menu nested">
                    {% if is_granted('ROLE_DEV') %}
                        <li><a href="{{ path('bavelse_report') }}"><i class="fa fa-file"></i>Bavelse Berg Report</a></li>
                        <li><a href="{{ path('load_weatherdata') }}"><i class="fa fa-file"></i>Load WeatherData from UP</a></li>
                        <li><a href="{{ path('import_excel') }}"><i class="fa fa-file"></i>Import Excel</a></li>
                        <li><a href="{{ path('user_login_report') }}"><i class="fa fa-file"></i>User Login</a></li>
                    {% endif %}
                    <li><a href="{{ path('calc_tools') }}"><i class="fa fa-toolbox"></i>Calculation Tool</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_G4N') %}
            <li><a href="{{ path('app_log_list') }}"><i class="fa fa-book"></i><span> Log</span></a></li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i><span> Administration</span></a>
                <ul class="vertical menu nested">
                    <li><a href="{{ path('app_admin_owner_list') }}"><i class="fa fa-users"></i> Owners</a></li>
                    <li><a href="{{ path('app_admin_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
                    <li><a href="{{ path('app_anlage_groups_index') }}"><i class="fa fa-solar-panel"></i><span> DC Groups</span></a></li>
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_user_list') }}"><i class="fa fa-user-edit"></i> User</a></li>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('app_admin_weather_list') }}"><i class="fa fa-cloud-sun-rain"></i> Weather Stations</a></li>{% endif %}
                    <li><a href="{{ path('app_admin_moduldb_list') }}"><i class="fa fa fa-solar-panel"></i> Modul Database (Beta)</a></li>
                    <li><a href="{{ path('app_admin_tools') }}"><i class="fa fa-toolbox"></i> Tools</a></li>
                    <li><a href="{{ path('app_admin_import_tools') }}"><i class="fa fa-toolbox"></i> Import-Tools (Prod)</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path('app_anlagen_list') }}"><i class="fa fa-solar-panel"></i><span> Plants</span></a></li>
            {% if is_granted('ROLE_OWNER_ADMIN') %}
                <li><a href="{{ path('app_admin_user_list') }}"><i class="fa fa-user-edit"></i> User</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
