<!DOCTYPE HTML>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>PVplus 4.0 - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />

</head>
<body >

<div class="ajax-loader">
    <img src="{{ asset('/images/loader.gif') }}" class="img-responsive" alt="loader" />
</div>
<header id="headbar" class="grid-container fluid" {{ is_granted('IS_IMPERSONATOR') ? 'style="border-top: red solid 5px;"' }}>
    <div class="grid-x">
        <div class="cell small-6 medium-3">
            <div class="logo">
                <a href="{{ path('app_dashboard') }}"><img src="{{ asset('images/green4net.svg') }}" alt="green4net GmbH" title="green4net GmbH" height="70" width="200"></a>
            </div>
            <div class="menu-button">
                <button type="button" class="button-hamburger" data-toggle="offCanvas"><i class="fa fa-bars"></i></button>
            </div>
        </div>
        <div class="cell medium-2 show-for-medium">
            {%  if is_granted('ROLE_ADMIN') %}
                <div class="helper-messages">
                    <p>{{ app.user.rolesAsString }}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="cell small-6 medium-7">
            {% if is_granted('ROLE_USER') %}
                <div class="grid-x align-right">
                    <div class="cell medium-5 show-for-medium">
                        <div class="dropdownMessages">
                            <div class="dropbtn"><i class="far fa-bell" id="far-fa-bell"></i></div>
                            <div class="dropdown-content" id="dropdown-content"
                                    {{ stimulus_controller('background-processes', {
                                        url: path('app_log_background_messages'),
                                        refreshIntervale: 30000,
                                    }) }}>
                            </div>
                        </div>
                        <div class="processmessenges" style="display: none"
                            {{ stimulus_controller('processmessenges', {
                                url: path('app_log_processmessenges'),
                                refreshIntervale: 30000,
                            }) }}>
                        </div>
                    </div>
                    <div class="cell small-1 show-for-medium">&nbsp;</div>
                    <div class="cell small-12 medium-3 large-2">
                        <div class="header-menu">
                            <ul class="menu vertical" style="font-size: 90%;">
                                {% if (app.user) %}
                                    <li {{ stimulus_controller('servertime', {
                                        refreshIntervale: 1000,
                                    }) }}
                                    ><a href=""><i class="far fa-clock"></i>&nbsp;<span id="uhr" data-servertime-target="content" ></span></a></li>
                                    {% if is_granted('IS_IMPERSONATOR') %}
                                        <li><a class="dropdown-item" href="{{ path('app_admin_user_list', {'_switch_user': '_exit'}) }}"><i class="fas fa-random"></i> Exit Impersonation </a></li>
                                    {% else %}
                                        <li><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_admin_user_show', {id: app.user.id}) }}"><i class="fa fa-user"></i> {{ app.user.name }} </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="messageProzessReady fade" id="messageProzessReady">
                <div id="messagetext"></div>
                <div id="pdfdownload"></div>
            </div>
        {% endif %}
    </div>
</header>
<div class="alert-wrapper">
    {% for message in app.flashes('error') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border alert">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border warning">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div data-closable data-alert class="my-alert-box callout alert-callout-border success">
            {{ message }}
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

<div id="offCanvas" class="off-canvas position-leftis-closed" data-transition="overlap" data-off-canvas>
    {% include('base_menu.html.twig') %}
</div>
{% block new %}
<div class="off-canvas-content" data-off-canvas-content>
    <main class="grid-container fluid" style="padding-top: 1rem">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell small-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
    {% block footer %}{% include('base_footer.html.twig') %}{% endblock %}
</div>
{% endblock %}
</body>
</html>

