{% import _self as formMacros %}



{% macro addContact(contact) %}
    <tr>
        <td>{{ form_widget(contact.Name) }}</td>
        <td>{{ form_widget(contact.companyName) }}</td>
        <td>{{ form_widget(contact.Service) }}</td>
        <td>{{ form_widget(contact.phone) }}</td>
        <td>{{ form_widget(contact.email) }}</td>
        <td></td>
    </tr>
{% endmacro %}

{% macro addApiConfig(api) %}
    <tr>
        <td>{{ form_widget(api.apiType) }}</td>
        <td>{{ form_widget(api.configName) }}</td>
        <td>{{ form_widget(api.apiUser) }}</td>
        <td>{{ form_widget(api.apiPassword) }}</td>
        <td>{{ form_widget(api.apiToken) }}</td>
        <td></td>
    </tr>
{% endmacro %}

{{ form_start(ownerForm, {'attr': {'novalidate': 'no'}}) }}
<div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell">
        <ul class="tabs" data-tabs id="owner-tabs" data-deep-link="true">
            <li class="tabs-title is-active"><a href="#owner1" aria-selected="true">Owner</a></li>
            {% if is_granted('ROLE_G4N') %}
                <li class="tabs-title"><a data-tabs-target="settings" href="#settings">Settings</a></li>
                <li class="tabs-title"><a data-tabs-target="features" href="#features">Features</a></li>
                <li class="tabs-title"><a data-tabs-target="apiconfigs" href="#apiconfigs">API Config</a></li>
            {% endif %}
             <li class="tabs-title "><a data-tabs-target="contacts" href="#contacts">Contacts</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="owner-tabs">
            {# Basic Infos Owner #}
            <div class="tabs-panel is-active" id="owner1">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell medium-6">
                        <fieldset class="fieldset">
                            <legend>Basic Information</legend>
                            {{ form_row(ownerForm.firma) }}
                            {{ form_row(ownerForm.zusatz) }}
                            {{ form_row(ownerForm.strasse) }}
                            {{ form_row(ownerForm.plz) }}
                            {{ form_row(ownerForm.ort) }}
                            {{ form_row(ownerForm.anrede) }}
                            {{ form_row(ownerForm.vorname) }}
                            {{ form_row(ownerForm.nachname) }}
                        </fieldset>
                    </div>
                    <div class="cell medium-6">
                        <fieldset class="fieldset">
                            <legend>Admin Settings</legend>
                            {% if is_granted('ROLE_G4N') %}
                                {{ form_row(ownerForm.active) }}
                                {{ form_row(ownerForm.language) }}
                                {{ form_row(ownerForm.operations) }}
                            {% endif %}

                            {% if isupload != '' %}
                                {{ form_row(ownerForm.imageFile) }}
                                {% if isupload == 'yes' %}
                                    <div class="grid-x">
                                        <div class="cell">
                                            <p>Last Uploaded:</p>
                                            <img class="article-img" src="{{ absolute_url(asset(imageuploadet)) }}" alt="Logo">{# |imagine_filter('squared_thumbnail_small') #}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% do ownerForm.imageFile.setRendered() %}
                            {% endif %}
                        </fieldset>
                    </div>
                </div>
            </div>

            {# Setting #}
            <div class="tabs-panel" id="settings">
                <fieldset class="fieldset">
                    <legend>Settings</legend>
                    {{ form_row(ownerForm.settings.nameDep1) }}
                    {{ form_row(ownerForm.settings.nameDep2) }}
                    {{ form_row(ownerForm.settings.nameDep3) }}
                </fieldset>
            </div>

            {# Features #}
            {% if is_granted('ROLE_G4N') %}
                <div class="tabs-panel" id="features">
                    <fieldset class="fieldset">
                        <legend>Ticket Features</legend>
                        {{ form_row(ownerForm.features.simulatorName) }}
                        {{ form_row(ownerForm.features.aktDep1) }}
                        {{ form_row(ownerForm.features.aktDep2) }}
                        {{ form_row(ownerForm.features.aktDep3) }}
                        {{ form_row(ownerForm.features.SplitInverter) }}
                        {{ form_row(ownerForm.features.SplitGap) }}
                        {{ form_row(ownerForm.features.mroAktive) }}
                        {{ form_row(ownerForm.features.amStringAnalyseAktive) }}
                    </fieldset>
                </div>
            {% endif %}
            {# ApiConfig #}
            <div class="tabs-panel" id="apiconfigs">
                <fieldset class="fieldset js-apiconfig-wrapper"
                          data-prototype="{{ formMacros.addApiConfig(ownerForm.ApiConfig.vars.prototype)|e('html_attr') }}"
                          data-index="{{ ownerForm.ApiConfig|length }}">
                    <legend>API</legend>
                    <table id="apiconfig-table">
                        <thead>
                        <tr>
                            <th style="width: 20%; ">Api type</th>
                            <th style="width: 20%; ">Api name</th>
                            <th style="width: 20%; ">User name</th>
                            <th style="width: 20%; ">Password</th>
                            <th style="width: 15%; ">API Token</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for api in ownerForm.ApiConfig %}
                            <tr class="js-apiconfig-item">
                                <td>{{ form_widget(api.apiType) }}</td>
                                <td>{{ form_widget(api.configName) }}</td>
                                <td>{{ form_widget(api.apiUser) }}</td>
                                <td>{{ form_widget(api.apiPassword) }}</td>
                                <td>{{ form_widget(api.apiToken) }}</td>
                                <td><a href="#" class="js-remove-apiconfig"><span class="fa fa-minus-circle"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="button secondary small js-add-apiconfig"> <span class="fa fa-plus-circle"></span>&nbsp;Add Api Config</button>
                </fieldset>
            </div>
            {# Contacts #}
            <div class="tabs-panel" id="contacts">
                <fieldset class="fieldset js-contact-wrapper"
                          data-prototype="{{ formMacros.addContact(ownerForm.ContactInfos.vars.prototype)|e('html_attr') }}"
                          data-index="{{ ownerForm.ContactInfos|length }}">
                    <legend>Contacts</legend>
                    <table id="contact-table">
                        <thead>
                        <tr>
                            <th style="width: 20%; ">Company name</th>
                            <th style="width: 20%; ">Person name</th>
                            <th style="width: 20%; ">Service</th>
                            <th style="width: 20%; ">phone number</th>
                            <th style="width: 15%; ">email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in ownerForm.ContactInfos %}
                            <tr class="js-contact-item">
                                <td>{{ form_widget(contact.companyName) }}</td>
                                <td>{{ form_widget(contact.Name) }}</td>
                                <td>{{ form_widget(contact.Service) }}</td>
                                <td>{{ form_widget(contact.phone) }}</td>
                                <td>{{ form_widget(contact.email) }}</td>
                                <td><a href="#" class="js-remove-contact"><span class="fa fa-minus-circle"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="button secondary small js-add-contact"> <span class="fa fa-plus-circle"></span>&nbsp;Add Contact</button>
                </fieldset>
            </div>
        </div>

    </div>


</div>

<div class="grid-x grid-padding-y action-menu">
    <div class="cell">
        {{ form_widget(ownerForm.save) }}
        {{ form_widget(ownerForm.saveclose) }}
        {{ form_widget(ownerForm.close) }}
    </div>
</div>
<div class="is-hidden" > {{ form_rest(ownerForm) }}</div>
{{ form_end(ownerForm) }}



