<div class="grid-x"  >
    <div class="cell">
        <div>
            <fieldset class="fieldset">
                <legend>Create new contact</legend>
                {{ form_start(creationForm) }}
                    {{ form_row(creationForm.Name) }}
                    {{ form_row(creationForm.companyName) }}
                    {{ form_row(creationForm.Service) }}
                    {{ form_row(creationForm.phone) }}
                    {{ form_row(creationForm.email) }}

                    <button type="button" class="button small" data-action="click->ticket-edit#saveNewContact"> Save contact </button>
                {{ form_end(creationForm) }}
            </fieldset>
            <button class="close-button"
                    type="button"
                    data-action="ticket-edit#closeContactCreate"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>