<div {{ stimulus_controller('request') }}>
    <form id="tableForm"></form>
    <div data-action="ticket-edit:success->ticket-list#search">
        <table class="table sortable">
            <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Plant</th>
                <th class="text-center">Status</th>
                <th class="text-center">Priority</th>
                <th>Editor</th>
                <th>Begin</th>
                <th>End</th>
                <th>Last Update</th>
                <th>Error Category{% if is_granted('ROLE_G4N') %} <br><small>alertType</small> {% endif %}</th>
                {# <th>Error Type</th>  #}
                <th>Inverter</th>
                <th></th>
                <th><small>needs<br>Proof</small></th>
                <th>Join</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for ticket in pagination %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ ticket.anlage.anlId }}) {% endif %}</td>
                    <td class="text-center">
                        {% set status %}ticket.status.{{ ticket.status }}{% endset %}
                        <span class="label ticket-status-{{ ticket.status }}">{{ status|trans }}</span>
                    </td>
                    <td class="text-center">
                        {% set priority %}ticket.priority.{{ ticket.priority }}{% endset %}
                        <span class="label ticket-priority-{{ ticket.priority }}">{{ priority|trans }}</span>
                    </td>
                    <td>{{ ticket.editor }}</td>
                    <td>{{ ticket.begin|date("d.m.y H:i")}}</td>
                    <td>{{ ticket.end|date("d.m.y H:i") }}</td>
                    <td>{{ ticket.updatedAt|date("d.m.y H:i")  }}{# {% if is_granted('ROLE_DEV') %}<small>{{ ticket.createdAt|date("d.m.y H:i") }}</small>{% endif %} #}</td>
                    <td>
                        {% set errcat %}ticket.error.category.{{ ticket.alertType }}{% endset %}
                        {{ errcat|trans }}{% if is_granted('ROLE_DEV') %}{{ ticket.alertType }}{% endif %}
                    </td>
                    {% set maxCharInverter = 16 %}
                    <td {% if ticket.inverter|length > maxCharInverter %}data-tooltip data-click-open="false" title="{{ ticket.inverter }}"{% endif %}><span>{{ ticket.inverter|u.truncate(maxCharInverter, ' ...', false) }}</span></td>
                    <td>{% if (ticket.openTicket) %} open {% endif %}</td>
                    <td>{{ ticket.needsProof }}</td>
                    <td><input data-request-target="box" data-action="click->request#check" type="checkbox" value="{{ ticket.id }}" class="generated-checkbox" form="tableForm"></td>
                    <td class="text-right">
                        <div id="modal-form{{ ticket.id }}" {{ stimulus_controller('ticket-edit', {
                                formUrl: path('app_ticket_edit', { id: ticket.id}),
                                splitUrl: path('app_ticket_split', { id: ticket.id}),
                            }) }}
                        >
                            <button class="hollow button action-icon shadow"
                                    data-action="ticket-edit#openModal"
                                    data-append-to="div#modal-form{{ ticket.id }}"
                            ><span class="fa fa-edit"></span></button>

                            {{ include('ticket/_inc/_modalTicket.html.twig', {
                                modalId: ticket.id,
                                modalTitel: 'Edit Ticket',
                                class: 'large',
                                dataVOffset: '10',
                            }) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="modal-form0" {{ stimulus_controller('ticket-edit', {
            formUrl: path('app_ticket_create'),
        }) }}
        >
            <div class="grid-x grid-margin-x align-middle">
            {# create New Ticket – Begin #}
                <div class="cell small-12 medium-2">
                    <select name="anlage-id"
                            data-ticket-edit-target="anlage"
                            data-action="ticket-edit#toggle">
                        <option value="" disabled selected hidden>Please choose a Plant</option>
                        {% for anlage in anlagen %}
                            <option value="{{ anlage.anlId }}"{% if app.request.query.get('anlage-id') == anlage.anlId %} selected {% endif %}>{{ anlage.anlId }} - {{ anlage.anlName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="cell small-12 medium-2">
                    <button name="new-ticket" class="button secondary expanded no-margins"
                            disabled
                            data-ticket-edit-target="deactivable"
                            data-action="ticket-edit#openModal"
                    >
                        New Ticket
                    </button>
                </div>

                {{ include('ticket/_inc/_modalTicket.html.twig', {
                    modalId: 0,
                    modalTitel: 'New Ticket',
                    class: 'large',
                    dataVOffset: '10',
                }) }}
            </div>
        </div>
        {# create New Ticket – End #}

        {# join Tickets – Begin #}
        {% if (is_granted('ROLE_DEV')) %}
            <button data-request-target="join" data-action="request#submit" name="join" type="button" class="button secondary " value="yes">Join</button>

            <div class="reveal text-left " id="modal"
                 data-request-target="modal"
                 data-append-to="form#tableForm"
                 data-reveal
            >
                <h1>Joining Tickets</h1>
                <div class="grid-x grid-padding-y">
                    <div class="cell modal-body" data-request-target="modalBody">

                    </div>
                </div>
                <div class="grid-x grid-padding-y">
                    <div class="cell text-right">
                        <button type="button" class="button secondary small" data-close>Cancel</button>
                        <button type="button" class="button small" {# data-action="modal-form#submitForm" #} >Save</button>
                    </div>
                </div>
            </div>
        {% endif %}
        {# join Tickets – Begin #}

        {{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'ticket-list'}) }}
    </div>
</div>


