<form >
<table class="table sortable">
    <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Plant</th>
        <th class="text-center">Status</th>
        <th class="text-center">Priority</th>
        <th>Editor</th>
        <th>Begin</th>
        <th>End</th>
        <th>Last Update</th>
        <th>Error Categorie{% if is_granted('ROLE_G4N') %} <br><small>alertType</small> {% endif %}</th>
        <th>Error Type</th>
        <th>Inverter</th>
        <th>Join</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for ticket in pagination %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ ticket.anlage.anlId }}) {% endif %}</td>
            <td class="text-center">
                {% set status %}ticket.status.{{ ticket.status }}{% endset %}
                <span class="label ticket-status-{{ ticket.status }}">{{ status|trans }}</span>
            </td>
            <td class="text-center">
                {% set priority %}ticket.priority.{{ ticket.priority }}{% endset %}
                <span class="label ticket-priority-{{ ticket.priority }}">{{ priority|trans }}</span>
            </td>
            <td>{{ ticket.editor }}</td>
            <td>{{ ticket.begin|date("d.m.y H:i")}}</td>
            <td>{{ ticket.end|date("d.m.y H:i") }}</td>
            <td>{{ ticket.updatedAt|date("d.m.y H:i")  }}</td>
            <td>
                {% set errcat %}ticket.error.category.{{ ticket.alertType }}{% endset %}
                {{ errcat|trans }}{% if is_granted('ROLE_DEV') %} | {{ ticket.alertType }}{% endif %}
            </td>
            <td>
                {% if ticket.errorType %}
                    {% set errtyp %}ticket.error.type.{{ ticket.errorType }}{% endset %}
                    {{ errtyp|trans }}{% if is_granted('ROLE_DEV') %} | {{ ticket.errorType }}{% endif %}
                {% endif %}
            </td>
            <td>{{ ticket.inverter }}</td>
            <td><input type="checkbox" value="{{ ticket.id }}"></td>
            <td class="text-right"><a href="{{ path('app_ticket_edit', { id: ticket.id }) }}" class="hollow button tiny action-icon shadow"><span class="fa fa-edit"></span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <button  onclick="CheckCheckboxes()" name="search" type="button" class="button" value="yes">Join</button>
</form>

{{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'ticket-list'}) }}
