{% set alertName = 'Alert' %}
{% if app.user and app.user.owner %}
    {% if app.user.owner.id == 10004 or app.user.owner.id == 10009 %}
        {% set alertName = 'Ticket' %}
    {% endif %}
{% endif %}
<form id="tableForm"></form>
<div id="modal-form0" {{ stimulus_controller('ticket-edit', {formUrl: path('app_ticket_create'),}) }}>
    <h4>Create New {{ alertName }}:</h4>
    {# create New Ticket – Begin #}
    <div class="grid-x grid-margin-x align-top align-center">
        <div class="cell small-11 large-4 ">
            <select id="newPlantSelect"
                name="anlage-id"
                data-ticket-edit-target="anlage"
                data-action="ticket-edit#toggle"
                {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                    tom_select_options: {
                        maxItems: 1,
                        create: false,
                    }
                }) }}
            >

                <option value="" disabled selected hidden>Please choose a Plant</option>
                {% for anlage in anlagen %}
                    {# <option value="{{ anlage.anlId }}"{% if app.request.query.get('anlage-id') == anlage.anlId %} selected {% endif %}>{{ anlage.anlId }} - {{ anlage.anlName }}</option> #}
                    <option value="{{ anlage.anlId }}"{% if newPlantId == anlage.anlId %} selected {% endif %}>
                        {{ anlage.anlName }}{% if is_granted('ROLE_G4N') %} - {{ anlage.anlId }} | {{ anlage.eigner.firma }}{% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="cell small-1 large-8">
            <span data-tooltip tabindex="1" title="Create New Ticket">
                <button id="newTicketBtn" title="New Ticket" name="new-ticket" class="button action-icon tiny hollow shadow no-margins"
                        disabled
                        data-ticket-edit-target="deactivable"
                        data-action="ticket-edit#openModal">
                    <span class="fa fa-plus"></span>
                </button>
            </span>
        </div>
    </div>

    {{ include('ticket/_inc/_modalTicket.html.twig', {
        modalId: 0,
        modalTitel: 'New Ticket',
        class: 'large',
        dataVOffset: '10',
    }) }}

</div>
<div>
    <table class="table sortable stickyheader">
        <thead>
        <tr>
            <th>Select</th>
            <th {% if pagination.isSorted('ticket.id') %} class="sorted show-for-medium" {% else %} class="show-for-medium"{% endif %}>
                {{ knp_pagination_sortable(pagination, alertName ~' ID', ['ticket.id'], {'data-action': 'ticket-list#sortId'}) }}
                <span data-tooltip tabindex="1" title="With '•' means: was created by 'AlertSystem'"><i class="fa fa-info-circle"></i></span>
            </th>
            <th class="show-for-medium"><span data-tooltip tabindex="1" title="For a Performance {{ alertName }} a green dot means it is active, a red one means it is not"><i class="fa fa-info-circle"></i></span> </th>
            <th>Plant</th>
            <th class="show-for-large">Identifier</th>
            <th class="text-center">Status</th>
            <th class="text-center show-for-large">Priority</th>
            <th class="show-for-medium">Editor</th>

            <th {% if pagination.isSorted('ticket.begin') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Begin', ['ticket.begin'], {'data-action': 'ticket-list#sortBegin'}) }}</th>
            <th {% if pagination.isSorted('ticket.end') %} class="sorted show-for-medium" {% else %} class="show-for-medium" {% endif %}>
                {{ knp_pagination_sortable(pagination, 'End', ['ticket.end'], {'data-action': 'ticket-list#sortEnd'}) }}</th>
            <th {% if pagination.isSorted('ticket.updatedAt') %} class="sorted show-for-large"{% else %} class="show-for-large" {% endif %}>
                {{ knp_pagination_sortable(pagination, 'Last Update', ['ticket.updatedAt'], {'data-action': 'ticket-list#sortUpdate'}) }}</th>
            <th {% if pagination.isSorted('ticket.alertType') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Category', ['ticket.alertType'], {'data-action': 'ticket-list#sortUpdate'}) }}
                {% if is_granted('ROLE_G4N') %} <br><small>alertType</small> {% endif %}</th>
            {# <th>Error Type</th>  #}
            <th class="show-for-large">Inverter</th>
            {# <th>Satus</th> #}
            <th {% if pagination.isSorted('ticket.openTicket') %} class="sorted show-for-medium" {% else %} class="show-for-medium" {% endif %}>
                {{ knp_pagination_sortable(pagination, 'Open', ['ticket.openTicket'], {'data-action': 'ticket-list#sortUpdate'}) }}
            </th>
            <th class="show-for-large"><small>needs<br>Proof</small></th>
            <th>{# Join #}</th>
            <th class="show-for-medium" colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        {% for ticket in pagination %}
            <tr>
                <td><input type="checkbox" class="js-multiselect-checkbox" value="{{ ticket.id }}"></td>
                <td class="show-for-medium">
                    <span {% if ticket.ignoreTicket %}style="text-decoration: line-through;"{% endif %}>
                        {{ ticket.id }}{% if ticket.createdBy == 'AlertSystem' %} •{% endif %}
                    </span>
                </td>
                <td class="show-for-medium">
                    {% if (ticket.alertType >= 70 and ticket.alertType < 80) %}
                        {% if (ticket.kpiStatus == 10) %} {# Activ #}
                            <span style="color: green; font-size: 20px">●</span>
                        {% elseif (ticket.kpiStatus == 20) %}{# inactiv #}
                            <span style="color: red; font-size: 20px">●</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ ticket.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ ticket.anlage.anlId }}) {% endif %}</td>
                {% set maxCharId = 10 %}
                <td class="show-for-large" {% if ticket.TicketName|length > maxCharId %}data-tooltip data-click-open="false" title="{{ ticket.TicketName }}"{% endif %}><span>{{ ticket.TicketName|u.truncate(maxCharId, ' ...', false) }}</span></td>

                <td class="text-center">
                    {% set status %}ticket.status.{{ ticket.status }}{% endset %}
                    <span class="label ticket-status-{{ ticket.status }}">{{ status|trans }}</span>
                </td>
                <td class="text-center show-for-large">
                    {% set priority %}ticket.priority.{{ ticket.priority }}{% endset %}
                    <span class="label ticket-priority-{{ ticket.priority }}">{{ priority|trans }}</span>
                </td>
                <td class="show-for-medium">{{ ticket.editor }}</td>
                <td>{{ ticket.begin|date("d.m.y H:i")}}</td>
                <td class="show-for-medium">{{ ticket.end|date("d.m.y H:i") }}</td>
                <td class="show-for-large">{{ ticket.updatedAt|date("d.m.y H:i")  }}{# {% if is_granted('ROLE_DEV') %}<small>{{ ticket.createdAt|date("d.m.y H:i") }}</small>{% endif %} #}</td>
                <td>
                    <span {% if ticket.ignoreTicket %}style="text-decoration: line-through;"{% endif %}>
                        {% set errcat %}ticket.error.category.{{ ticket.alertType }}{% endset %}
                        {{ errcat|trans }}{% if is_granted('ROLE_DEV') %}<small> {{ ticket.alertType }}</small>{% endif %}
                    </span>
                </td>
                {% set maxCharInverter = 16 %}
                <td class="show-for-large" {% if ticket.getInverterName|length > maxCharInverter %}data-tooltip data-click-open="false" title="{{ ticket.getInverterName }}"{% endif %}><span>{{ ticket.getInverterName|u.truncate(maxCharInverter, ' ...', false) }}</span></td>
                <td class="show-for-medium">{% if (ticket.openTicket) %} open {% endif %}</td>
                <td class="show-for-large">{{ ticket.proof }}</td>
                <td>{# <input data-request-target="box" data-action="click->request#check" type="checkbox" value="{{ ticket.id }}" class="generated-checkbox" form="tableForm"> #}</td>
                <td class="text-right show-for-medium">
                    <div id="modal-form{{ ticket.id }}" {{ stimulus_controller('ticket-edit', {
                            formUrl: path('app_ticket_edit', { id: ticket.id}),
                            splitUrl: path('app_ticket_split', { id: ticket.id}),
                            notifyUrl: path('app_ticket_notify', {id: ticket.id}),
                            createContactUrl: path('app_ticket_create_contact', {id: ticket.id}),
                            timelineUrl: path('app_ticket_notification_timeline', {id: ticket.id}),
                        }) }}>

                        <button title="Edit {{ alertName }} [{{ ticket.id }}]" class="button action-icon tiny hollow shadow"
                                data-action="ticket-edit#openModal"
                                data-append-to="div#modal-form{{ ticket.id }}">
                            <span class="fa fa-edit"></span>
                        </button>
                        {% if (ticket.notificationInfos|length > 0) and (is_granted('ROLE_G4N') or is_granted('ROLE_MRO')) %}
                            <button title="show MPR timeline" class="button action-icon tiny hollow shadow"
                                    data-ticket-edit-target="timelineButton"
                                    data-action="click->ticket-edit#openTimelineModal"
                            >
                                <span class="fa fa-business-time"></span>
                            </button>

                            <div id="formTimeline{{ ticket.id }}">
                                <div class="reveal text-left small" id="modal-timeline-{{ ticket.id }}"
                                     data-reveal
                                     data-append-to = "div#formTimeline{{ ticket.id }}"
                                     data-multiple-opened = "true"
                                     data-close-on-click = "false"
                                     data-ticket-edit-target="timelineModal">
                                    <div class="cell modal-body"
                                         data-ticket-edit-target="modalTimelineBody"
                                         data-action="modal-form#submitForm"
                                    >
                                         {{ modalContent|default('Loading...') }}
                                    </div>
                                    <button
                                            class="close-button"
                                            type="button"
                                            data-action="ticket-edit#closeTimeline">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}

                        {{ include('ticket/_inc/_modalTicket.html.twig', {
                            modalId: ticket.id,
                            modalTitel: "Edit "~ alertName,
                            class: 'large',
                            dataVOffset: '10',
                        }) }}
                    </div>
                </td>
                <td class="show-for-medium">
                    {% if is_granted('ROLE_ADMIN') %}
                        <button title="Remove {{ alertName }} [{{ ticket.id }}]" class="hollow alert button action-icon tiny shadow"
                                {{ stimulus_controller('submit-confirm', {
                                    title: 'Remove this' ~ alertName ~'?',
                                    confirmButtonText: 'Yes, remove it',
                                    redirectUrl: path('app_ticket_deleteticket', { id: ticket.id})
                                }) }}
                           data-action="submit-confirm#onSubmit"
                        ><span class="fa fa-trash-alt"></span>
                        </button>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="grid-x">
    <div class="cell small-6 medium-4 large-2">
        <select name="status" class="no-margin" id="selectNewStatus">
            <option value="00"> {% trans %}ticket.status.name{% endtrans %} </option>
            {% for key, value in filter.status.array %}
                <option value="{{ value }}" {% if filter.status.value == value %} selected {% endif %}>{{ key }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="cell small-6 medium-4 large-2">
        <button class="button action-icon tiny hollow shadow"
                data-action="ticket-list#changeStatus">Change Status</button>
    </div>
</div>


{{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'ticket-list'}) }}





