<div class="reveal text-left {{ class|default('') }}" id="modal-contact-{{ modalId }}"
     data-multiple-opened="true"
     data-v-offset = "{{ dataVOffset|default('auto') }}"
     data-ticket-edit-target="modalContact"
     data-reveal
     data-close-on-click = "false"
     data-append-to="div#modal-form-contact-{{ modalId }}"
>
    <h1>Contact Maintenance Service</h1>
    <div class="grid-x grid-padding-y">
        <div class="cell modal-body"
             data-ticket-edit-target="modalContactBody"
             data-action="modal-form#submitForm"
        >
            {{ modalContent|default('Loading...') }}
        </div>
    </div>

    <div class="grid-x">
        <div class="cell text-right">
            <button
                    class="close-button"
                    type="button"
                    data-action="ticket-edit#closeContact">
                <span aria-hidden="true">&times;</span>
            </button>
            <label>&nbsp;</label>

            <button type="button" class="button secondary small" >contact</button>
        </div>
    </div>
</div>