<div class="grid-x"  >
    <div class="cell">
        {% if (notifications|length == 0) %}
        <div>
            <fieldset class="fieldset">
                <legend>Maintenance notification</legend>
                <div class="grid-x grid-padding-y grid-padding-x">
                    <div class="cell small-6">
                        {{ form_start(notificationForm) }}
                        {{ form_widget(notificationForm.contacted) }}
                        <div class="is-hidden">{{ form_widget(notificationForm.contact) }}</div>
                        <button type="button" class="button small "
                                data-action="click->ticket-edit#contact">Contact</button>
                        {{ form_end(notificationForm) }}

                        {#  <button class="button small"><a style="color: white" href="/admin/owner/edit/{{ owner.id }}#contacts">Add contact</a></button> #}


                        <button type="button" class="button small "
                                data-ticket-edit-target="contactButton"
                                data-action="click->ticket-edit#openContactCreateModal"> Create Contact</button>

                        <div id="formContactCreate{{ modalId }}">
                            <div class="reveal text-left small" id="modal-contact-create-{{ modalId }}"
                                 data-reveal
                                 data-append-to="div#formContactCreate{{ modalId }}"
                                 data-multiple-opened="true"
                                 data-ticket-edit-target="contactModalCreate">
                                <div class="cell modal-body"
                                     data-ticket-edit-target="modalContactCreateBody"
                                     data-action="modal-form#submitForm">
                                    {{ modalContent|default('Loading...') }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <button class="close-button"
                    type="button"
                    data-action="ticket-edit#closeContact"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}

            edit contact
        {% endif %}
    </div>
</div>