{% if (ticket) %}
    {% set features = ticket.anlage.eigner.features %}
    {% set settings = ticket.anlage.eigner.settings %}
{% else %}
    {% set features = false %}
    {% set settings = false %}
{% endif %}
<div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell small-12">
        <table>
            <thead>
            <tr>
                <th>Interval (Cases)</th>
                <th>Begin</th>
                <th>End</th>
                {% if (edited == true and (ticket.alertType == 10 or ticket.alertType == 20)) %}
                    <th>Evaluation</th>
                {% endif %}
                {# <th>Reason</th> #}
                {% if (features and features.aktDep1) %}<td>PA {{ settings.nameDep1 }}</td>{% endif %}
                {% if (features and features.aktDep2) %}<td>PA {{ settings.nameDep2 }}</td>{% endif %}
                {% if (features and features.aktDep3) %}<td>PA {{ settings.nameDep3 }}</td>{% endif %}
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if (ticketForm.dates != null) %}
                {% for date in ticketForm.dates %}
                <tr {{ stimulus_controller('ticket-split', {
                    urlSplit: path('app_ticket_split', {id: date.vars.value.id}),
                    urlDelete: path('app_ticket_delete', {id: date.vars.value.id}),
                    errorType:  ticket.alertType
                }) }}>
                    <td>{{ loop.index }} ({{ date.vars.value.intervals }})</td>
                    <td>{{ date.vars.value.begin|format_datetime(pattern="yyyy-MM-dd HH:mm") }}</td>
                    <td>{{ date.vars.value.end|format_datetime(pattern="yyyy-MM-dd HH:mm") }}</td>

                    {% if (ticket.alertType != 10 and ticket.alertType != 20) %}
                        <td hidden>{{ form_widget(date.dataGapEvaluation, { 'attr':{'class': 'no-margin', 'data-ticket-split-target':'dataGapEv', 'data-action':'change->ticket-split#checkKpiSelectBoxes', 'disabled':'true'} }) }}</td>
                    {% else %}
                        <td>{{ form_widget(date.dataGapEvaluation, { 'attr':{'class': 'no-margin', 'data-ticket-split-target':'dataGapEv', 'data-action':'change->ticket-split#checkKpiSelectBoxes'} }) }}</td>
                    {% endif %}

                    {% if (features and features.aktDep1) %}<td>{{ form_widget(date.kpiPaDep1, { 'attr': {'class': 'no-margin',  'data-ticket-split-target':'aktDep1' } }) }}</td>
                    {% else %}
                        {#
                        <td>{{ form_widget(date.kpiPaDep1, { 'attr': {'class': 'no-margin',  'data-ticket-split-target':'aktDep1' } }) }}</td>
                        #}
                    {% endif %}

                    {% if (features and features.aktDep2) %}<td>{{ form_widget(date.kpiPaDep2, { 'attr': {'class': 'no-margin',  'data-ticket-split-target':'aktDep2' } }) }}</td>
                    {% else %}
                        {#
                        <td>{{ form_widget(date.kpiPaDep2, { 'attr': {'class': 'no-margin', 'data-ticket-split-target':'aktDep2' } }) }}</td>
                        #}
                    {% endif %}

                    {% if (features and features.aktDep3) %}
                        <td>{{ form_widget(date.kpiPaDep3, { 'attr': {'class': 'no-margin',  'data-ticket-split-target':'aktDep3'} }) }}</td>
                    {% else %}
                        {#
                        <td>{{ form_widget(date.kpiPaDep3, { 'attr': {'class': 'no-margin', 'data-ticket-split-target':'aktDep3' } }) }}</td>
                        #}‚
                    {% endif %}


                    {% if (features and features.SplitGap) %}
                        <td class="text-right">
                            <button {% if (ticketForm.dates|length) <= 1 %}disabled{% endif %}
                                    type="button"
                                    class="button action-icon tiny no-margin hollow shadow"
                                    data-action="ticket-split#openDelete"
                                    data-ticket-edit-id-param="{{ date.vars.value.id }}"
                            >
                                <span class="fa fa-trash-alt"></span>
                            </button>

                            <div id="formdelete{{ date.vars.value.id }}">
                                <div class="reveal"
                                     data-reveal
                                     data-append-to="div#formdelete{{ date.vars.value.id }}"
                                     data-multiple-opened="true"
                                     data-ticket-split-target="splitDelete"
                                >
                                    <div>
                                        <fieldset class="fieldset">
                                            <legend>Choose which interval you want to extend:</legend>
                                            <select
                                                    class="select-{{ date.vars.value.id }}"
                                                    data-ticket-split-id-param="{{ date.vars.value.id }}"
                                                    data-action="change->ticket-split#delete"
                                            >
                                                <option value="">Please Choose one</option>
                                                {% if (loop.index < loop.length) %}<option value="Next">next</option> {% endif %}
                                                {% if (loop.index0 > 0 ) %}<option value="Previous">previous</option> {% endif %}
                                                <option value="None">none</option>
                                            </select>
                                        </fieldset>
                                        <button
                                                class="close-button"
                                                type="button"
                                                data-action="ticket-split#closeSplitTicket"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td> {# delete Button #}
                        <td id="{{ date.vars.value.id }}">
                            <button
                                    {% if (date.vars.value.end|date("U") - date.vars.value.begin|date("U") <= 900) %} disabled {% endif %}
                                    type="button"
                                    class="button action-icon tiny no-margin hollow shadow"
                                    data-action="ticket-split#openSplitTicket"
                                    data-ticket-edit-id-param="{{ date.vars.value.id }}"
                            >
                                <span class="fa fa-plus"></span>
                            </button>

                            <div id="formd{{ date.vars.value.id }}">
                                <div class="reveal" id="split-ticket{{ date.vars.value.id }}"
                                     data-reveal
                                     data-append-to="div#formd{{ date.vars.value.id }}"
                                     data-multiple-opened="true"
                                     data-ticket-split-target="splitModal"
                                >
                                    <div>

                                        <fieldset class="fieldset">

                                            <legend>Choose the time when you want to split:
                                            </legend>
                                            <div class="grid-x grid-padding-y grid-padding-x">

                                                <div class="cell small-12 is-hidden"
                                                     style="background-color: red"
                                                     data-ticket-split-target="splitAlert"
                                                >
                                                    Error with the consistency of the dates,
                                                    choose a date
                                                    between {{ date.vars.value.begin()|format_datetime(pattern="yyyy-MM-dd HH:mm") }}
                                                    and {{ date.vars.value.end()|format_datetime(pattern="yyyy-MM-dd HH:mm") }}
                                                </div>
                                                <div class="cell small-12 is-hidden"
                                                     style="background-color: red"
                                                     data-ticket-split-target="splitAlertFormat"
                                                >
                                                    Error with the format of the date, it is
                                                    quarter based.
                                                </div>
                                                <div class="cell small-12"
                                                     data-ticket-split-target="splitForm"
                                                >
                                                    <input disabled
                                                           type="datetime-local"
                                                           value="{{ date.vars.value.begin|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                    >

                                                    <input type="datetime-local"
                                                           class="{{ date.vars.value.id }}"
                                                           name="begin-time"
                                                           value="{{ date.vars.value.begin()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           min="{{ date.vars.value.begin()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           max="{{ date.vars.value.end()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           step="900"
                                                           data-action="change->ticket-split#check"
                                                           data-ticket-split-id-param="{{ date.vars.value.id }}"
                                                    >
                                                    <input disabled
                                                           type="datetime-local"
                                                           value="{{ date.vars.value.end|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                    >
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="grid-x grid-padding-y grid-padding-x">
                                            <div class="cell small-12">
                                                <button
                                                        data-ticket-split-target="splitButton"
                                                        type="button"
                                                        class="button"
                                                        data-action="ticket-split#splitTicket"
                                                        data-ticket-split-id-param="{{ date.vars.value.id }}"
                                                        disabled
                                                >Split Ticket
                                                </button>
                                            </div>
                                        </div>

                                        <button
                                                class="close-button"
                                                type="button"
                                                data-action="ticket-split#closeSplitTicket"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">
                        <b>no Ticket Dates Data found </b>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>