<div class="container">
   <div class="grid-x grid-padding-y">
       <div class="cell">
           <h3>Ticket Nr {{ ticket.id }} History - {{ ticket.anlage.anlName }}</h3>
           <ul class="timeline">
               {% for notification in notifications %}
                   {% if loop.first %}
                       <li>
                           <div class="time">{{ notification.Date|date("m/d/Y H:i") }}</div>
                           {% set priocat %}ticket.priority.{{ notification.priority }}{% endset %}
                           <p>TAM contacted maintenance for the first time ({{ notification.contactedPerson.Name }}) with priority: {{ priocat|trans  }}</p>
                       </li>
                   {% else %}
                       <li>
                           <div class="time">{{ notification.Date|date("m/d/Y H:i") }}</div>
                           {% set priocat %}ticket.priority.{{ notification.priority }}{% endset %}
                           {% set errcat %}ticket.error.category.{{ ticket.alertType }}{% endset %}
                           <p>{{ notification.contactedPerson.Name }} was contacted to solve the {{ errcat|trans }} with priority: {{ priocat|trans  }}</p>
                       </li>
                   {% endif %}
                   {% if notification.answerDate != null %}
                       {% if notification.status ==  40 %}
                           <li>
                               <div class="time">{{ notification.answerDate|date("m/d/Y H:i") }}</div>
                               <p>The maintenance provider rejected the request</p>
                           </li>
                       {% else %}
                           <li>
                               <div class="time">{{ notification.answerDate|date("m/d/Y H:i") }}</div>
                               <p>The maintenance provider accepted the request</p>
                           </li>
                           {% if notification.status == 50 %}
                               <li>
                                   <div class="time">{{ notification.closeDate|date("m/d/Y H:i") }}</div>
                                   <p>The reparation has been finished</p>
                               </li>
                           {% elseif notification.status == 60 %}
                               <li>
                                   <div class="time">{{ notification.closeDate|date("m/d/Y H:i") }}</div>
                                   <p>The provider could not fulfill the request</p>
                               </li>
                           {% endif %}
                       {% endif %}
                   {% endif %}
                   {{ notification.notificationWorks }}
                        {% for work in notification.notificationWorks  %}
                            {{ work.type }}
                        {% endfor %}
               {% endfor %}
               {% if ticket.status == 90 %}
                   <li>
                       <div class="time">{{ ticket.whenClosed|date("m/d/Y H:i") }}</div>
                       <p>The TAM closed the ticket</p>
                   </li>
               {% endif %}
           </ul>
           <p>Total time elapsed: {{ timeElapsed }}</p>
       </div>
   </div>
</div>