{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}list reports
{% endblock %}

{% block body %}
    <h1>List Reports</h1>
    <div id="anlReport">
    <div {{ stimulus_controller('newreport', {
            urlCreate: path('app_newReporting_create'),
            urlSearch: path('app_reporting_search'),
        }) }}
        data-newreport-target="reportForm"
    >
{#        <form>#}
{#            <div id="search-form" data-report-target="searchForm">#}
{#                {% include 'newReporting/_inc/_searchForm.html.twig' %}#}
{#            </div>#}
{#        </form>#}
            {% include 'newReporting/_inc/_listReports.html.twig' %}
            <hr>
        {% if (is_granted('ROLE_G4N') or is_granted('ROLE_BETA') ) %}
            <form>
                <div id="create-form" data-newreport-target="createForm">
                    {% include'newReporting/_inc/_createForm.html.twig' %}
                </div>
            </form>
        {% endif %}
    </div>
    </div>
{% endblock %}
