{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}list reports
{% endblock %}

{% block body %}
    <h1>List Reports</h1>
    <div {{ stimulus_controller('report', {
            urlCreate: path('app_reporting_create'),
            urlSearch: path('app_reporting_search'),
        }) }}
        data-report-target="reportForm">
        <form>
            {% include 'reporting/_inc/_searchForm.html.twig' %}
        </form>
        <form>
            {% include 'reporting/_inc/_createForm.html.twig' %}
        </form>
        {% include 'reporting/_inc/_listReports.html.twig' %}
    </div>
{% endblock %}