{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Reports
{% endblock %}

{% block body %}
    <h1>List Reports</h1>
    <div {{ stimulus_controller('report', {
            urlCreate: path('app_reporting_create'),
            urlSearch: path('app_reporting_search'),
        }) }}
        data-report-target="reportForm"
    >
        <form>
            <div id="search-form" data-report-target="searchForm">
                {% include 'reporting/_inc/_searchForm.html.twig' %}
            </div>
        </form>
            {% include 'reporting/_inc/_listReports.html.twig' %}
            <hr>
        {% if is_granted('ROLE_G4N') %}
            <form>
                <div id="create-form" data-report-target="createForm">
                    {% include'reporting/_inc/_createForm.html.twig' %}
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}