{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}list reports
{% endblock %}

{% block body %}
    <h1>List Reports</h1>
    <div {{ stimulus_controller('report', {
            urlCreate: path('app_reporting_create'),
            urlSearch: path('app_reporting_search'),
        }) }}
        data-report-target="reportForm">
        <div class="grid-x ticketsearchbar">
            <form class="cell small-12 medium-6">
                {% include 'reporting/_inc/_searchForm.html.twig' %}
            </form>
            <form class="cell small-12 medium-6">
                {% include 'reporting/_inc/_createForm.html.twig' %}
            </form>
        </div>
        <div class="grid-x">
            <div class="cell">
                {% include 'reporting/_inc/_listReports.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}