{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reports_list') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reports_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Reports
{% endblock %}

{% block body %}
    <h1>List Reports</h1>
    <div {{ stimulus_controller('report', {
            urlCreate: path('app_reporting_create'),
            urlSearch: path('app_reporting_search')
        }) }}
        data-report-target="reportForm"
    >
        <form>
            <div id="search-form" data-report-target="searchForm">
                {% include 'reporting/_inc/_searchForm.html.twig' %}
            </div>
        </form>
        <div
            data-report-target="list"
            {{ stimulus_controller('reload-content', {
                url: path('app_reporting_search'),
            }) }}
            data-action="modal-form:success->reload-content#refreshContent"
        >
            <div data-reload-content-target="content" >
                {% include 'reporting/_inc/_listReports.html.twig' %}
            </div>
        </div>
        <hr>
        <form>
            <div id="create-form" data-report-target="createForm">
                {% include'reporting/_inc/_createForm.html.twig' %}
            </div>
        </form>
    </div>
{% endblock %}