{% extends 'report/_epc/_pageBase.html.twig' %}
{% block page %}
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <h3>Basic Values</h3>
            <table>
                <thead>
                <tr>
                    <th>Start FAC</th>
                    <th>End FAC</th>
                    <th>PLD [EUR/kWh]</th>
                    <th>PR design [%]</th>
                    <th>PR guaranteed</th>
                    <th>Risk discount [%]</th>
                    <th>Annual Degradation [%]</th>
                    <th>Plant size as build [kWp]</th>
                    <th>Plant size by PVSYST [kWp]</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ header.0.startFac|number_format(2,',','.') }}</td>
                        <td>{{ header.0.endeFac|number_format(2,',','.') }}</td>
                        <td>{{ header.0.pld|number_format(2,',','.') }}</td>
                        <td>{{ header.0.PRDesign|number_format(2,',','.') }}</td>
                        <td>{{ header.0.PRgarantiert|number_format(2,',','.') }}</td>
                        <td>{{ header.0.Risikoabschlag|number_format(2,',','.') }}</td>
                        <td>{{ header.0.AnnualDegradation|number_format(2,',','.') }}</td>
                        <td>{{ header.0.kwPeak|number_format(2,',','.') }}</td>
                        <td>{{ header.0.kwPeakPvSyst|number_format(2,',','.') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-6">
            {% if headline.reportStatus %}
                <h3>PR Forecast <small>{{ forecast.0.forecastDateText }}</small></h3>
                <table>
                    <thead>
                    <tr>
                        <th>SPR<sub><small>Prog</small></sub> - PR<sub><small>Guar</small></sub> [%]</th>
                        <th></th>
                        <th>Total PLD [EUR]</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ forecast.0.PRDiffYear|number_format(2,',','.') }}</td>
                            <td>{{ forecast.0.message }}</td>
                            <td>{{ forecast.0.pld|number_format(2,',','.') }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="cell small-6">
            <h3>PR Real <small>{{ forecast_real.0.forecastDateText }}</small></h3>
            <table>
                <thead>
                <tr>
                    <th>PR<sub><small>Real</small></sub> - PR<sub><small>Guar</small></sub> [%]</th>
                    <th>Availability</th>
                    <th></th>
                    <th>Total PLD [EUR]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ forecast_real.0.PRDiffYear|number_format(2,',','.') }}</td>
                    <td>{{ forecast_real.0.availability|number_format(2,',','.') }}</td>
                    <td>{{ forecast_real.0.message }}</td>
                    <td>{{ forecast_real.0.pld|number_format(2,',','.') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}