{% from "dashboardPlants/_incl/macrosMenuSelectBox.html.twig" import acActOverview, acActGroup, dcActGroup, dcGroupPowerDiff, irradiation, inverterPerformance, currentDcOverview, currentDcInverter, currentDcGroup, dcActPlant, dcActOverview, currentDcString, acActPlant, acVoltage, acCurrent, acFrequency, acReactive %}

<div class="grid-x grid-margin-x">
    <input type="hidden" name="eide" value="{{ aktAnlage.eignerId }}">
    <input type="hidden" name="aid" value="{{ aktAnlage.AnlId }}">
    <input type="hidden" name="mysubmit" id="mysubmit" value="no">
    <div class="cell medium-6 large-4 xlarge-2">
        <select class="js-submit-onchange selectedChart" title="Please select a view from the list." data-toggle="tooltip" name="selectedChart">
            <optgroup label="Analysis">
                {% if aktAnlage.showAvailability or is_granted('ROLE_ADMIN') %}<option value="availability" {% if form.selectedChart == 'availability' %}selected{% endif %}>Show Availability [%]</option>{% endif %}
                {% if aktAnlage.showPr or is_granted('ROLE_ADMIN') %}<option value="pr_and_av" {% if form.selectedChart == 'pr_and_av' %}selected{% endif %}>Show PR&nbsp;[%]</option>{% endif %}
                {% if aktAnlage.showForecast %}<option value="forecast" {% if form.selectedChart == 'forecast' %}selected{% endif %}>Forecast&nbsp;[kWh]</option>{% endif %}
            </optgroup>
            <!-- ab hier AC -->
            <optgroup label="AC">
                {{ acActPlant(form, aktAnlage) }}       {# AC1 #}
                {{ acActOverview(form, aktAnlage) }}    {# AC2 #}
                {{ acActGroup(form, aktAnlage) }}       {# AC3 #}
                {% if is_granted('ROLE_DEV') %}<option value="ac_grp_power_diff" {% if form.selectedChart == 'ac_grp_power_diff' or not form.selectedChart %}selected{% endif %}>AC - Inverter</option>{% endif %}
                {{ acVoltage(form, aktAnlage) }}
                {{ acCurrent(form, aktAnlage) }}
                {{ acFrequency(form, aktAnlage) }}
                {{ acReactive(form, aktAnlage) }}
            </optgroup>

            {% if aktAnlage.hasDc %}
                <!-- ab hier DC -->
                <optgroup label="DC Power">
                    {{ dcActPlant(form, aktAnlage) }}       {# DC1 #}
                    {{ dcActOverview(form, aktAnlage) }}    {# DC2 #}
                    {{ dcActGroup(form, aktAnlage) }}       {# DC3 #}
                    {{ dcGroupPowerDiff(form, aktAnlage) }} {# DC4 Bar Chart #}
                </optgroup>

                <!-- ab hier Current DC -->
                <optgroup label="DC Current">
                    {{ currentDcOverview(form, aktAnlage) }}    {# Curr1 #}
                    {{ currentDcGroup(form, aktAnlage) }}       {# Curr2 #}
                    {{ currentDcInverter(form, aktAnlage) }}    {# Curr3 #}
                    {{ currentDcString(form, aktAnlage) }}      {# Curr4 #}
                </optgroup>
                <!-- ab hier Voltage DC -->
                {#
                <optgroup label="DC Voltage">
                    {% if aktAnlage.showGraphVoltGrp or is_granted('ROLE_ADMIN') %}<option value="dc_voltage_groups" {% if form.selectedChart == 'dc_voltage_groups' %}selected{% endif %}>DC - Voltage, Groups</option>{% endif %}
                    {% if aktAnlage.showStringCharts or is_granted('ROLE_ADMIN') %}<option value="dc_voltage_mpp" {% if form.selectedChart == 'dc_voltage_mpp' %}selected{% endif %}>DC - Voltage, String</option>{% endif %}
                </optgroup>
                #}
            {% endif %}

            <!-- diverses -->
            <optgroup label="Sensors">
                {{ irradiation(form, aktAnlage) }}
                <option value="temp" {% if form.selectedChart == 'temp' %}selected{% endif %}>Temperature [°C]</option>
            </optgroup>

            <!-- Developer and G4N Stuff -->
            {% if is_granted('ROLE_ADMIN') %}
                <optgroup label="Admin Stuff">
                    <option value="status_log" {% if form.selectedChart == 'status_log' %}selected{% endif %}>Show status log</option>
                    {% if aktAnlage.showPvSyst or is_granted('ROLE_DEV') %}
                        <option value="pvsyst" {% if form.selectedChart == 'pvsyst' %}selected{% endif %}>Show pvSyst</option>
                    {% endif %}
                </optgroup>
            {% endif %}

        </select>
    </div>
    <div class="cell medium-6 large-4 xlarge-3">
        {% if form.selectedChart == 'dc_inv_power_diff' or form.selectedChart == 'inverter_performance' or form.selectedChart == 'dc_current_inverter' or form.selectedChart == 'ac_act_group' or form.selectedChart == 'ac_act_voltage' or form.selectedChart == 'ac_act_current' or form.selectedChart == 'ac_act_frequency' or form.selectedChart == 'dc_act_group' or form.selectedChart == 'dc_current_overview' %}
            <select class="form-control js-submit-onchange" title="Select a Group" data-toggle="tooltip" name="selectedGroup">
                {% if form.selectedChart starts with 'acAct' or form.selectedChart == 'dc_current_overview' or form.selectedChart == 'reactive_power'%}
                    {% if aktAnlage.configType != 1 %}
                        {% for group in aktAnlage.groups%}
                            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
                        {% endfor %}
                    {% else %}
                        {% for group in aktAnlage.acGroups%}
                            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.acGroupName }}</option>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for group in aktAnlage.groups %}
                        <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <input type="hidden" name="selectedSet" value="1">
        {% elseif form.selectedChart == 'dc_voltage_groups' or form.selectedChart == 'dc_current_group' %}
            {% if aktAnlage.groups|length > 10 %}
                <select class="form-control js-submit-onchange" title="Select a Set" data-toggle="tooltip" name="selectedSet">
                    {% for set in 1..((aktAnlage.groups|length/10)|round(0)) %}
                        <option value="{{ loop.index }}" {% if form.selectedSet == loop.index %}selected{% endif %}>Set "{{ loop.index }}"</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="hidden" name="selectedSet" value="1">
            {% endif %}
            <input type="hidden" name="selectedGroup" value="1">
        {% else %}
            <input type="hidden" name="selectedSet" value="1">
            <input type="hidden" name="selectedGroup" value="1">
        {% endif %}

        {% if form.selectedChart == 'dc_current_mpp' or form.selectedChart == 'dc_voltage_mpp' %}
            <select class="form-control js-submit-onchange" title="Select a Inverter" data-toggle="tooltip" name="selectedInverter">
                {% for dcInverter in aktAnlage.invertersFromDcGroups %}
                    <option value="{{ dcInverter.inverterNo }}" {% if form.selectedInverter == loop.index %}selected{% endif %}>Group {{ dcInverter.group}} - {{ dcInverter.name }}</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" name="selectedInverter" value="1">
        {% endif %}
    </div>
    <div class="cell medium-4 large-4 xlarge-2">
        <div class="input-group">
            <input id="startDate" name="to" class="input-group-field js-submit-onchange" size="16" type="text" value="{{ form.to|date('Y-m-d') }}" data-date-format="yyyy-mm-dd" style="max-width: 158px;">
            <span class="input-group-label"><i class="fa fa-calendar"></i></span>
        </div>
        <script>
            $(function(){
                $('#startDate').fdatepicker();
            });
        </script>
    </div>
    <div class="cell medium-8 large-12 xlarge-5 ">
        <div class="small button-group round toggle">
            <label class="button js-submit-onchange {% if form.optionDate == 1 or not form.optionDate %}active{% endif %} {% if form.selectedChart == 'pr_and_av' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="1" {% if form.optionDate == 1 or not form.optionDate %}checked="checked"{% endif %}>one day
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 3 %}active{% endif %} {% if form.selectedChart == 'pr_and_av' or form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="3" {% if form.optionDate == 3 %}checked{% endif %}>last 3 days
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 7 %}active{% endif %} {% if form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="7" {% if form.optionDate == 7 %}checked{% endif %}>last 7 days
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 14 %}active{% endif %} {% if form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="14" {% if form.optionDate == 14 %}checked{% endif %}>last 14 days
            </label>
            <!--
            <label class="button js-submit-onchange {% if form.optionDate == 30 %}active{% endif %} {% if form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="30" {% if form.optionDate == 30 %}checked{% endif %}>last 30 days
            </label>
            -->
            <label class="button js-submit-onchange {% if form.optionDate == 100000 %}active{% endif %} {% if form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="100000" {% if form.optionDate == 100000 %}checked{% endif %}>month
            </label>
        </div>
    </div>
</div>

