
<script>
    $(function() {
        $('.daterange').daterangepicker({
            autostart:true,
            showDropdowns: false,
            showWeekNumbers: false,
            startDate: moment().startOf('month'),
            endDate: moment().endOf('month'),
            showCustomRangeLabel:true,
            ranges: {
                'Today': [moment(), moment()],
                //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                //'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Last 3 Month': [moment().subtract(3, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'primary save button button',
            cancelClass: 'secondary close button button',
            format: 'YYYY-MM-DD',
            separator: ' to ',
            locale: {
                applyLabel: 'Submit',
                cancelLabel: 'Clear',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 0
            },
        }, function(start, end, label) {
            $('.daterange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
            $('#selRange').val(label);
        },

        $('.daterange').on('apply.daterangepicker', function (ev, picker, label) {
            var rangesfr = picker.range;
            var startDate = picker.startDate;
            var endDate = picker.endDate;
            $('#from').val(startDate.format('YYYY-MM-DD'));
            $('#to').val(endDate.format('YYYY-MM-DD'));
            $("#mysubmit").val('yes');
            $("#chart-control").delay(100).submit();
        })
    );

        var list = $('.ranges ul li');
        for(i=0;i<=list.length-1;i++){
            list[i].addEventListener("click",setlabel);
        }
        function setlabel(){
            var selectedLabel = $(this).attr('data-range-key');
            $('#selRange').val(selectedLabel);
        }

        var labelfr =  $('#selRange').val();
        if (labelfr == "") { labelfr = 'Today'; }

        $('.ranges li.active').removeClass('active');

        $('.daterange').click(function(){
            $('.ranges li.active').removeClass('active');
            $('.ranges li[data-range-key="'+ labelfr +'"]').addClass('active');
        });

        $('.button .lastday').click(function(){
            [startDate, endDate] = $('.daterange span').html().split(' - ');
            switch (labelfr) {
                case "Today":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'days').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'days').format('YYYY-MM-DD'));
                    break;
                case "This Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
                case "Last Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
                case "Last 3 Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(3, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(1, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
            }
            $("#mysubmit").val('yes');
            $("#chart-control").delay(100).submit();
        });

        $('.button .nextday').click(function(){
            [startDate, endDate] = $('.daterange span').html().split(' - ');
            switch (labelfr) {
                case "Today":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'days').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'days').format('YYYY-MM-DD'));
                    break;
                case "This Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
                case "Last Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
                case "Last 3 Month":
                    $('#from').val(moment(startDate, "YYYY-MM-DD").subtract(-1, 'month').startOf('month').format('YYYY-MM-DD'));
                    $('#to').val(moment(startDate, "YYYY-MM-DD").subtract(-3, 'month').endOf('month').format('YYYY-MM-DD'));
                    break;
            }
            $("#mysubmit").val('yes');
            $("#chart-control").delay(100).submit();
        });
    });
</script>

{% from "dashboardPlants/_incl/macrosMenuSelectBox.html.twig" import showHeatmap ,showTempHeatmap ,showSollIstAnalyse,showSollIstTempAnalyse,showSollIstIrrAnalyse,showSollIstHeatmap, acActOverview, acActGroup, dcActGroup, dcGroupPowerDiff, irradiation, inverterPerformance,
    currentDcOverview, currentDcInverter, currentDcGroup, dcActPlant, dcActOverview, currentDcString, acActPlant, acVoltage, acCurrent, acFrequency, acReactive, voltageDcString %}

{% from "dashboardPlants/_incl/macrosGroupeMenuSelectBox.html.twig" import groupMenu, groupMenuNew %}

<div class="fluid grid-x grid-padding-x box text-center">
    <input type="hidden" name="eide" value="{{ aktAnlage.eignerId }}">
    <input type="hidden" name="aid" value="{{ aktAnlage.AnlId }}">
    <input type="hidden" name="mysubmit" id="mysubmit" value="no">

    <div class="cell medium-6 large-4 xlarge-2">
        <select class="js-submit-onchange selectedChart" title="Please select a view from the list." data-toggle="tooltip" name="selectedChart">
            <optgroup label="Analysis">
                {% if aktAnlage.showAvailability or is_granted('ROLE_ADMIN') %}<option value="availability" {% if form.selectedChart == 'availability' %}selected{% endif %}>Show Availability [%]</option>{% endif %}
                {% if aktAnlage.showPr or is_granted('ROLE_ADMIN') %}
                <option value="pr_and_av" {% if form.selectedChart == 'pr_and_av' %}selected{% endif %}>Show PR&nbsp;[%]</option>
                {% endif %}
                {% if aktAnlage.showForecast %}
                <option value="forecast" {% if form.selectedChart == 'forecast' %}selected{% endif %}>Forecast&nbsp;[kWh]</option>
                {% endif %}
                {{ showHeatmap(form, aktAnlage) }}            {# Headmap #}
                {{ showTempHeatmap(form, aktAnlage) }}        {# Headmap #}
                {{ showSollIstHeatmap(form, aktAnlage) }}     {# Headmap #}
                {% if is_granted('ROLE_G4N') or is_granted('ROLE_ANALYSE') %}
                    {{ showSollIstAnalyse(form, aktAnlage) }}     {# Bubblechart #}
                    {{ showSollIstTempAnalyse(form, aktAnlage) }}    {# Bubblechart #}
                    {{ showSollIstIrrAnalyse(form, aktAnlage) }}     {# Bubblechart #}
                {% endif %}
            </optgroup>
            <!-- ab hier AC -->
            <optgroup label="AC">
                {{ acActPlant(form, aktAnlage) }}       {# AC1 #}
                {{ acActOverview(form, aktAnlage) }}    {# AC2 #}
                {{ acActGroup(form, aktAnlage) }}       {# AC3 #}
                <option value="ac_grp_power_diff" {% if form.selectedChart == 'ac_grp_power_diff' or not form.selectedChart %}selected{% endif %}>AC - Inverter {% if is_granted('ROLE_DEV') %}[AC 4]{% endif %}</option>
                {{ acVoltage(form, aktAnlage) }}
                {{ acCurrent(form, aktAnlage) }}
                {{ acFrequency(form, aktAnlage) }}
                {{ acReactive(form, aktAnlage) }}
            </optgroup>

            {% if aktAnlage.hasDc %}
                <!-- ab hier DC -->
                <optgroup label="DC Power">
                    {{ dcActPlant(form, aktAnlage) }}       {# DC1 #}
                    {{ dcActOverview(form, aktAnlage) }}    {# DC2 #}
                    {{ dcActGroup(form, aktAnlage) }}       {# DC3 #}
                    {{ dcGroupPowerDiff(form, aktAnlage) }} {# DC4 Bar Chart #}
                </optgroup>

                <!-- ab hier Current DC -->
                <optgroup label="DC Current">
                    {{ currentDcOverview(form, aktAnlage) }}    {# Curr1 #}
                    {{ currentDcGroup(form, aktAnlage) }}       {# Curr2 #}
                    {{ currentDcInverter(form, aktAnlage) }}    {# Curr3 #}
                    {{ currentDcString(form, aktAnlage) }}      {# Curr4 #}
                </optgroup>


                <optgroup label="DC Voltage">
                    {{ voltageDcString(form, aktAnlage) }}      {# VoltDC1 #}
                </optgroup>

            {% endif %}

            <!-- diverses -->
            <optgroup label="Sensors">
                {{ irradiation(form, aktAnlage) }}
                <option value="temp" {% if form.selectedChart == 'temp' %}selected{% endif %}>Temperature [°C]</option>
            </optgroup>

            <!-- Developer and G4N Stuff -->
            {% if is_granted('ROLE_ADMIN') %}
                <optgroup label="Admin Stuff">
                    <option value="status_log" {% if form.selectedChart == 'status_log' %}selected{% endif %}>Show status log</option>
                    {% if aktAnlage.showPvSyst or is_granted('ROLE_DEV') %}
                        <option value= "pvsyst" {% if form.selectedChart == 'pvsyst' %}selected{% endif %}>Show pvSyst</option>
                    {% endif %}
                    {% if is_granted('ROLE_DEV') %}
                        <option value= "grid" {% if form.selectedChart == 'grid' %}selected{% endif %}>Show grid</option>
                    {% endif %}
                </optgroup>
            {% endif %}

        </select>
    </div>

    <div class="cell medium-4 large-2 xlarge-2">
        {{ groupMenuNew(form, aktAnlage) }}
    </div>

    <div class="grid-x grid-padding-x">
        {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse'%}

            <div class="cell medium-2 large-2 xlarge-2">
                <label class="button" style="background-color: #701b1b00;display: block;font-weight: 800;color: green;font-size: 38px;padding:0 5px 0 0;">
                    <div class="lastday" type="text"  style="display: block">
                        <i class="fa fa-angle-left"></i></div></label>
            </div>
            <div class="cell medium-2 large-2 xlarge-2">
                <label class="button" style="background-color: #701b1b00;display: block;font-weight: 800;color: green;font-size: 38px;padding:0 0 0 5px;">
                    <div class="nextday" type="text" style="display: block">
                        <i class="fa fa-angle-right"></i></div></label>
            </div>
        {% else %}

            <div class="cell medium-1 large-1 xlarge-1">
                <label class="button js-submit-onchange" style="background-color: #701b1b00;display: block;font-weight: 800;color: green;font-size: 38px;padding:0 5px 0 0;">
                    <input type="radio" name="optionStep" value="lastday" style="display: none">
                    <i class="fa fa-angle-left"></i></label>
            </div>


        {% endif %}

        <div class="cell medium-8 large-8 xlarge-8">
            {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' %}
                <div class="input-group">

                    <div class="pull-right daterange" style="background: #fff; cursor: pointer; padding: 5px 0px; width: 250px; border: 1px solid #ccc" >
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span style="font-size:14px;">{{ form.from|date('Y-m-d') }} - {{ form.to|date('Y-m-d') }}</span><i style="font-size:15px;" class="fa fa-caret-down"></i>
                    </div>
                    <input type="text" id="from" name="from" value="{{ form.from|date('Y-m-d') }}" readonly style="display: none">
                    <input type="text" id="to" name="to" value="{{ form.to|date('Y-m-d') }}" readonly style="display: none">
                    <input type="text" id="selRange" name="selRange" value="{{ form.selRange }}" readonly style="display: none">
                    <input type="hidden" name="startDateNew" value="true">
                </div>
            {% else %}
                <div class="input-group">
                    <input id="startDate" name="to" class="input-group-field js-submit-onchange" size="16" type="text" value="{{ form.to|date('Y-m-d') }}" data-date-format="yyyy-mm-dd" style="max-width: 158px;">
                    <span class="input-group-label"><i class="fa fa-calendar"></i></span>
                </div>

            {% endif %}
        </div>

        {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse'%}
        {% else %}
        <div class="cell medium-1 large-1 xlarge-1">
            <label class="button js-submit-onchange" style="background-color: #701b1b00;display: block;font-weight: 800;color: green;font-size: 38px;padding:0 0 0 5px;">
                <input type="radio" name="optionStep" value="nextday" style="display: none">
                <i class="fa fa-angle-right"></i></label>
        </div>
        {% endif %}

    </div>

    {% if (form.selectedChart != 'availability') and (form.selectedChart != 'pr_and_av') and (form.selectedChart != 'forecast') and (form.selectedChart != 'status_log') and (form.selectedChart != 'pvsyst') and (form.selectedChart != 'heatmap') and (form.selectedChart != 'tempheatmap') and (form.selectedChart != 'sollistanalyse') and form.selectedChart != 'sollistirranalyse' and (form.selectedChart != 'sollisttempanalyse') and (form.selectedChart != 'sollistheatmap') and (form.selectedChart != 'grid')%}
        <div class="cell medium-1 large-1 xlarge-1">
            <div class="switch tiny align-center-middle">
                <label class="" style="line-height: 1;"><small>Interval min.</small></label>
                <input class="switch-input js-submit-onchange" id="hour" type="checkbox" name="hour" {%if form.hour == true  %} checked {% endif %}>
                <label class="switch-paddle" for="hour">
                    <span class="show-for-sr"></span>
                    <span class="switch-active" aria-hidden="true">60</span>
                    <span class="switch-inactive" aria-hidden="true">15</span>
                </label>
            </div>
        </div>
    {% endif %}

    {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' %}
    {% else %}
    <div class="cell medium-6 large-8 xlarge-4">
        <div class="small button-group round toggle" {% if form.selectedChart == 'heatmap' or form.selectedChart == 'tempheatmap' or form.selectedChart == 'sollistheatmap'%}style="display: none"{% endif %}>
            <label class="button js-submit-onchange {% if form.optionDate == 1 or not form.optionDate %}active{% endif %} {% if form.selectedChart == 'pr_and_av' or form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="1" {% if form.optionDate == 1 or not form.optionDate %}checked="checked"{% endif %}>one day
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 3 %}active{% endif %} {% if form.selectedChart == 'pr_and_av' or form.selectedChart == 'availability' or form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="3" {% if form.optionDate == 3 %}checked{% endif %}>last 3 days
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 7 %}active{% endif %} {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' or form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="7" {% if form.optionDate == 7 %}checked{% endif %}>last 7 days
            </label>
            <label class="button js-submit-onchange {% if form.optionDate == 14 %}active{% endif %} {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse' or form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="14" {% if form.optionDate == 14 %}checked{% endif %}>last 14 days
            </label>
            <!--
            <label class="button js-submit-onchange {% if form.optionDate == 30 %}active{% endif %} {% if form.selectedChart == 'availability' %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="30" {% if form.optionDate == 30 %}checked{% endif %}>last 30 days
            </label>
            -->
            <label class="button js-submit-onchange {% if form.optionDate == 100000 %}active{% endif %} {% if form.selectedChart == 'availability' and not is_granted('ROLE_ADMIN') %}disabled{% endif %}">
                <input type="radio" name="optionDate" value="100000" {% if form.optionDate == 100000 %}checked{% endif %}>month
            </label>
            {% if form.selectedChart == 'sollistanalyse' or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse'%}
                <label class="button js-submit-onchange {% if form.optionDate == 300000 %}active{% endif %} {% if form.selectedChart == 'availability' and not is_granted('ROLE_ADMIN') %}disabled{% endif %}">
                    <input type="radio" name="optionDate" value="300000" {% if form.optionDate == 300000 %}checked{% endif %}>3 months
                </label>
            {% endif %}

        </div>
    </div>
{% endif %}

{% if form.selectedChart == 'sollistirranalyse' %}
      <div class="cell medium-4 large-6 xlarge-2">
          <div class="small button-group round toggle">
              <label class="button js-submit-onchange {% if form.optionIrrVal == 400 %}active{% endif %}">
                  <input type="radio" name="optionIrrVal" value="400" {% if form.optionIrrVal == 400 %}checked="checked"{% endif %}> < 400 W/m²
              </label>
              <label class="button js-submit-onchange {% if form.optionIrrVal == 800 %}active{% endif %}">
                  <input type="radio" name="optionIrrVal" value="800" {% if form.optionIrrVal == 800 %}checked="checked"{% endif %}>400 - 800 W/m²
              </label>
              <label class="button js-submit-onchange {% if form.optionIrrVal == 1000 %}active{% endif %}">
                  <input type="radio" name="optionIrrVal" value="1000" {% if form.optionIrrVal == 1000 %}checked="checked"{% endif %}> > 800 W/m²
              </label>
          </div>
     </div>
{% endif %}

</div>

