{% macro groupMenu(form, aktAnlage) %}

    {% if form.selectedChart == 'dc_inv_power_diff' or form.selectedChart == 'inverter_performance' or form.selectedChart == 'dc_current_inverter'
        or form.selectedChart == 'ac_act_group' or form.selectedChart == 'ac_act_voltage' or form.selectedChart == 'ac_act_current'
        or form.selectedChart == 'ac_act_frequency' or form.selectedChart == 'dc_act_group' or form.selectedChart == 'dc_current_overview'
    %}
        <select class="form-control js-submit-onchange" title="Select a Group d1" data-toggle="tooltip" name="selectedGroup">
            {% if form.selectedChart starts with 'acAct' or form.selectedChart == 'dc_voltage_1' or form.selectedChart == 'dc_current_overview' or form.selectedChart == 'reactive_power'%}

                {% if aktAnlage.configType != 1 %}
                    {% for group in aktAnlage.groups%}
                        <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
                    {% endfor %}
                {% else %}
                    {% for group in aktAnlage.acGroups%}
                        <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.acGroupName }}</option>
                    {% endfor %}
                {% endif %}

            {% else %}

                {% for group in aktAnlage.groups %}
                    <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <input type="hidden" name="selectedSet" value="1">

    {% elseif form.selectedChart == 'dc_voltage_groups' or form.selectedChart == 'dc_current_group' %}

        {% if aktAnlage.groups|length > 50 %}
            <select class="form-control js-submit-onchange" title="Select a Set" data-toggle="tooltip" name="selectedSet">
                {% for set in 1..((aktAnlage.groups|length/10)|round(0)) %}
                    <option value="{{ loop.index }}" {% if form.selectedSet == loop.index %}selected{% endif %}>Set "{{ loop.index }}"</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" name="selectedSet" value="1">
        {% endif %}
        <input type="hidden" name="selectedGroup" value="1">

    {% else %}
        <input type="hidden" name="selectedSet" value="1">
        <input type="hidden" name="selectedGroup" value="1">
    {% endif %}

    {% if form.selectedChart == 'dc_current_mpp' or form.selectedChart == 'dc_voltage_mpp' %}
        <select class="form-control js-submit-onchange" title="Select a Inverter" data-toggle="tooltip" name="selectedInverter">
            {% for dcInverter in aktAnlage.invertersFromDcGroups %}
                <option value="{{ dcInverter.inverterNo }}" {% if form.selectedInverter == loop.index %}selected{% endif %}>Group {{ dcInverter.group}} - {{ dcInverter.name }}</option>
            {% endfor %}
        </select>
    {% else %}
        <input type="hidden" name="selectedInverter" value="1">
    {% endif %}

{% endmacro %}

{% macro groupMenuNew(form, aktAnlage) %}
    {% if form.selectedChart starts with 'irr' or form.selectedChart == 'temp'
        or form.selectedChart == 'ac_single' or form.selectedChart == 'dc_single'
        or form.selectedChart == 'availability' or form.selectedChart == 'pr_and_av'
        or form.selectedChart == 'heatmap'
        or form.selectedChart == 'forecast'
        or form.selectedChart == 'forecast_pr'
        or form.selectedChart == 'acpnom' or form.selectedChart == 'dcpnomcurr'
        or form.selectedChart == 'tempheatmap' or form.selectedChart == 'sollistheatmap' or form.selectedChart == 'ac_grp_power_diff'
        or form.selectedChart == 'dc_grp_power_diff' or form.selectedChart == 'status_log' or form.selectedChart == 'pvsyst' or form.selectedChart == 'grid'
    %}
        <input type="hidden" name="selectedGroup" value="1">

    {% else %}

        <select class="form-control js-submit-onchange" title="Select a Group" data-toggle="tooltip" name="selectedGroup">
            {% if (form.selectedChart == 'dc_act_overview' or form.selectedChart == 'dc_act_group' or form.selectedChart == 'sollistanalyse'
                or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse') %}
                <option value="-1" >All</option>
            {% endif %}
            {% if     aktAnlage.configType == 1 %}
                {{ _self.configType1(form, aktAnlage) }}
            {% elseif aktAnlage.configType == 2 %}
                {{ _self.configType2(form, aktAnlage) }}
            {% elseif aktAnlage.configType == 3 %}
                {{ _self.configType3(form, aktAnlage) }}
            {% elseif aktAnlage.configType == 4 %}
                {{ _self.configType4(form, aktAnlage) }}
            {% endif %}
        </select>
    {% endif %}
{% endmacro %}

{# Konfiguration Gruppenmenüs #}
{# configType == 1 #}
{% macro configType1(form, aktAnlage) %}
    {% if form.selectedChart == 'ac_act_overview' %}
        {# AC Gruppen anzeigen #}
        {% set selectorA = 0 %}
        {% set nn = form.selectedGroup %}
        {% for groupA in aktAnlage.acGroups %}
            {% set selectorA = selectorA + 1 %}
            {% if form.selectedGroup > loop.length %} {% set nn = 1 %} {% endif %}
            <option value="{{ selectorA }}" {% if nn == selectorA %}selected{% endif %}>{{ groupA.acGroupName }}</option>
        {% endfor %}
    {% elseif form.selectedChart == 'dc_act_overview' %}
        {# AC Gruppen anzeigen #}
        {% set selectorB = 0 %}
        {% set nn = form.selectedGroup %}
        {% for groupB in aktAnlage.acGroups %}
            {% set selectorB = selectorB + 1 %}
            {% if form.selectedGroup > loop.length %} {% set nn = 1 %} {% endif %}
            <option value="{{ selectorB }}" {% if nn == selectorB %}selected{% endif %}>{{ groupB.acGroupName }}</option>
        {% endfor %}
    {% elseif form.selectedChart == 'dc_current_overview' or form.selectedChart == 'dc_voltage_1' %}
        {# AC Gruppen anzeigen #}
        {% set selectorC = 0 %}
        {% set nn = form.selectedGroup %}
        {% for groupC in aktAnlage.acGroups %}
            {% set selectorC= selectorC + 1 %}
            {% if form.selectedGroup > loop.length %} {% set nn = 1 %} {% endif %}
            <option value="{{ selectorC }}" {% if nn == selectorC %}selected{% endif %}>{{ groupC.acGroupName }}</option>
        {% endfor %}
    {% else %}
        {# DC Gruppen anzeigen #}
        {% set selectorX = 0 %}
        {% set nn = form.selectedGroup %}
        {% for groupX in aktAnlage.groups %}
            {% set selectorX = selectorX + 1%}
            {% if form.selectedGroup > loop.length %} {% set nn = 1 %} {% endif %}
            <option value="{{ selectorX }}" {% if nn == selectorX %}selected{% endif %}>{{ groupX.dcGroupName }}</option>
         {# +1 ????? #}
        {% endfor %}
    {% endif %}
{% endmacro %}
{#{% if form.selectedGroup == loop.index %} selected {% endif %}
{# configType == 2 #}
{% macro configType2(form, aktAnlage) %}
    {% if form.selectedChart starts with 'ac_act' or form.selectedChart starts with 'dc_act'
        or form.selectedChart starts with 'dc_current'
        or form.selectedChart == 'reactive_power'
        or form.selectedChart == 'dc_voltage_mpp' %}
        {% for group in aktAnlage.groups %}
            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
        {% endfor %}
    {% endif %}
{% endmacro %}

{# configType == 3 #}
{% macro configType3(form, aktAnlage) %}
    {% if form.selectedChart starts with 'ac_act' or form.selectedChart starts with 'dc_act'
        or form.selectedChart == 'dc_current_overview'
        or form.selectedChart == 'reactive_power'
        or form.selectedChart == 'sollistanalyse'
        or form.selectedChart == 'sollisttempanalyse'
        or form.selectedChart == 'sollistirranalyse'
        or form.selectedChart == 'dc_voltage_1'
        or form.selectedChart == 'dc_voltage_mpp'%}
        {% for group in aktAnlage.acGroups %}
            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.acGroupName }}</option>
        {% endfor %}
    {% else %}
        {% for group in aktAnlage.groups %}
            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.dcGroupName }}</option>
        {% endfor %}
    {% endif %}
{% endmacro %}

{# configType == 4 #}
{% macro configType4(form, aktAnlage) %}
    {% if form.selectedChart starts with 'ac_act' or form.selectedChart starts with 'dc_act' or form.selectedChart == 'dc_current_overview'
        or form.selectedChart == 'sollistanalyse'
        or form.selectedChart == 'sollisttempanalyse' or form.selectedChart == 'sollistirranalyse'
        or form.selectedChart == 'reactive_power' or form.selectedChart == 'dc_voltage_mpp'%}
        {% for group in aktAnlage.acGroups %}
            <option value="{{ loop.index }}" {% if form.selectedGroup == loop.index %}selected{% endif %}>{{ group.acGroupName }}</option>
        {% endfor %}
    {% endif %}
{% endmacro %}
