

{% block body %}
{{ form_start(uploadForm, {'attr': {'novalidate': 'no'}}) }}
<div class="grid-x">
        <div class="cell">
                <ul class="tabs" data-tabs id="uploads-tabs" data-deep-link="true">
                        <div class="grid-x grid-padding-x">
                                {% if is_granted('ROLE_G4N') %}
                                        {%if case6 ==null %}
                                                <li class="tabs-title is-active" aria-selected="true"><a data-tabs-target="uploads" href="#uploads"  >upload</a></li>
                                        {% else %}
                                                <li  class="tabs-title is-active" aria-selected="true"><a data-tabs-target="uploads" href="#uploads"  >Preview</a></li>
                                        {% endif %}
                                {% endif %}
                        </div>
                </ul>
                <div class="tabs-content" data-tabs-content="uploads-tabs">
                        <div class="grid-x grid-padding-x">

                                        <div   class="tabs-panel is-active" id="uploads">
                                                <div class="cell medium-2">        Anlagen (coming soon)            </div>
                                                <div class="cell medium-2">        {{ form_row(uploadForm.File) }}  </div>
                                                {{ form_widget(uploadForm.import) }}
                                        </div>
                        </div>
                </div>


        </div>
</div>


<div style="display: none">{{ form_rest(uploadForm) }}</div>
{{ form_end(uploadForm) }}
{% endblock %}