{% extends 'base.html.twig' %}

{% import _self as formMacros %}

{% block title %} Fixing errors {% endblock %}

{% block body %}
    {% set form = caseForm.createView %}
    {{ form_start(form) }}
        <div class="tabs-panel is-active" id="uploads">
            <legend>Case 6</legend>
            <table id="case_6">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>inverter</th>
                    <th>Beginning</th>
                    <th>Ending</th>
                    <th>Reason</th>
                    <th>Errors</th>
                    <th>Stamp</th>
                </tr>
                </thead>
                <tbody>
                    {% for forme in form.Case6s %}
                    <tr>
                        <td> {{ case6[loop.index0].id }} </td>
                        <td> {{ form_widget(forme.inverter, {'attr':{} }) }} </td>
                        <td> {{ form_widget(forme.stampFrom, {'attr':{} }) }} </td>
                        <td> {{ form_widget(forme.stampTo, {'attr':{} }) }} </td>
                        <td> {{ form_widget(forme.reason, {'attr':{} }) }} </td>
                        <td> {{ case6[loop.index0].error }}</td>
                        <td> {{ case6[loop.index0].createdAt|date }}</td>
                        <td><a class="hollow alert button tiny action-icon shadow" href="{{ path('csv_upload_delete', { id: case6[loop.index0].id}) }}" > <span class="fa fa-close"></span></a></td>
                    </tr>
                    {%  endfor %}
                </tbody>
            </table>
            {{  form_widget(form.save) }}
            <div style="display: none">{{ form_rest(form) }}</div>
        </div>
    {{ form_end(form) }}
{% endblock %}