{% extends 'base.html.twig' %}

{% block title %} Preview {% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Import CSV File Case 6 {{ anlage.anlName }} / {{ anlage.eigner.firma }}</h1>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell">
            <table id="case 6">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>inverter</th>
                    <th>Beginning</th>
                    <th>Ending</th>
                    <th>Reason</th>
                    <th>Errors</th>
                    <th>Stamp</th>
                </tr>
                </thead>
                <tbody>
                {% for case in case6 %}
                    <tr>
                        <td>{{ case.id }}</td>
                        <td>{{ case.inverter }}</td>
                        <td>{{ case.stampFrom }}</td>
                        <td>{{ case.stampTo }}</td>
                        <td>{{ case.reason }}</td>
                        <td>{{ case.error }}</td>
                        <td>{{ case.createdAt|date }}</td>
                        <td><a class="hollow alert button tiny action-icon shadow" href="{{ path('csv_upload_delete', { id: case.id}) }}" ><span class="fa fa-trash-alt"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="hollow alert button action-icon shadow" href="{{ path('csv_upload_save', {anlId: anlId}) }}" ><span>Save</span></a>
            <a class="hollow alert button action-icon shadow" href="{{ path('csv_upload_saveandfix', {anlId: anlId}) }}" ><span>Resolve Errors</span></a>
        </div>
    </div>
{% endblock %}