<div
        data-report-target="list"
        data-action="modal-form:success->report#search submit-confirm:async:submitted->report#search"
>
    <div data-reload-content-target="content">
        <table class="table sortable stickyheader">
            <thead>
            <tr>
                <th>Report ID</th>
                <th {% if pagination.isSorted('a.anlName') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Plant', ['a.anlName'], {'data-action': 'report#sort'}) }}</th>

                {% if is_granted('ROLE_G4N') %}
                    <th>Owner</th>
                    <th {% if pagination.isSorted('report.createdBy') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'created by', ['report.createdBy'], {'data-action': 'report#sort'}) }}</th>
                {% endif %}

                <th {% if pagination.isSorted('report.createdAt') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'created at', ['report.createdAt'], {'data-action': 'report#sort'}) }}</th>
                <th {% if pagination.isSorted('report.month') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Month', ['report.month'], {'data-action': 'report#sort'}) }}</th>
                <th {% if pagination.isSorted('report.year') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Year', ['report.year'], {'data-action': 'report#sort'}) }}</th>
                <th {% if pagination.isSorted('report.reportType') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Report Type', ['report.reportType'], {'data-action': 'report#sort'}) }}</th>
                <th {% if pagination.isSorted('report.reportStatus') %} class="sorted" {% else  %} class="unsorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Status', ['report.reportStatus'], {'data-action': 'report#sort'}) }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for report in pagination %}
                {% if is_granted('ROLE_G4N') or report.reportStatus < 9 %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ report.anlage.anlId}}) {% endif %}</td>

                        {% if is_granted('ROLE_G4N') %}
                            <td>{{ report.anlage.eigner.firma }}</td>
                        {% endif %}

                        {% if is_granted('ROLE_G4N') %}
                            <td>{{ report.createdBy }}</td>
                        {% endif %}

                        <td>{{ report.createdAt|date }}</td>
                        <td>{{ report.month }}</td>
                        <td>{{ report.year }}</td>
                        <td>
                            {{ report.reportType }}
                            {% if report.reportType == 'epc-report' %} - {{ report.anlage.epcReportType }}{% endif %}
                        </td>
                        <td>{{ stati[report.reportStatus] }}</td>
                        <td class="text-right">
                            <div id="modal-form{{ report.id }}" {{ stimulus_controller('modal-form', {
                                    formUrl: path('app_reporting_edit', { id: report.id, page: pagination.currentPageNumber }),
                                    submitUrl: path('app_reporting_pdf',{ id: report.id }),
                            }) }}>
                                {% if is_granted('ROLE_G4N') or report.reportStatus <= 3 %}
                                    {% set visibility = 'enabled' %}
                                {% else %}
                                    {% set visibility = 'disabled' %}
                                {% endif %}

                                {# export FAC Data, nur aktiv wenn status = 'final FAC' (reportStatus = 1) #}
                                {% if is_granted('ROLE_G4N') and report.reportStatus == 1 %}
                                    <a href="{{ path('export_fac_daily', {id: report.anlage}) }}" class="hollow button tiny action-icon shadow" target="_blank">
                                        <span class="fa fa-file-export"></span>
                                    </a>
                                {% endif %}

                                {# download pdf #}
                                <a href="{{ path('app_reporting_pdf', { id: report.id}) }}" target="_blank" title="load PDF file" class="hollow button tiny action-icon shadow
                                    {{ visibility }}
                                "><span class="fa fa-file-pdf"></span></a>

                                {# open Report in HTML #}
                                {% if is_granted('ROLE_G4N') and report.reportType != 'am-report' %}
                                    <a href="{{ path('app_reporting_html', { id: report.id}) }}" target="_blank" title="load html code into new window" class="hollow button tiny action-icon shadow">
                                        <span class="fas fa-code"></span>
                                    </a>
                                {% endif %}

                                {# edit report #}
                                {% if is_granted('ROLE_G4N') %}
                                    <button class="hollow button tiny action-icon shadow"
                                       data-action="modal-form#openModal"
                                       data-append-to="div#modal-form{{ report.id }}"
                                    ><span class="fa fa-edit"></span></button>
                                {% endif %}

                                {# delete report #}
                                {% if is_granted('ROLE_DEV') %}
                                    <a href="#" class="hollow alert button tiny action-icon shadow"
                                       {{ stimulus_controller('submit-confirm', {
                                           title: 'Remove this report?',
                                           confirmButtonText: 'Yes, remove it',
                                           redirectUrl: path('app_reporting_delete', { id: report.id})
                                       }) }}
                                       data-action="submit-confirm#onSubmit">
                                        <span class="fa fa-trash-alt"></span>
                                    </a>
                                {% endif %}

                                {{ include('_modal.html.twig', {
                                    modalId: report.id,
                                    modalTitel: 'Edit Report',
                                }) }}

                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'report'}) }}
    </div>
</div>
