
<table class="table sortable">
    <thead>
    <tr>
        <th>Report ID</th>
        <th {% if pagination.isSorted('a.anlName') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Plant', ['a.anlName']) }}</th>
        {% if is_granted('ROLE_G4N') %}
            <th>Owner</th>
            <th {% if pagination.isSorted('report.createdAt') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'created at', ['report.createdAt']) }}</th>
            <th {% if pagination.isSorted('report.createdBy') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'created by', ['report.createdBy']) }}</th>
        {% endif %}
        <th {% if pagination.isSorted('report.month') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Month', ['report.month']) }}</th>
        <th {% if pagination.isSorted('report.year') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Year', ['report.year']) }}</th>
        <th {% if pagination.isSorted('report.reportType') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Report Type', ['report.reportType']) }}</th>
        <th {% if pagination.isSorted('report.reportStatus') %} class="sorted" {% else  %} class="unsorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Status', ['report.reportStatus']) }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for report in pagination %}
        {% if is_granted('ROLE_G4N') or report.reportStatus <= 5 %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.anlage.anlName }} {% if is_granted('ROLE_G4N') %} ({{ report.anlage.anlId}}) {% endif %}</td>
                {% if is_granted('ROLE_G4N') %}
                    <td>{{ report.eigner.firma }}</td>
                    <td>{{ report.createdAt|date }}</td>
                    <td>{{ report.createdBy }}</td>
                {% endif %}
                <td>{{ report.month }}</td>
                <td>{{ report.year }}</td>
                <td>
                    {{ report.reportType }}
                    {% if report.reportType == 'epc-report' %} - {{ report.anlage.epcReportType }}{% endif %}
                </td>
                {# <td>{% if report.reportStatus == 0 %} final {% elseif report.reportStatus <= 5 %} proof reading {% elseif report.reportStatus == 9 %} archive {% else %} draft (only g4n) {% endif %}</td>  #}
                <td>{{ stati[report.reportStatus] }}</td>
                <td class="text-right">
                    <div id="modal-form{{ report.id }}" {{ stimulus_controller('modal-form', {
                            formUrl: path('app_reporting_edit', { id: report.id}),
                            reportId: report.id,
                    }) }}>
                        {# <a href="{{ path('app_reporting_edit', { id: report.id}) }}"><span class="fa fa-pencil"></span></a>&nbsp;{# {{ path('app_reporting_edit', { id: report.id}) }} #}
                        {% if is_granted('ROLE_G4N') or report.reportStatus <= 1 %}
                            <a href="{{ path('app_reporting_excel', { id: report.id}) }}" target="_blank" title="load Excel file" class="hollow button tiny action-icon shadow
                                {% if report.reportType == 'am-report' or (report.reportType == 'epc-report' and report.anlage.epcReportType == 'yieldGuarantee') %}
                                    disabled
                                {% endif %}
                            "><span class="fa fa-file-excel"></span></a>
                            {% if report.reportType != 'am-report' or is_granted('ROLE_AM') %} {# Zeige Download Butten wenn es keine AM Bericht ist, oder wenn die Berichtigung für AM Bericht ausreicht #}
                                <a href="{{ path('app_reporting_pdf', { id: report.id}) }}"   target="_blank" title="load PDF file" class="hollow button tiny action-icon shadow"><span class="fa fa-file-pdf"></span></a>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_G4N') %}
                            <button {# href="{{ path('app_reporting_edit', { id: report.id}) }}" #}  class="hollow button tiny action-icon shadow"
                               data-action="modal-form#openModal"
                               data-append-to="div#modal-form" data-open="modal{{ report.id }}"

                            ><span class="fa fa-edit"></span></button>

                            <a href="{{ path('app_reporting_html', { id: report.id}) }}" target="_blank" title="load html code into new window" class="hollow button tiny action-icon shadow"><span class="fas fa-code"></span></a>

                        {% endif %}
                        {% if is_granted('ROLE_DEV') %}<a href="{{ path('app_reporting_delete', { id: report.id}) }}" onclick="return window.confirm('Löschen?');" class="hollow alert button tiny action-icon shadow"><span class="fa fa-trash-alt"></span></a>{% endif %}

                        {{ include('_modal.html.twig', {
                            modalId: report.id,
                            modalTitel: 'Edit Report',
                        }) }}

                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(pagination, false, {}, {'controllerNameStimulus': 'report'}) }}
