
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell small-12">
            {% if (dates != null) %}
            <table>
                <thead>
                <tr>
                    <th>Interval</th>
                    <th>Begin</th>
                    <th>End</th>
                    {% if (ticket.alertType == 10) %}
                        <th>Gap Ev.</th>
                    {% endif %}
                    <th>Reason</th>
                    <th>O&M</th>
                    <th>EPC</th>
                    <th>AM</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for date in dates %}
                    <tr {{ stimulus_controller('ticket-split', {
                        urlSplit: path('app_ticket_split', {id: date.id}),
                        urlDelete: path('app_ticket_delete', {id: date.id})
                    }) }}>
                        <td>{{ loop.index }}</td>
                        <td>{{ date.begin|format_datetime(pattern="yyyy-MM-dd HH:mm") }}</td>
                        <td>{{ date.end|format_datetime(pattern="yyyy-MM-dd HH:mm") }}</td>
                        {% if (ticket.alertType == 10) %}
                            <td>{{ form_widget(ticketForm.dates[loop.index0].dataGapEvaluation, { 'attr': {'class': 'no-margin'} }) }}</td>
                        {% else %}
                            {% do ticketForm.dates[loop.index0].dataGapEvaluation.setRendered() %}
                        {% endif %}
                        <td>reason</td>
                        <td>om</td>
                        <td>epc</td>
                        <td>{{ form_widget(ticketForm.dates[loop.index0].errorType, { 'attr': {'class': 'no-margin'} }) }}</td>
                        <td class="text-right">
                            <button {% if (dates|length) <= 1 %}disabled{% endif %}
                                    type="button"
                                    class="button action-icon tiny no-margin hollow shadow"
                                    data-action="ticket-split#openDelete"
                                    data-ticket-edit-id-param="{{ date.id }}"
                            >
                                <span class="fa fa-trash-alt"></span>
                            </button>

                            <div id="formdelete{{ date.id }}">
                                <div class="reveal"
                                     data-reveal
                                     data-append-to="div#formdelete{{ date.id }}"
                                     data-multiple-opened="true"
                                     data-ticket-split-target="splitDelete"
                                >
                                    <div>
                                        <fieldset class="fieldset">
                                            <legend>Choose which interval you want to extend:</legend>
                                            <select
                                                    class="select-{{ date.id }}"
                                                    data-ticket-split-id-param="{{ date.id }}"
                                                    data-action="change->ticket-split#delete"
                                            >
                                                <option value="">Please Choose one</option>
                                                {% if (loop.index < loop.length) %}<option value="Next">next</option> {% endif %}
                                                {% if (loop.index0 > 0 ) %}<option value="Previous">previous</option> {% endif %}
                                                <option value="None">none</option>
                                            </select>
                                        </fieldset>
                                        <button
                                                class="close-button"
                                                type="button"
                                                data-action="ticket-split#closeSplitTicket"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td> {# delete Button #}
                        <td id="{{ date.id }}">
                            <button
                                    {% if (date.end|date("U") - date.begin|date("U") <= 900) %} disabled {% endif %}
                                    type="button"
                                    class="button action-icon tiny no-margin hollow shadow"
                                    data-action="ticket-split#openSplitTicket"
                                    data-ticket-edit-id-param="{{ date.id }}"
                            >
                                <span class="fa fa-plus"></span>
                            </button>

                            <div id="formd{{ date.id }}">
                                <div class="reveal" id="split-ticket{{ date.id }}"
                                     data-reveal
                                     data-append-to="div#formd{{ date.id }}"
                                     data-multiple-opened="true"
                                     data-ticket-split-target="splitModal"
                                >
                                    <div>

                                        <fieldset class="fieldset">

                                            <legend>Choose the time when you want to split:
                                            </legend>
                                            <div class="grid-x grid-padding-y grid-padding-x">

                                                <div class="cell small-12 is-hidden"
                                                     style="background-color: red"
                                                     data-ticket-split-target="splitAlert"
                                                >
                                                    Error with the consistency of the dates,
                                                    choose a date
                                                    between {{ date.begin()|format_datetime(pattern="yyyy-MM-dd HH:mm") }}
                                                    and {{ date.end()|format_datetime(pattern="yyyy-MM-dd HH:mm") }}
                                                </div>
                                                <div class="cell small-12 is-hidden"
                                                     style="background-color: red"
                                                     data-ticket-split-target="splitAlertFormat"
                                                >
                                                    Error with the format of the date, it is
                                                    quarter based.
                                                </div>
                                                <div class="cell small-12"
                                                     data-ticket-split-target="splitForm"
                                                >
                                                    <input disabled
                                                           type="datetime-local"
                                                           value="{{ date.begin|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                    >

                                                    <input type="datetime-local"
                                                           class="{{ date.id }}"
                                                           name="begin-time"
                                                           value="{{ date.begin()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           min="{{ date.begin()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           max="{{ date.end()|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                           step="900"
                                                           data-action="change->ticket-split#check"
                                                           data-ticket-split-id-param="{{ date.id }}"
                                                    >
                                                    <input disabled
                                                           type="datetime-local"
                                                           value="{{ date.end|format_datetime(pattern="yyyy-MM-dd'T'HH:mm") }}"
                                                    >
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="grid-x grid-padding-y grid-padding-x">
                                            <div class="cell small-12">
                                                <button
                                                        data-ticket-split-target="splitButton"
                                                        type="button"
                                                        class="button"
                                                        data-action="ticket-split#splitTicket"
                                                        data-ticket-split-id-param="{{ date.id }}"
                                                        disabled
                                                >Split Ticket
                                                </button>
                                            </div>
                                        </div>

                                        <button
                                                class="close-button"
                                                type="button"
                                                data-action="ticket-split#closeSplitTicket"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td> {# split Button #}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="callout alert">
                    <p><b>no Ticket Dates Data found - looks like somthing is wrong</b></p>
                </div>
            {% endif %}

        </div>
    </div>