{% import _self as formMacros %}

{% macro addAccess(eigner) %}
    <td>{{ form_widget(eigner.eigner) }}</td>
    <td></td>
{% endmacro %}

{{ form_start(userForm, {'attr': {'novalidate': 'no', 'autocomplete': 'new-password'}}) }}

<div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            <legend>User
                <span data-tooltip tabindex="1" title="Please enter the user data !"><i class="fa fa-info-circle"></i></span>
            </legend>
            {{ form_row(userForm.username) }}
            {{ form_row(userForm.newPlainPassword) }}
            {{ form_row(userForm.email) }}
            {{ form_row(userForm.allPlants) }}
        </fieldset>
    </div>

    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            {% if is_granted('ROLE_G4N')  %}
                <legend>List Eigner
                    <span data-tooltip tabindex="1" title="Please assign the eigner from user !"><i class="fa fa-info-circle"></i></span>
                </legend>
                {{ form_widget(userForm.eigners) }}
            {% else %}
                <legend>Eigner
                    <span data-tooltip tabindex="1" title="Please assign the eigner from user !"><i class="fa fa-info-circle"></i></span>
                </legend>
                {{ form_widget(userForm.singleeigners) }}
            {% endif %}
        </fieldset>
    </div>
    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            <legend>List with Roles
                <span data-tooltip tabindex="1" title="Please assign roles rights for this User !"><i class="fa fa-info-circle"></i></span>
            </legend>
             {{ form_widget(userForm.roles) }}
        </fieldset>
    </div>

    <div class="cell small-6 medium-3" >
        <fieldset class="fieldset">
            <legend>List with Plants
                <span data-tooltip tabindex="1" title="Please assign a plant for this User !"><i class="fa fa-info-circle"></i></span>
            </legend>

           <div style="width: 100%; height: 400px; overflow-y: scroll;">
             {{ form_widget(userForm.eignersPlantList) }}
           </div>

        </fieldset>
    </div>

    <div class="cell small-1 medium-1">
        {{ form_widget(userForm.grantedList) }}
    </div>
</div>

<div class="grid-x grid-padding-y action-menu">
    <div class="cell">
        {{ form_widget(userForm.save) }}
        {{ form_widget(userForm.saveclose) }}
        {{ form_widget(userForm.close) }}
        {% if app.request.requesturi != "/admin/user/new" %}
            <a href="{{ path('app_admin_user_delete', {id: app.request.attributes.get('id')}) }}" onclick="return confirm('WARNING! Are you sure to delete this User?')" class="button alert"><i class="fa fa-trash"></i> Delete User</a>
        {% endif %}
    </div>
</div>
<div style="visibility: hidden"> {{ form_rest(userForm) }}</div>
{{ form_end(userForm) }}
