{% import _self as formMacros %}

{% macro addAccess(eigner) %}
    <td>{{ form_widget(eigner.eigner) }}</td>
    <td></td>
{% endmacro %}

<style>
    .tooltipContainer {
        width: 325px;
        position: relative;
    }

    .tooltipIcon {
        text-decoration: none;
    }

    a.tooltipIcon {
        line-height: inherit;
        color: #1779ba;
        text-decoration: none;
        cursor: pointer;
    }

    a.tooltipIcon:hover + div {
        display:block;
        float: right;
    }

    .tooltip {
        position: absolute;
        display: none;
        background-color: #e9ebec;
        border: 2px solid #739e40;
        font-size: 12px;
        color: black;
        padding: 10px 0 10px 10px;
        margin-left: 20px;
        width: 10rem;
    }

    .tooltip:after, .tooltip:before {
        border: solid transparent;
        content:' ';
        height: 0;
        right: 100%;
        position: absolute;
        width: 0;
    }

    .tooltip:after {
        border-width: 11px;
        border-right-color: #e9ebec;
        top: 13px;
    }

    .tooltip:before {
        border-width: 14px;
        border-right-color: #739e40;
        top: 10px;
    }
</style>

{{ form_start(userForm, {'attr': {'novalidate': 'no', 'autocomplete': 'off'}}) }}
<div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            <legend>User
                <span class="tooltipContainer">
            <a class="tooltipIcon" href=""><i class="fa fa-info-circle"></i></a>
            <div class="tooltip">
            Please enter the user data !<br/>
            </div>
           </span></legend>
        {{ form_row(userForm.username) }}
        {{ form_row(userForm.plainPassword) }}
        {{ form_row(userForm.email) }}
        {#  {{ form_row(userForm.level) }}#}
        </fieldset>
    </div>

    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            <legend>List with Roles
                <span class="tooltipContainer">
            <a class="tooltipIcon" href=""><i class="fa fa-info-circle"></i></a>
            <div class="tooltip">
            Please assign roles rights for this User !<br/>
            </div>
           </span></legend>
             {{ form_widget(userForm.roles) }}
        </fieldset>
    </div>


    {% if is_granted('ROLE_ADMIN_USER') %}
        <div class="cell small-6 medium-3">
            <fieldset class="fieldset">
                <legend>Access to Owner
                    <span class="tooltipContainer">
            <a class="tooltipIcon" href=""><i class="fa fa-info-circle"></i></a>
            <div class="tooltip">
            Yau are Access to Owners !<br/>
            </div>
           </span></legend>
                {{ form_widget(userForm.singleeigners) }}
            </fieldset>
        </div>
        {% else %}
            <div class="cell small-6 medium-3">
                <fieldset class="fieldset">
                    <legend>List with Access to Owners
                        <span class="tooltipContainer">
            <a class="tooltipIcon" href=""><i class="fa fa-info-circle"></i></a>
            <div class="tooltip">
            Please assign the Access to Owners for this User !<br/>
            </div>
           </span></legend>
                    {{ form_widget(userForm.eigners) }}
                </fieldset>
            </div>
    {% endif %}


    <div class="cell small-6 medium-3">
        <fieldset class="fieldset">
            <legend>List with Plants
            <span class="tooltipContainer">
            <a class="tooltipIcon" href=""><i class="fa fa-info-circle"></i></a>
            <div class="tooltip">
            Please assign a plant for this User !<br/>
            </div>
           </span></legend>

            {{ form_widget(userForm.eignersPlantList) }}

            {#
            <div id="user_form_eignersPlantList">
                {% for key, item in userForm.eignersPlantList %}
                    <label>{{item.vars.label}}</label>
                    <div class="switch tiny checkbox">
                        <input
                                type="checkbox"
                                value="{{item.vars.value}}"
                                id="{{item.vars.id}}"
                                class="switch-input"
                                name="{{item.vars.full_name}}"
                                aria-describedby="{{item.vars.id}}"
                                {{ item.vars.checked ? 'checked="checked"' : '' }}
                        >
                        <label class="switch-paddle" for="{{item.vars.id}}" id="{{item.vars.id}}" name="{{item.vars.full_name}}" required="required" aria-describedby="{{item.vars.id}}"></label>
                    </div>
                {% endfor %}
            </div>
            #}

        </fieldset>
    </div>

    <div class="cell small-1 medium-1">
        {{ form_widget(userForm.grantedList) }}
    </div>

    <div class="cell small-12 medium-12">
        <a href="{{ path('app_admin_user_delete', {id: app.request.attributes.get('id')}) }}"><i class="fa fa-trash"></i> Delete User</a>
{# {{ form_widget(userForm.delete) }}#}
    </div>

</div>

<div class="grid-x grid-padding-y action-menu">
    <div class="cell">
        {{ form_widget(userForm.save) }}
        {{ form_widget(userForm.saveclose) }}
        {{ form_widget(userForm.close) }}
    </div>
</div>
<div style="visibility: hidden"> {{ form_rest(userForm) }}</div>
{{ form_end(userForm) }}
