{% extends 'base.html.twig' %}
{% import 'macros/macros.library.html.twig' as macrolibrary %}

{% block title %}List User{% endblock %}

{% block body %}
<div class="grid-x">
    <div class="cell">
        <h1>List Users</h1>
    </div>
</div>

<div class="grid-x searchbar">
    <div class="cell small-12 medium-2">
        <label><b>Filter / Search by:</b></label>
        {{ macrolibrary.searchbox(app.request.query.get('qu'), 'qu') }}
    </div>
    <div class="cell small-12 medium-8"></div>
    <div class="cell small-12 medium-2">
        <label><b>Aktion:</b></label>
        <span data-tooltip tabindex="1" title="Create New User">
        <a class="button action-icon tiny hollow shadow expanded no-margins" title="Create new user" href="{{ path('app_admin_user_new') }}">  <span class="fa fa-plus"></span></a>
        </span>
    </div>
</div>

<div class="grid-x">
    <div class="cell">
        <table class="table sortable stickyheader">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'Nr','user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'Name','user.name') }}</th>
                <th>Email</th>
                {# <th>Owner Access List</th> #}
                <th>Role</th>
                {% if is_granted('ROLE_G4N') %}
                    <th>Owner</th>
                    <th></th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.userId }}</td>
                    <td><span {% if user.locked %}style="text-decoration: line-through;"{% endif %}>{{ user.userName }}</span></td>
                    <td>{{ user.email }}</td>
                  {#  <td>{{ user.getEignerIdNew }}</td> #}
                    <td><small>{{ user.rolesAsString }}</small></td>
                    {% if is_granted('ROLE_G4N') %}
                    {# <td>{% if user.owner %}{{ user.owner.firma }}{% endif %} </td> #}
                        <td><small>{{ user.grantedList }}</small></td>
                        <td><a class="hollow button tiny no-margin shadow" href="{{ path('app_dashboard', {_switch_user: user.email}) }}">Impersonate</a></td>
                    {% endif %}
                    <td>
                        <span data-tooltip tabindex="1" title="Edit User">
                        <a href="{{ path('app_admin_user_edit', {id: user.userId}) }}" title="Edit User" class="button action-icon tiny hollow shadow expanded no-margins"><span class="fa fa-edit"></span></a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
