{% extends 'base.html.twig' %}
{% block body %}

{{ form_start(assetForm) }}
<div style="margin-left: 10px">{{ form_row(assetForm.Production) }} </div>
    <div style="margin-left: 60px">
        {{ form_row(assetForm.ProdCap) }}
        {% if anlage.hasPVSYST == true %}
            {{ form_row(assetForm.CumulatForecastPVSYS) }}
        {% endif %}
        {{ form_row(assetForm.CumulatForecastG4N) }}
        {{ form_row(assetForm.CumulatLosses) }}
        {{ form_row(assetForm.MonthlyProd) }}
        {{ form_row(assetForm.DailyProd) }}
        {{ form_row(assetForm.StringCurr) }}
        {{ form_row(assetForm.InvPow) }}
    </div>
    <div style="margin-left: 10px">{{ form_row(assetForm.Availability) }} </div>
    <div style="margin-left: 60px">
        {{ form_row(assetForm.AvYearlyOverview) }}
        {{ form_row(assetForm.AvYearlyTicketOverview) }}
        {{ form_row(assetForm.AvMonthlyOverview) }}
        {{ form_row(assetForm.AvInv) }}

    </div>
    <div style="margin-left: 10px">{{ form_row(assetForm.Economics) }} </div>
    <div> {{ form_row(assetForm.submit) }}</div>
    <div style="visibility: hidden">{{ form_rest(assetForm) }}</div>
    <div style="visibility: hidden"> form_rest(form)</div>

{{ form_end(assetForm) }}

{% endblock %}