<html>
<header>
    <!--<link href="{{ asset('scss/report-epc.css') }}" rel="stylesheet" type="text/css">-->
    <link href="{{ asset('scss/goldbeck_asset_report_new.css') }}" rel="stylesheet" type="text/css">
</header>
<body>
{% block content %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('echarts/echarts.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('echarts/theme/royal.js') }}" type="text/javascript"></script>
    <script src="{{ asset('echarts/theme/cool.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
