{% extends 'report/new_report.base.html.twig' %}

{% block content %}

    <div class="reportHeader-container">
        <img src="{{ absolute_url(asset('goldbeck/reports/asset_management/goldbecksolar_logo.svg')) }}" alt="goldbeckSolar" width="150"/>
        <h5 id="reportHeader">
            <span>{{ reportContentHeadline["projektid"]}} {{ reportContentHeadline["plant_name"]}} ({{ reportContentHeadline["plant_power"] }} kWp) </span>
            <span>{{ reportContentHeadline["month"]}}/{{ reportContentHeadline["year"]}} Monthly Report </span>
        </h5>
        <img src="{{ absolute_url(asset('images/green4net.jpg')) }}" alt="green4net" />
    </div>
   {% for key, report in reports %}

    <div class="row">
        <h5>{{ key | replace({'_':' '}) | title }}</h5>
        <table>
            <thead>
            <tr>
                {% if (key is same as ('energy_production')) or
                     (key is same as( 'performance_ratio_and_availability')) or
                    (key is same as( 'day_values')) or
                    (key is same as( 'case5')) or
                    (key is same as( 'day_chart_values')) or
                    (key is same as( 'legend')) or
                    (key is same as( 'own_params'))or
                    (key is same as( 'irradiation_and_tempvalues'))

                %}
                      {% if report|length > 0 %}
                          {% set firstItem= report|first %}
                          {% if firstItem is iterable  %}
                              {% for w, z in firstItem %}
                                  {% if dictionary[w] is same as('') %}
                                  <th>{{ w|humanize }}</th>
                                  {% else %}
                                  <th>{{ dictionary[w] }}</th>
                                  {% endif%}
                              {% endfor %}
                          {% else%}
                              {% for w, z in report %}
                                  {% if dictionary[w] is same as('') %}
                                      <th>{{ w|humanize }}</th>
                                  {% else %}
                                      <th>{{ dictionary[w] }}</th>
                                  {% endif%}
                              {% endfor %}
                          {% endif %}
                      {% else%}

                                <th colspan="4">{{ key | replace({'_':' '})|title}}</th>

                      {% endif%}


                {% endif %}
            </tr>
            </thead>

           <tbody>
           {% if report|length > 0 %}
               {% set firstElt= report|first %}
               {% if firstElt is iterable %}
                  {% for elt in report %}
                      <tr>
                          {% for v in elt %}
                              {% if (v matches '/^\\d+$/') or ( v matches '/^[-+]?[0-9]*\\.?[0-9]+$/')  %}
                                  <td class="nowrap" align="right">

                                      {{ v|number_format(2, ',', '.') }}
                                  </td>
                              {% else %}
                                  <td class="nowrap">{{ v }}</td>

                              {% endif%}
                          {% endfor %}
                      </tr>
                  {% endfor %}

               {% else %}
                   <tr>
                       {% for elt in report %}
                           {% if (elt matches '/^\\d+$/') or ( elt matches '/^[-+]?[0-9]*\\.?[0-9]+$/')  %}
                               <td class="nowrap" align="right">

                                   {{ elt|number_format(2, ',', '.') }}
                               </td>
                           {% else %}
                               <td class="nowrap">{{ elt }}</td>

                           {% endif%}
                       {% endfor %}
                   </tr>
               {% endif%}


           {% else%}

                    <tr><td colspan="4">No data available in table</td></tr>

           {% endif%}
            </tbody>
        </table>
    </div>

   {% endfor %}








    <div class="row">
        <p><b>Remarks: </b></p>
        <p>Generally, and especially on days with outage, the expected / actual difference indicates the lost production.</p>
        <p><sup>*</sup> Customer values if applicable; Otherwise default.</p>
    </div>
{% endblock %}