{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css'))  %}
<container class="main">
    <row class="header">
        <columns>
            <spacer size="10"></spacer>
            <img src="{{ absolute_url(asset('/images/green4net.jpg')) }}" class="logo" alt="PVplus 4.0 Logo">
        </columns>
    </row>
    <row class="welcome">
        <columns>
            <spacer size="35"></spacer>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>

    <row>
        <columns>
            Hello {{ name }},
        </columns>
    </row>
    <row>
        <columns>
            <p>{{ message|raw }}</p>
        </columns>
    </row>
    <spacer size="10"></spacer>
    <row>
        <columns>
            <button class="expanded" href="{{ app.request.getSchemeAndHttpHost() }}{{ path('app_ticket_notification_confirm', {id: key}) }}"> Click here to answer </button>
        </columns>
    </row>
    <row class="bottom">
        <columns>
            <center>
                <spacer size="20"></spacer>
                <div>
                    Sent️ from PVplus 4.0
                </div>
            </center>
        </columns>
    </row>
</container>
{% endapply %}