{% import _self as formMacros %}

{% macro addAcGroup(acgroup) %}
<tr class="js-acgroup-item">
    <td>{{ form_widget(acgroup.acGroup) }}</td>
    <td>{{ form_widget(acgroup.trafoNr) }}</td>
    <td>{{ form_widget(acgroup.acGroupName) }}</td>
    <td>{{ form_widget(acgroup.unitFirst) }}</td>
    <td>{{ form_widget(acgroup.unitLast) }}</td>
    <td>{{ form_widget(acgroup.dcPowerInverter) }}</td>
    <td></td>
    {#
    <td>{{ form_widget(acgroup.weatherStation) }}</td>
    <td>{{ form_widget(acgroup.isEastWestGroup) }}</td>
    <td>{{ form_widget(acgroup.pyro1) }}</td>
    <td>{{ form_widget(acgroup.pyro2) }}</td>
    <td>{{ form_widget(acgroup.powerEast) }}</td>
    <td>{{ form_widget(acgroup.powerWest) }}</td>
    <td>{{ form_widget(acgroup.gewichtungAnlagenPR) }}</td>
    #}
    <td>{{ form_widget(acgroup.tCellAvg) }}</td>
    <td>{{ form_widget(acgroup.importId) }}</td>
    <td><a href="#" class="js-remove-acgroup"><span class="fa fa-minus-circle"></span></a></td>
</tr>
{% endmacro %}


{{ form_start(anlageForm) }} {# , {'attr': {'novalidate': 'yes'}}) #}
    <div class="grid-x">
        <div class="cell">
            <ul class="tabs" data-tabs id="anlage-tabs" data-deep-link="true">
                {% if is_granted('ROLE_G4N') %}
                    <li class="tabs-title is-active"><a data-tabs-target="acgroups" href="#acgroups" aria-selected="true">AC Groups</a></li>
                {% endif %}
            </ul>

            <div class="tabs-content" data-tabs-content="anlage-tabs">
                {# AC Groups #}
                <div class="tabs-panel is-active" id="acgroups">
                    <fieldset class="fieldset js-acgroup-wrapper"
                              data-prototype="{{ formMacros.addAcGroup(anlageForm.acGroups.vars.prototype)|e('html_attr') }}"
                              data-index="{{ anlageForm.acGroups|length }}">
                        <legend>AC Groups</legend>
                        <div class="cell">
                            <table id="js-acgroup">
                                <thead>
                                <tr>
                                    <th><small>AC Group (ID)</small></th>
                                    <th><small>Trafo Nr</small></th>
                                    <th><small>Name</small></th>
                                    <th><small>First Unit</small></th>
                                    <th><small>Last Unit</small></th>
                                    <th><small>DC Power for this AC Group</small></th>
                                    <th></th>
                                   {#  <th><small>Weatherstation</small></th>
                                    <th><small>Is East / West</small></th>
                                    <th><small>Pyra. (East, deafult) 1</small></th>
                                    <th><small>Pyra. (West) 2</small></th>
                                    <th><small>Power East</small></th>
                                    <th><small>Power West</small></th>
                                    <th><small>Gewichtung</small></th>
                                    #}
                                    <th><small>tCellAvg</small></th>
                                    <th><small>Import ID (VCOM)</small></th>
                                    <th><small>Aktion</small></th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for acgroup in anlageForm.acGroups %}
                                    <tr class="js-acgroup-item">
                                        <td>{{ form_widget(acgroup.acGroup) }}</td>
                                        <td>{{ form_widget(acgroup.trafoNr) }}</td>
                                        <td>{{ form_widget(acgroup.acGroupName) }}</td>
                                        <td>{{ form_widget(acgroup.unitFirst) }}</td>
                                        <td>{{ form_widget(acgroup.unitLast) }}</td>
                                        <td>{{ form_widget(acgroup.dcPowerInverter) }}</td>
                                        <td>{% if anlage.pnomInverterArray is defined and anlage.pnomInverterArray[loop.index] is defined %}{{ anlage.pnomInverterArray[loop.index] }}{% endif %}</td>
                                       {#
                                        <td>{{ form_widget(acgroup.weatherStation) }}</td>
                                        <td>{{ form_widget(acgroup.isEastWestGroup) }}</td>
                                        <td>{{ form_widget(acgroup.pyro1) }}</td>
                                        <td>{{ form_widget(acgroup.pyro2) }}</td>
                                        <td>{{ form_widget(acgroup.powerEast) }}</td>
                                        <td>{{ form_widget(acgroup.powerWest) }}</td>
                                        <td>{{ form_widget(acgroup.gewichtungAnlagenPR) }}</td>
                                        #}
                                        <td>{{ form_widget(acgroup.tCellAvg) }}</td>
                                        <td>{{ form_widget(acgroup.importId) }}</td>
                                        <td><a href="#" class="js-remove-acgroup"><span class="fa fa-minus-circle"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <button type="button" class="button secondary small js-add-acgroup"> <span class="fa fa-plus-circle"></span>&nbsp;Add </button>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-y action-menu">
        <div class="cell">
            {{ form_widget(anlageForm.save) }}
            {{ form_widget(anlageForm.saveclose) }}
            {{ form_widget(anlageForm.close) }}
            {% if (is_granted('ROLE_DEV')) %}{{ form_widget(anlageForm.savecreatedb) }}{% endif %}
        </div>
    </div>
    {% do anlageForm.acGroups.setRendered() %}
    {% do anlageForm.savecreatedb.setRendered() %}
{{ form_end(anlageForm) }}



