{% import _self as formMacros %}

{% macro addModule(module) %}
    <li class="accordion-item js-module-item" data-accordion-item data-allow-all-closed="true">
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Modul: NEW</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2">{{ form_row(module.type) }}</div>
                <div class="cell medium-2">{{ form_row(module.power) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefCurrent) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefVoltage) }}</div>
                <div class="cell medium-2">{{ form_row(module.tempCoefPower) }}</div>
                <div class="cell medium-2">{{ form_row(module.degradation) }}</div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-2">{{ form_row(module.maxImpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.maxUmpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.maxPmpp) }}</div>
                <div class="cell medium-2">{{ form_row(module.backSideFactor) }}</div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Current</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentC) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentD) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentE) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorCurrentHighA) }}</div>
                        </div>
                    </fieldset>
                </div>

                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Voltage</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageB) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightC) }}</div>
                        </div>
                    </fieldset>
                </div>

                <div class="cell medium-6 large-4">
                    <fieldset class="fieldset">
                        <legend>Operators Power</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorPowerA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerB) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerC) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerD) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerE) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighA) }}</div>
                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighB) }}</div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro addTimeConfig(timeConfig) %}
    <tr>
        <td>{{ form_widget(timeConfig.type) }}</td>
        <td>{{ form_widget(timeConfig.startDateMonth) }}</td>
        <td>{{ form_widget(timeConfig.startDateDay) }}</td>
        <td>{{ form_widget(timeConfig.endDateMonth) }}</td>
        <td>{{ form_widget(timeConfig.endDateDay) }}</td>
        <td>{{ form_widget(timeConfig.startTime) }}</td>
        <td>{{ form_widget(timeConfig.endTime) }}</td>
        <td>{{ form_widget(timeConfig.maxFailTime) }}</td>
        <td></td>
    </tr>
{% endmacro %}

{{ form_start(anlageForm, {'attr': {'novalidate': 'no'}} ) }}

    <div class="grid-x">
        <div class="cell">
            <ul class="tabs" data-tabs id="anlage-tabs" data-deep-link="true">
                <li class="tabs-title is-active"><a data-tabs-target="plant-data" href="#plant-data" aria-selected="true" >General</a></li>
                {% if is_granted('ROLE_G4N') %}
                    <li class="tabs-title"><a data-tabs-target="plant-config" href="#plant-config">Plant configuration</a></li>
                    <li class="tabs-title"><a data-tabs-target="availability" href="#availability">PA & PR Setup</a></li>
                    <li class="tabs-title"><a data-tabs-target="ticket" href="#ticket">Ticket & Alert Setup</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="tabs-title"><a data-tabs-target="modules" href="#modules">Modules</a></li>
                    {% endif %}
                    <li class="tabs-title"><a data-tabs-target="settings" href="#settings">Settings</a></li>
                    <li class="tabs-title"><a data-tabs-target="timeing" href="#timeing">Time Configuration</a></li>
                {% endif %}
            </ul>

            <div class="tabs-content" data-tabs-content="anlage-tabs">
                {# General #}
                <div class="tabs-panel is-active" id="plant-data">

                    <fieldset class="fieldset">
                        <legend>Standort</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-3">{{ form_row(anlageForm.eigner) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.anlName) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.projektNr) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.customPlantId) }}</div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-4">{{ form_row(anlageForm.anlStrasse) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.anlPlz) }}</div>
                            <div class="cell medium-4">{{ form_row(anlageForm.anlOrt) }}</div>
                            <div class="cell medium-2">{{ form_row(anlageForm.country) }}</div>
                        </div>
                        <hr>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-6">
                                {{ form_row(anlageForm.anlGeoLat) }}
                            </div>
                            <div class="cell medium-6">
                                {{ form_row(anlageForm.anlGeoLon) }}
                            </div>
                        </div>
                        <hr>
                        <div class="grid-x grid-padding-x">
                            <div class="cell">
                                {{ form_row(anlageForm.notes)}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend>Basis Konfiguration</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-3">{{ form_row(anlageForm.anlIntnr) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.anlType) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.anlZeitzone) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.anlBetrieb) }}</div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-3">{{ form_row(anlageForm.anlInputDaily) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.useNewDcSchema) }}</div>
                            <div class="cell medium-3">{{ form_row(anlageForm.configType) }}</div>
                            <div class="cell medium-3">{{ form_row((anlageForm.pathToImportScript)) }}</div>
                        </div>
                        {% endif %}
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend>Konfiguration Wetter Daten</legend>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-4">{{ form_row(anlageForm.WeatherStation) }}</div>
                            <div class="cell medium-4">{{ form_row(anlageForm.useLowerIrrForExpected) }}</div>
                        </div>
                    </fieldset>
                </div>

                {# Plant Configuration #}
                <div class="tabs-panel" id="plant-config">
                    <div class="grid-x grid-padding-x">
                        {# Spalte 1 #}
                        <div class="cell medium-6">
                            <fieldset class="fieldset">
                                <legend>Anlagenleistung</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row(anlageForm.pnom) }}</div>
                                    <div class="cell medium-4">{{ form_row(anlageForm.kwPeakPvSyst) }}</div>
                                    <div class="cell medium-4">{{ form_row(anlageForm.kwPeakPLDCalculation) }}</div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>Anlage hat Ost / West Ausrichtung</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row(anlageForm.isOstWestAnlage) }}</div>
                                    <div class="cell medium-4">{{ form_row(anlageForm.powerEast) }}</div>
                                    <div class="cell medium-4">{{ form_row(anlageForm.powerWest) }}</div>
                                </div>
                            </fieldset>


                            <fieldset class="fieldset">
                                <legend>Config</legend>
                                <div class="grid-x">
                                    <div class="cell medium-6"> {{ form_row(anlageForm.useGridMeterDayData) }}</div>
                                    <div class="cell medium-6"> {{ form_row(anlageForm.hasDc) }}</div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell medium-6"> {{ form_row(anlageForm.hasStrings) }}</div>
                                    <div class="cell medium-6"> {{ form_row(anlageForm.hasPPC) }}</div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell medium-6"> {{ form_row(anlageForm.hasPannelTemp) }}</div>
                                    <div class="cell medium-6"> {{ form_row(anlageForm.useCosPhi) }}</div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell medium-6"> {{ form_row(anlageForm.hasFrequency) }}</div>
                                    <div class="cell medium-6"> {{ form_row(anlageForm.ignoreNegativEvu) }}</div>
                                </div>
                            </fieldset>
                        </div>

                        {# Spalte 2 #}
                        <div class="cell medium-6">
                            <fieldset class="fieldset">
                                <legend>Report Konfiguration</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row(anlageForm.epcReportType) }}</div>
                                    <div class="cell medium-4"></div>
                                    <div class="cell medium-4"></div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>Vertragliche Werte (PR Garantie)</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row((anlageForm.contractualPR)) }}</div>
                                    <div class="cell medium-4">{{ form_row((anlageForm.designPR)) }}</div>
                                </div>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">{{ form_row((anlageForm.lid)) }}</div>
                                    <div class="cell medium-3">{{ form_row((anlageForm.annualDegradation)) }}</div>
                                    <div class="cell medium-3">{{ form_row((anlageForm.pldPR)) }}</div>
                                    <div class="cell medium-3">{{ form_row((anlageForm.pldNPValue)) }}</div>
                                </div>
                                <div class="grid-x grid-margin-x">
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>Vertragliche Werte (Ertragsgarantie)</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row((anlageForm.contractualPower)) }}</div>
                                    <div class="cell medium-4">{{ form_row((anlageForm.transformerTee)) }}</div>
                                    <div class="cell medium-4">{{ form_row((anlageForm.guaranteeTee)) }}</div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>Vertragliche Werte (Verfügbarkeit)</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row((anlageForm.contractualAvailability)) }}</div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>PLD </legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-12">{{ form_row(anlageForm.pldAlgorithm) }}</div>
                                </div>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-4">{{ form_row((anlageForm.pldYield)) }}</div>
                                    <div class="cell medium-4">{{ form_row((anlageForm.pldDivisor)) }}</div>
                                    <div class="cell medium-4">{{ form_row(anlageForm.usePnomForPld) }}</div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>PAC / FAC Konfiguration</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">{{ form_row(anlageForm.pacDate) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.pacDateEnd) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.usePac) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.pacDuration) }}</div>
                                </div>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">{{ form_row(anlageForm.facDateStart) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.facDate) }}</div>
                                    <div class="cell medium-3"></div>
                                    <div class="cell medium-3"></div>
                                </div>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">{{ form_row(anlageForm.epcReportStart) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.epcReportEnd) }}</div>
                                    <div class="cell medium-3"></div>
                                    <div class="cell medium-3"></div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>G4N Forecast</legend>
                                <div class="grid-x grid-margin-x">
                                    <div class="cell medium-3">{{ form_row(anlageForm.useDayForecast) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.degradationForecast) }}</div>
                                    <div class="cell medium-3">{{ form_row(anlageForm.lossesForecast) }}</div>
                                </div>
                            </fieldset>
                            <fieldset class="fieldset">
                                <legend>Asset Management Configuration</legend>
                                <div class="cell medium-3">{{ form_row(anlageForm.dataSourceAM) }}</div>
                                <div class="cell medium-3">{{ form_row(anlageForm.retrieveAllData) }}</div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                {# Availability & PR#}
                <div class="tabs-panel" id="availability">
                    <div class="grid-x">
                        <div class="cell">
                            <fieldset class="fieldset">
                                <legend>Department Settings</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Technical</legend>
                                            {{ form_row(anlageForm.settings.disableDep0) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 1 (O&M)</legend>
                                            {{ form_row(anlageForm.settings.disableDep1) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 2 (EPC)</legend>
                                            {{ form_row(anlageForm.settings.disableDep2) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 3 (AM)</legend>
                                            {{ form_row(anlageForm.settings.disableDep3) }}
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <fieldset class="fieldset">
                                <legend>PA Berechnung</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Technical</legend>
                                            {{ form_row(anlageForm.threshold1PA0) }}
                                            {{ form_row(anlageForm.threshold2PA0) }}
                                            {{ form_row(anlageForm.paFormular0) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 1 (O&M)</legend>
                                            {{ form_row(anlageForm.threshold1PA1) }}
                                            {{ form_row(anlageForm.threshold2PA1) }}
                                            {{ form_row(anlageForm.paFormular1) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 2 (EPC)</legend>
                                            {{ form_row(anlageForm.threshold1PA2) }}
                                            {{ form_row(anlageForm.threshold2PA2) }}
                                            {{ form_row(anlageForm.paFormular2) }}
                                        </fieldset>
                                    </div>
                                    <div class="cell medium-3">
                                        <fieldset class="fieldset">
                                            <legend>Department 3 (AM)</legend>
                                            {{ form_row(anlageForm.threshold1PA3) }}
                                            {{ form_row(anlageForm.threshold2PA3) }}
                                            {{ form_row(anlageForm.paFormular3) }}
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="grid-x ">
                        <div class="cell">
                            <fieldset class="fieldset">
                                <legend>PR Berechnung</legend>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell">
                                        <div class="grid-x grid-padding-x">
                                            <div class="cell medium-3">
                                                <fieldset class="fieldset">
                                                    <legend>Technical</legend>
                                                    {{ form_row(anlageForm.prFormular0) }}
                                                </fieldset>
                                            </div>
                                            <div class="cell medium-3">
                                                <fieldset class="fieldset">
                                                    <legend>Department 1 (O&M)</legend>
                                                    {{ form_row(anlageForm.prFormular1) }}
                                                </fieldset>
                                            </div>
                                            <div class="cell medium-3">
                                                <fieldset class="fieldset">
                                                    <legend>Department 2 (EPC)</legend>
                                                    {{ form_row(anlageForm.prFormular2) }}
                                                </fieldset>
                                            </div>
                                            <div class="cell medium-3">
                                                <fieldset class="fieldset">
                                                    <legend>Department 3 (AM)</legend>

                                                    {{ form_row(anlageForm.prFormular3) }}
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-x grid-padding-x">
                                    <div class="cell">
                                        <fieldset class="fieldset">
                                            <legend>Settings for PR Calculation</legend>
                                            <div class="grid-x grid-padding-x">
                                                <div class="cell medium-2">{{ form_row(anlageForm.tempCorrCellTypeAvg) }}</div>
                                                <div class="cell medium-2">{{ form_row(anlageForm.tempCorrGamma) }}</div>
                                                <div class="cell medium-2">{{ form_row(anlageForm.tempCorrA) }}</div>
                                                <div class="cell medium-2">{{ form_row(anlageForm.tempCorrB) }}</div>
                                                <div class="cell medium-2">{{ form_row(anlageForm.tempCorrDeltaTCnd) }}</div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                {# Ticket #}
                <div class="tabs-panel" id="ticket">
                    <div class="grid-x grid-padding-x">
                        <div class="cell small-12 medium-6">
                            <fieldset class="fieldset">
                                <legend>Ticket</legend>
                                {{ form_row(anlageForm.ActivateTicketSystem) }}
                                <div class="grid-x grid-margin-x">
                                    <div class="cell small-6">
                                        {{ form_row(anlageForm.freqBase) }}
                                    </div>
                                    <div class="cell small-6">
                                        {{ form_row(anlageForm.freqTolerance) }}
                                    </div>
                                </div>
                                {% if (anlage.anlType != "masterslave") %}
                                    <div class="grid-x grid-margin-x">
                                        <div class="cell small-6">
                                            {{ form_row(anlageForm.expectedTicket) }}
                                        </div>
                                        <div class="cell small-6">
                                            {{ form_row(anlageForm.percentageDiff) }}
                                        </div>
                                    </div>
                                {% else %}
                                    {% do anlageForm.expectedTicket.setRendered() %}
                                    {% do anlageForm.percentageDiff.setRendered() %}
                                {% endif %}
                                {{ form_row(anlageForm.weatherTicket) }}
                                {{ form_row(anlageForm.kpiTicket) }}
                                {{ form_row(anlageForm.gridTicket) }}
                                <div class="grid-x">
                                    <div class="cell small-6">

                                    </div>
                                    <div class="cell small-6">

                                    </div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell small-6">

                                    </div>
                                    <div class="cell small-6">

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="cell small-12 medium-6">
                            <fieldset class="fieldset">
                                <legend>Alert</legend>




                            </fieldset>
                        </div>
                    </div>
                </div>

                {# Modules #}
                <div class="tabs-panel" id="modules">
                    <fieldset class="fieldset js-module-wrapper"
                              data-prototype="{{ formMacros.addModule(anlageForm.modules.vars.prototype)|e('html_attr') }}"
                              data-index="{{ anlageForm.modules|length }}"
                    >
                        <legend>Modules</legend>

                        <div id="modules">
                            <ul id="js-accordion" class="accordion" data-accordion data-allow-all-closed="true">
                                {% for module in anlageForm.modules %}
                                    <li class="accordion-item js-module-item" data-accordion-item data-allow-all-closed="true">
                                        <!-- Accordion tab title -->
                                        <a href="#" class="accordion-title">Modul Type: <b>{{ module.type.vars.value }}</b>{% if is_granted('ROLE_G4N') %} - (Module ID: {{ module.vars.data.id }}) {% endif %}</a>

                                        <div class="accordion-content" data-tab-content>
                                            <div class="grid-x grid-padding-x">
                                                <div class="cell medium-2">{{ form_row(module.type) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.power) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.tempCoefCurrent) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.tempCoefVoltage) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.tempCoefPower) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.degradation) }}</div>
                                            </div>
                                            <div class="grid-x grid-padding-x">
                                                <div class="cell medium-2">{{ form_row(module.maxImpp) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.maxUmpp) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.maxPmpp) }}</div>
                                                <div class="cell medium-2">{{ form_row(module.backSideFactor) }}</div>
                                            </div>
                                            <div class="grid-x grid-padding-x">
                                                <div class="cell medium-6 large-4">
                                                    <fieldset class="fieldset">
                                                        <legend>Operators Current</legend>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentA) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentB) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentC) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentD) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentE) }}</div>
                                                        </div>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorCurrentHighA) }}</div>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="cell medium-6 large-4">
                                                    <fieldset class="fieldset">
                                                        <legend>Operators Voltage</legend>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorVoltageA) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorVoltageB) }}</div>
                                                        </div>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightA) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightB) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorVoltageHightC) }}</div>
                                                        </div>
                                                    </fieldset>
                                                </div>

                                                <div class="cell medium-6 large-4">
                                                    <fieldset class="fieldset">
                                                        <legend>Operators Power</legend>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerA) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerB) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerC) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerD) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerE) }}</div>
                                                        </div>
                                                        <div class="grid-x grid-padding-x">
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighA) }}</div>
                                                            <div class="cell medium-2">{{ form_row(module.operatorPowerHighB) }}</div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button type="button" class="button secondary small js-add-module"> <span class="fa fa-plus-circle"></span>&nbsp;Add Modul</button>
                    </fieldset>
                </div>

                {# Settings and Config #}
                {{ include('anlagen/_incl/_settings.html.twig') }}

                {# Timings #}
                <div class="tabs-panel" id="timeing">
                    <div class="grid-x grid-margin-x">
                        <div class="cell">

                            <fieldset class="fieldset js-timeConfig-wrapper"
                                      data-prototype="{{ formMacros.addTimeConfig(anlageForm.timesConfigs.vars.prototype)|e('html_attr') }}"
                                      data-index="{{ anlageForm.timesConfigs|length }}"
                            >
                                <legend>Timings</legend>
                                <table id="timeConfig">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Begin Date Month</th>
                                        <th>Begin Date Day</th>
                                        <th>End Date Month</th>
                                        <th>End Date Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Max Fail </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for timeConfig in anlageForm.timesConfigs %}
                                        <tr class="js-timeConfig-item">
                                            <td>{{ form_widget(timeConfig.type) }}</td>
                                            <td>{{ form_widget(timeConfig.startDateMonth) }}</td>
                                            <td>{{ form_widget(timeConfig.startDateDay) }}</td>
                                            <td>{{ form_widget(timeConfig.endDateMonth) }}</td>
                                            <td>{{ form_widget(timeConfig.endDateDay) }}</td>
                                            <td>{{ form_widget(timeConfig.startTime) }}</td>
                                            <td>{{ form_widget(timeConfig.endTime) }}</td>
                                            <td>{{ form_widget(timeConfig.maxFailTime) }}</td>
                                            <td>{% if is_granted('ROLE_DEV') %}<a href="#" class="js-remove-timeConfig"><span class="fa fa-minus-circle"></span></a>{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button type="button" class="button secondary small js-add-timeConfig"> <span class="fa fa-plus-circle"></span>&nbsp;Add Time Configuartion</button>
                            </fieldset>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-y action-menu">
        <div class="cell">
            {{ form_widget(anlageForm.save) }}
            {{ form_widget(anlageForm.saveclose) }}
            {{ form_widget(anlageForm.close) }}
            {% if (is_granted('ROLE_DEV')) %}
                {{ form_widget(anlageForm.savecreatedb) }}
            {% endif %}
        </div>
    </div>
    {% do anlageForm.modules.setRendered() %}
    {% do anlageForm.savecreatedb.setRendered() %}
    {% do anlageForm.timesConfigs.setRendered() %}
    {% do anlageForm.anlInputDaily.setRendered() %}
    {% do anlageForm.configType.setRendered() %}
{{ form_end(anlageForm) }}
